In [64]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup
from __future__ import print_function

import datetime
#imports

# Ideas

Raise error when len does not match before and after merging datasets (means that a player wasn't found -- likely because he is a junior or has two last names, etc.)

# To Do

1. Address last name issue
2. Address issue of list not being equal to 30
    - Really need to add TBD or something for the pitchers who are not listed yet
3. Get pitcher xba onto
4. Deal with doubleheaders

In [65]:
batters_df = pd.read_csv('../data/individual_batting_stats.csv')
pitchers_df = pd.read_csv('../data/individual_pitching_stats.csv')
misc_batters = pd.read_csv('../data/batters_teams.csv')
misc_pitchers = pd.read_csv('../data/pitchers_teams.csv')

In [66]:
duplicate_name_check = pitchers_df[['first_name', 'last_name']]

In [67]:
batters_df[batters_df['last_name'].str.contains(" ")]

,last_name,first_name,player_id,year,b_k_percent,b_bb_percent,batting_avg,xba,xslg,xwoba,xobp,xiso,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 15
5,Cruz Jr.,Nelson,443558,2022,19.7,11.1,0.157,0.242,0.428,0.327,0.329,0.187,89.0,6.1,8.8,NaN
19,Brantley Jr.,Michael,488726,2022,13.0,7.4,0.273,0.318,0.526,0.377,0.369,0.208,89.3,11.4,7.0,NaN
64,Springer III,George,543807,2022,21.8,5.9,0.283,0.275,0.498,0.356,0.339,0.223,90.6,16.6,9.8,NaN
94,Voit III,Luke,572228,2022,31.5,18.5,0.143,0.150,0.271,0.280,0.321,0.121,85.9,19.0,7.7,NaN
139,Bradley Jr.,Jackie,598265,2022,22.8,7.6,0.202,0.231,0.368,0.286,0.290,0.137,89.8,8.2,3.1,NaN
233,Mancini III,Trey,641820,2022,21.1,6.4,0.280,0.311,0.537,0.374,0.352,0.227,89.5,10.2,10.1,NaN
270,De La Cruz,Bryan,650559,2022,24.2,18.2,0.269,0.225,0.365,0.322,0.361,0.140,86.3,9.1,5.3,NaN
279,Mullins II,Cedric,656775,2022,20.0,5.4,0.239,0.264,0.489,0.351,0.332,0.225,90.5,19.7,10.9,NaN
291,Acuna Jr.,Ronald,660670,2022,36.6,9.8,0.278,0.286,0.690,0.436,0.373,0.405,93.0,3.1,28.6,NaN
308,Rivas III,Alfonso,663845,2022,26.3,18.4,0.290,0.211,0.324,0.301,0.356,0.114,87.7,-1.2,4.8,NaN
328,Guerrero Jr.,Vladimir,665489,2022,19.2,10.0,0.286,0.317,0.609,0.413,0.389,0.292,93.2,7.3,13.1,NaN
332,Chisholm Jr.,Jazz,665862,2022,23.0,7.0,0.300,0.299,0.619,0.407,0.353,0.320,91.5,18.9,15.9,NaN
342,Gurriel Jr.,Lourdes,666971,2022,17.8,5.1,0.241,0.253,0.429,0.316,0.304,0.177,91.8,11.9,4.5,NaN
366,Friedl Jr.,TJ,670770,2022,29.7,5.4,0.176,0.205,0.289,0.237,0.247,0.083,88.5,9.0,4.2,NaN
379,Witt Jr.,Bobby,677951,2022,21.0,3.0,0.229,0.216,0.321,0.246,0.247,0.105,88.4,15.1,4.0,NaN

In [68]:
len(batters_df)

388

In [69]:
# bat_xbadiff = batters_df[['last_name', 'first_name', 'xbadiff','batting_avg', 'xba']]
#Make a table with just the xBA difference

In [70]:
# pitch_xbadiff = pitchers_df[['last_name', 'first_name', 'xbadiff', 'batting_avg', 'xba']]
# pitch_xbadiff.sort_values('xba', ascending=False)

# Probable Pitchers

In [71]:
url = 'https://www.mlb.com/probable-pitchers/2022-05-13'
#URL of where I will get the pitchers' names

In [72]:
res = requests.get(url)
soup = BeautifulSoup(res.content)
#Making request to the site and storing it in soup

In [73]:
# pitchers = soup.find_all('div', {'class': 'probable-pitchers__pitcher-name'})

In [74]:
pitchers = soup.find_all('a', {'class': 'probable-pitchers__pitcher-name-link'})
probable_pitchers = []
for i in pitchers:
    probable_pitchers.append(str(i))
#Finding all of the pitchers' names within that <a> tag
#Using for loop to convert the beautiful soup elements in the list to strings so I can get only the pitcher's name from there

#Important to note that if a pitcher is TBD then he is skipped, so need to figure out how to account for that

In [75]:
probable_pitchers = [i.split('">')[1] for i in probable_pitchers] 
#Getting only the pitchers' names

In [76]:
probable_pitchers

['Tyler Mahle</a>',
 'Mitch Keller</a>',
 'Corbin Burnes</a>',
 'Pablo Lopez</a>',
 'Framber Valdez</a>',
 'Josiah Gray</a>',
 'Jordan Lyles</a>',
 'Eduardo Rodriguez</a>',
 'Marco Gonzales</a>',
 'Max Scherzer</a>',
 'Kevin Gausman</a>',
 'Drew Rasmussen</a>',
 'Yu Darvish</a>',
 'Max Fried</a>',
 'Nick Pivetta</a>',
 'Aaron Civale</a>',
 'Sonny Gray</a>',
 'Gerrit Cole</a>',
 'Vince Velasquez</a>',
 'Logan Webb</a>',
 'Jordan Hicks</a>',
 'Zack Greinke</a>',
 'Kyle Freeland</a>',
 'Drew Smyly</a>',
 'Zach Davies</a>',
 'Chase Silseth</a>',
 'Daulton Jefferies</a>',
 'Kyle Gibson</a>',
 'Clayton Kershaw</a>']

In [77]:
probable_pitchers = [i.split('</a')[0] for i in probable_pitchers] 
#Getting only the pitchers' names part 2

In [78]:
probable_pitchers = [i.split() for i in probable_pitchers]
#Splitting name into first and last name columns

In [79]:
len(probable_pitchers)

29

In [80]:
probable_pitchers.insert(15, ['Albert', 'Abreu'])
#Temporary

In [81]:
len(probable_pitchers)

30

In [82]:
df_probable_pitchers = pd.DataFrame(probable_pitchers)
#Setting list as Pandas DF

In [83]:
df_probable_pitchers = df_probable_pitchers.rename(columns={0: "first_name", 1: "last_name"})
#Renaming column

# Get Pitchers' Teams

In [84]:
new_teams = soup.find_all('span', {'class':['probable-pitchers__team-name probable-pitchers__team-name--away', 'probable-pitchers__team-name probable-pitchers__team-name--home']})
teams_of_probable_pitchers = []
for i in new_teams:
    teams_of_probable_pitchers.append(str(i))
#Finding all of the pitchers' names within that <a> tag
#Using for loop to convert the beautiful soup elements in the list to strings so I can get only the pitcher's name from there

In [85]:
teams_of_probable_pitchers = [x.strip(' ') for x in teams_of_probable_pitchers]
#Getting only the pitchers' names

In [86]:
teams_of_probable_pitchers = [i.split('>\n')[1] for i in teams_of_probable_pitchers] 
#Getting only the pitchers' names

In [87]:
teams_of_probable_pitchers = teams_of_probable_pitchers = [x.strip('                             ') for x in teams_of_probable_pitchers]
#Stripping white space

In [88]:
teams_of_probable_pitchers = [i.split('\n')[0] for i in teams_of_probable_pitchers]

In [89]:
len(teams_of_probable_pitchers)

30

In [90]:
df_probable_pitchers

   first_name  last_name
0       Tyler      Mahle
1       Mitch     Keller
2      Corbin     Burnes
3       Pablo      Lopez
4     Framber     Valdez
5      Josiah       Gray
6      Jordan      Lyles
7     Eduardo  Rodriguez
8       Marco   Gonzales
9         Max   Scherzer
10      Kevin    Gausman
11       Drew  Rasmussen
12         Yu    Darvish
13        Max      Fried
14       Nick    Pivetta
15     Albert      Abreu
16      Aaron     Civale
17      Sonny       Gray
18     Gerrit       Cole
19      Vince  Velasquez
20      Logan       Webb
21     Jordan      Hicks
22       Zack    Greinke
23       Kyle   Freeland
24       Drew      Smyly
25       Zach     Davies
26      Chase    Silseth
27    Daulton  Jefferies
28       Kyle     Gibson
29    Clayton    Kershaw

In [91]:
df_probable_pitchers['team'] = teams_of_probable_pitchers
#Putting team on this way, now we just need to change it to the abbreviation

In [92]:
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Astros', 'HOU', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Nationals', 'WAS', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Giants', 'SF', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Blue Jays', 'TOR', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Angels', 'LAA', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'White Sox', 'CWS', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Guardians', 'CLE', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Athletics', 'OAK', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Twins', 'MIN', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Rays', 'TB', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Mariners', 'SEA', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Marlins', 'MIA', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Padres', 'SD', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Pirates', 'PIT', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Red Sox', 'BOS', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Orioles', 'BAL', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Braves', 'ATL', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Rangers', 'TEX', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Phillies', 'PHI', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Mets', 'NYM', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Yankees', 'NYY', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Royals', 'KC', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Cubs', 'CHC', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Brewers', 'MIL', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Reds', 'CIN', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Rockies', 'COL', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Tigers', 'DET', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Dodgers', 'LAD', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'D-backs', 'ARI', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Cardinals', 'STL', df_probable_pitchers['team'])
#Changing team nickname to abbreviation so it will match the other DF -- Will clean this up in the future

In [93]:
misc_pitchers = misc_pitchers[['Player', 'Team']]
#All we need from this is their names and the team, because we will merge it with the other df to get the name on there

In [94]:
misc_pitchers[['first_name', 'last_name']] = misc_pitchers['Player'].str.split(' ', 1, expand=True)
#Separating 'Player' column into two columns for first and last to match probable_pitchers df

In [95]:
misc_pitchers = misc_pitchers.drop(columns='Player')
#We don't need this full name column anymore

In [96]:
misc_pitchers = misc_pitchers.rename(columns={"Team": "team"})
#Make this lowercase so it matches team column in probable pitchers

In [97]:
misc_pitchers = misc_pitchers[['last_name', 'first_name', 'team']]
#reordering columns

# Get Batters' Teams

In [98]:
misc_batters = misc_batters[['Player', 'Team']]
#All we need from this is their names and the team, because we will merge it with the other df to get the name on there

In [99]:
misc_batters[['first_name', 'last_name']] = misc_batters['Player'].str.split(' ', 1, expand=True)
#Separating 'Player' column into two columns for first and last to match probable_pitchers df

In [100]:
misc_batters = misc_batters.drop(columns='Player')
#We don't need this full name column anymore

In [101]:
misc_batters = misc_batters[['last_name', 'first_name', 'Team']]
#Reordering columns

In [102]:
len(df_probable_pitchers)

30

In [103]:
pitchers_df['first_name'] = pitchers_df['first_name'].str.strip()
batters_df['first_name'] = batters_df['first_name'].str.strip()
#Removing empty space in these column entries for example this makes ' Cabrera' => 'Cabrera'

batters_df and pitchers_df front names all have a space in front of them and that's why merge is not working

# Attaching according Team Name to each player in all DFs

The datasets on Baseball Savant do not include the team name with they players, so I will add them in

In [104]:
df_probable_pitchers = pd.merge(df_probable_pitchers, misc_pitchers, on=['last_name', 'first_name', 'team'], how='left')
pitchers_df = pd.merge(pitchers_df, misc_pitchers, on=['last_name', 'first_name'], how='inner')
batters_df = pd.merge(batters_df, misc_batters, on=['last_name', 'first_name'], how='inner')
#Adding team to all of the players
#Joining probables as a left join so it will include all of the probables without exception -- may make one of their stats
# unavailable if they don't have enough PAs

In [105]:
# ^^^^ FOR PROBABLE PITCHERS MATCH IT ON TEAM AS WELL. THAT WILL AVOID THE LUIS GARCIA SITUATION

In [106]:
# pitchers_df.loc[pitchers_df['last_name'] == 'Garcia']
#So somewhere it has duplicated Garcia

In [107]:
hello = pd.merge(df_probable_pitchers, pitchers_df)
#test

In [108]:
df_probable_pitchers = pd.merge(df_probable_pitchers, pitchers_df, on=['team', 'last_name', 'first_name'], how='left')
#Adding stats to probable pitchers

#This is what is adding the other Luis Garcia

# Which player to pick for BTS

In [109]:
pp_xba = df_probable_pitchers[['last_name', 'first_name', 'team', 'batting_avg', 'xba', 'xslg', 'p_bb_percent']]
#How can I compare this to batters df??

In [110]:
pp_xba.rename(columns= {'xba': 'pitcher_xba'})
#Eventually might move this to another df or merge, unclear

    last_name first_name team  batting_avg  pitcher_xba   xslg  p_bb_percent
0       Mahle      Tyler  CIN        0.256        0.241  0.391          12.2
1      Keller      Mitch  PIT        0.284        0.238  0.395           7.9
2      Burnes     Corbin  MIL        0.170        0.212  0.385           5.5
3       Lopez      Pablo  MIA        0.186        0.246  0.359           5.8
4      Valdez    Framber  HOU        0.227        0.251  0.305          10.9
5        Gray     Josiah  WAS        0.219        0.224  0.453          12.2
6       Lyles     Jordan  BAL        0.298        0.293  0.488           7.4
7   Rodriguez    Eduardo  DET        0.213        0.245  0.474           8.1
8    Gonzales      Marco  SEA        0.290        0.313  0.604           8.4
9    Scherzer        Max  NYM        0.197        0.213  0.396           6.3
10    Gausman      Kevin  TOR        0.255        0.260  0.395           0.7
11  Rasmussen       Drew   TB        0.192        0.254  0.439           6.3
12    Darvish         Yu   SD        0.210        0.242  0.430           7.3
13      Fried        Max  ATL        0.212        0.263  0.423           1.4
14    Pivetta       Nick  BOS        0.286        0.295  0.537          10.8
15      Abreu     Albert  TEX        0.154        0.227  0.511          28.9
16     Civale      Aaron  CLE        0.326        0.268  0.509           6.1
17       Gray      Sonny  MIN        0.189        0.221  0.468          11.9
18       Cole     Gerrit  NYY        0.205        0.238  0.408           8.8
19  Velasquez      Vince  CWS        0.247        0.286  0.581           9.1
20       Webb      Logan   SF        0.289        0.271  0.405           5.3
21      Hicks     Jordan  STL        0.175        0.223  0.449          14.7
22    Greinke       Zack   KC        0.270        0.322  0.543           2.2
23   Freeland       Kyle  COL        0.273        0.270  0.454           6.4
24      Smyly       Drew  CHC        0.258        0.269  0.516           5.1
25     Davies       Zach  ARI        0.213        0.251  0.417          10.6
26    Silseth      Chase  LAA          NaN          NaN    NaN           NaN
27  Jefferies    Daulton  OAK        0.286        0.278  0.457           3.9
28     Gibson       Kyle  PHI        0.202        0.234  0.404           9.0
29    Kershaw    Clayton  LAD        0.181        0.228  0.366           2.8

In [111]:
# pp_xba = pp_xba.drop([0])
# pp_xba = pp_xba.reset_index(drop=True)

In [112]:
pp_xba

    last_name first_name team  batting_avg    xba   xslg  p_bb_percent
0       Mahle      Tyler  CIN        0.256  0.241  0.391          12.2
1      Keller      Mitch  PIT        0.284  0.238  0.395           7.9
2      Burnes     Corbin  MIL        0.170  0.212  0.385           5.5
3       Lopez      Pablo  MIA        0.186  0.246  0.359           5.8
4      Valdez    Framber  HOU        0.227  0.251  0.305          10.9
5        Gray     Josiah  WAS        0.219  0.224  0.453          12.2
6       Lyles     Jordan  BAL        0.298  0.293  0.488           7.4
7   Rodriguez    Eduardo  DET        0.213  0.245  0.474           8.1
8    Gonzales      Marco  SEA        0.290  0.313  0.604           8.4
9    Scherzer        Max  NYM        0.197  0.213  0.396           6.3
10    Gausman      Kevin  TOR        0.255  0.260  0.395           0.7
11  Rasmussen       Drew   TB        0.192  0.254  0.439           6.3
12    Darvish         Yu   SD        0.210  0.242  0.430           7.3
13      Fried        Max  ATL        0.212  0.263  0.423           1.4
14    Pivetta       Nick  BOS        0.286  0.295  0.537          10.8
15      Abreu     Albert  TEX        0.154  0.227  0.511          28.9
16     Civale      Aaron  CLE        0.326  0.268  0.509           6.1
17       Gray      Sonny  MIN        0.189  0.221  0.468          11.9
18       Cole     Gerrit  NYY        0.205  0.238  0.408           8.8
19  Velasquez      Vince  CWS        0.247  0.286  0.581           9.1
20       Webb      Logan   SF        0.289  0.271  0.405           5.3
21      Hicks     Jordan  STL        0.175  0.223  0.449          14.7
22    Greinke       Zack   KC        0.270  0.322  0.543           2.2
23   Freeland       Kyle  COL        0.273  0.270  0.454           6.4
24      Smyly       Drew  CHC        0.258  0.269  0.516           5.1
25     Davies       Zach  ARI        0.213  0.251  0.417          10.6
26    Silseth      Chase  LAA          NaN    NaN    NaN           NaN
27  Jefferies    Daulton  OAK        0.286  0.278  0.457           3.9
28     Gibson       Kyle  PHI        0.202  0.234  0.404           9.0
29    Kershaw    Clayton  LAD        0.181  0.228  0.366           2.8

One thing I could do is... switch the one column with the next, and then merge it with the batter's df
So for example if Oakland is playing Cleveland, I can switch the pitchers with each other. So Oakland's pitcher will be on Cleveland, and then I will have the pitcher xba to match with the team. Then I can basically set that for every member of the team, and then add that with the hitter xba and see if it meets the condition

In [127]:
pp_xba.sort_values(by='xslg', ascending=False)

,last_name,first_name,team,pitcher_batting_avg,pitcher_xba,xslg,p_bb_percent,Team
8,Gonzales,Marco,SEA,0.290,0.313,0.604,8.4,NYM
19,Velasquez,Vince,CWS,0.247,0.286,0.581,9.1,NYY
22,Greinke,Zack,KC,0.270,0.322,0.543,2.2,COL
14,Pivetta,Nick,BOS,0.286,0.295,0.537,10.8,TEX
24,Smyly,Drew,CHC,0.258,0.269,0.516,5.1,ARI
15,Abreu,Albert,TEX,0.154,0.227,0.511,28.9,BOS
16,Civale,Aaron,CLE,0.326,0.268,0.509,6.1,MIN
6,Lyles,Jordan,BAL,0.298,0.293,0.488,7.4,DET
7,Rodriguez,Eduardo,DET,0.213,0.245,0.474,8.1,BAL
17,Gray,Sonny,MIN,0.189,0.221,0.468,11.9,CLE
27,Jefferies,Daulton,OAK,0.286,0.278,0.457,3.9,LAA
23,Freeland,Kyle,COL,0.273,0.270,0.454,6.4,KC
5,Gray,Josiah,WAS,0.219,0.224,0.453,12.2,HOU
21,Hicks,Jordan,STL,0.175,0.223,0.449,14.7,SF
11,Rasmussen,Drew,TB,0.192,0.254,0.439,6.3,TOR
12,Darvish,Yu,SD,0.210,0.242,0.430,7.3,ATL
13,Fried,Max,ATL,0.212,0.263,0.423,1.4,SD
25,Davies,Zach,ARI,0.213,0.251,0.417,10.6,CHC
18,Cole,Gerrit,NYY,0.205,0.238,0.408,8.8,CWS
20,Webb,Logan,SF,0.289,0.271,0.405,5.3,STL
28,Gibson,Kyle,PHI,0.202,0.234,0.404,9.0,LAD
9,Scherzer,Max,NYM,0.197,0.213,0.396,6.3,SEA
1,Keller,Mitch,PIT,0.284,0.238,0.395,7.9,CIN
10,Gausman,Kevin,TOR,0.255,0.260,0.395,0.7,TB
0,Mahle,Tyler,CIN,0.256,0.241,0.391,12.2,PIT
2,Burnes,Corbin,MIL,0.170,0.212,0.385,5.5,MIA
29,Kershaw,Clayton,LAD,0.181,0.228,0.366,2.8,PHI
3,Lopez,Pablo,MIA,0.186,0.246,0.359,5.8,MIL
4,Valdez,Framber,HOU,0.227,0.251,0.305,10.9,WAS
26,Silseth,Chase,LAA,NaN,NaN,NaN,NaN,OAK

In [114]:
batters_df.loc[batters_df['Team'] == 'STL']

,last_name,first_name,player_id,year,b_k_percent,b_bb_percent,batting_avg,xba,xslg,xwoba,xobp,xiso,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 15,Team
0,Pujols,Albert,405395,2022,17.0,8.5,0.220,0.221,0.402,0.316,0.321,0.180,87.6,21.4,3.0,NaN,STL
2,Molina,Yadier,425877,2022,13.1,0.0,0.230,0.216,0.314,0.226,0.216,0.098,87.2,19.1,1.9,NaN,STL
24,Goldschmidt,Paul,502671,2022,19.3,13.4,0.284,0.249,0.409,0.334,0.351,0.160,89.3,16.1,6.3,NaN,STL
79,Arenado,Nolan,571448,2022,13.9,10.4,0.330,0.287,0.513,0.370,0.362,0.226,87.8,24.7,9.2,NaN,STL
92,Dickerson,Corey,572816,2022,15.1,5.7,0.184,0.198,0.296,0.234,0.241,0.097,84.6,20.0,2.4,NaN,STL
205,Sosa,Edmundo,624641,2022,42.9,0.0,0.160,0.178,0.244,0.239,0.266,0.066,90.8,22.1,0.0,NaN,STL
230,O'Neill,Tyler,641933,2022,27.7,9.8,0.206,0.244,0.428,0.327,0.321,0.184,89.3,13.4,12.9,NaN,STL
276,DeJong,Paul,657557,2022,29.1,8.1,0.130,0.158,0.268,0.226,0.236,0.110,86.8,22.7,5.7,NaN,STL
303,Bader,Harrison,664056,2022,15.4,8.7,0.239,0.254,0.373,0.315,0.334,0.119,83.8,13.8,3.9,NaN,STL
325,Carlson,Dylan,666185,2022,16.4,5.5,0.220,0.204,0.292,0.247,0.263,0.087,84.0,10.6,2.4,NaN,STL
331,Knizner,Andrew,668800,2022,26.5,12.2,0.209,0.233,0.424,0.326,0.327,0.191,85.4,19.4,10.0,NaN,STL
336,Edman,Tommy,669242,2022,13.3,12.4,0.292,0.286,0.455,0.370,0.389,0.170,88.8,7.4,7.3,NaN,STL

In [115]:
pp_xba['Team'] = " "
#New column to house when I switch the teams with each other
#I'm doing this so I can eventually merge it onto the batters' df with the hitters' team

C:\Users\User\AppData\Local\Temp/ipykernel_10108/1964202557.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'] = " "

In [116]:
# pp_xba['opposing_team'][0] = pp_xba['team'][1]
# pp_xba['']
#Open to a cleaner way of doing this, but this is what I'll use for now

# Getting Pitcher Stats onto Batter DF

FOR NOW, UNTIL I CLEAN THE BELOW UP A LITTLE MORE AND HAVE IT ITERATE THROUGH AND ADJUST TO THE NUMBER OF ROWS PER DAY, JUST USE THE AMOUNT OF ROWS THAT THE LEN() SHOWS AND COMMENT OUT THE REST

In [117]:
len(pp_xba)

30

In [118]:
pp_xba['Team'][0] = pp_xba['team'][1]
pp_xba['Team'][1] = pp_xba['team'][0]
pp_xba['Team'][2] = pp_xba['team'][3]
pp_xba['Team'][3] = pp_xba['team'][2]
pp_xba['Team'][4] = pp_xba['team'][5]
pp_xba['Team'][5] = pp_xba['team'][4]
pp_xba['Team'][6] = pp_xba['team'][7]
pp_xba['Team'][7] = pp_xba['team'][6]
pp_xba['Team'][8] = pp_xba['team'][9]
pp_xba['Team'][9] = pp_xba['team'][8]
pp_xba['Team'][10] = pp_xba['team'][11]
pp_xba['Team'][11] = pp_xba['team'][10]
pp_xba['Team'][12] = pp_xba['team'][13]
pp_xba['Team'][13] = pp_xba['team'][12]
pp_xba['Team'][14] = pp_xba['team'][15]
pp_xba['Team'][15] = pp_xba['team'][14]
pp_xba['Team'][16] = pp_xba['team'][17]
pp_xba['Team'][17] = pp_xba['team'][16]
pp_xba['Team'][18] = pp_xba['team'][19]
pp_xba['Team'][19] = pp_xba['team'][18]
pp_xba['Team'][20] = pp_xba['team'][21]
pp_xba['Team'][21] = pp_xba['team'][20]
pp_xba['Team'][22] = pp_xba['team'][23]
pp_xba['Team'][23] = pp_xba['team'][22]
pp_xba['Team'][24] = pp_xba['team'][25]
pp_xba['Team'][25] = pp_xba['team'][24]
pp_xba['Team'][26] = pp_xba['team'][27]
pp_xba['Team'][27] = pp_xba['team'][26]
pp_xba['Team'][28] = pp_xba['team'][29]
pp_xba['Team'][29] = pp_xba['team'][28]
# pp_xba['Team'][30] = pp_xba['team'][31]
# pp_xba['Team'][31] = pp_xba['team'][30]

C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][0] = pp_xba['team'][1]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][1] = pp_xba['team'][0]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][2] = pp_xba['team'][3]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][3] = pp_xba['team'][2]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][4] = pp_xba['team'][5]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][5] = pp_xba['team'][4]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][6] = pp_xba['team'][7]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][7] = pp_xba['team'][6]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][8] = pp_xba['team'][9]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][9] = pp_xba['team'][8]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][10] = pp_xba['team'][11]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][11] = pp_xba['team'][10]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][12] = pp_xba['team'][13]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][13] = pp_xba['team'][12]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][14] = pp_xba['team'][15]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][15] = pp_xba['team'][14]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][16] = pp_xba['team'][17]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][17] = pp_xba['team'][16]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][18] = pp_xba['team'][19]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][19] = pp_xba['team'][18]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][20] = pp_xba['team'][21]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][21] = pp_xba['team'][20]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][22] = pp_xba['team'][23]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][23] = pp_xba['team'][22]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][24] = pp_xba['team'][25]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][25] = pp_xba['team'][24]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][26] = pp_xba['team'][27]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][27] = pp_xba['team'][26]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][28] = pp_xba['team'][29]
C:\Users\User\AppData\Local\Temp/ipykernel_10108/2011693318.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][29] = pp_xba['team'][28]

In [119]:
pp_xba = pp_xba.rename(columns={"batting_avg": "pitcher_batting_avg", "xba": "pitcher_xba"})
#Renaming columns for clarity

In [120]:
# pp_xba = pp_xba.drop([8])
#temporary

In [121]:
batters_df = pd.merge(batters_df, pp_xba[['Team','pitcher_xba']],on='Team', how='left')
#Getting pitcher data onto batters df

In [122]:
xba_sum = batters_df['xba'] + batters_df['pitcher_xba']
#Adding sum

In [123]:
batters_df['xba_total'] = xba_sum
#Adding xba sum into the batters dataframe

# Which Hitters to pick for BTS

Now we need to see

In [124]:
batters_df['xba_total'].isnull().sum()

12

In [125]:
gods = batters_df[batters_df['xba_total'] > .625]
gods

,last_name,first_name,player_id,year,b_k_percent,b_bb_percent,batting_avg,xba,xslg,xwoba,xobp,xiso,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 15,Team,pitcher_xba,xba_total
135,Daza,Yonathan,602074,2022,8.9,4.4,0.333,0.327,0.447,0.358,0.373,0.119,84.7,3.4,2.6,NaN,COL,0.322,0.649
143,Davis,J.D.,605204,2022,27.1,16.7,0.231,0.332,0.673,0.469,0.457,0.341,93.3,7.5,19.2,NaN,NYM,0.313,0.645
191,Reyes,Victor,622682,2022,16.0,8.0,0.261,0.394,0.568,0.432,0.442,0.174,91.1,3.6,5.3,NaN,DET,0.293,0.687
260,Castro,Willi,650489,2022,18.5,7.4,0.240,0.394,0.458,0.392,0.439,0.063,85.2,8.0,5.0,NaN,DET,0.293,0.687

In [126]:
picky = batters_df[(batters_df['xba'] > .300) & (batters_df['pitcher_xba'] > .300) & (batters_df['xba_total'] > .650)]
picky

Empty DataFrame
Columns: [last_name, first_name, player_id, year, b_k_percent, b_bb_percent, batting_avg, xba, xslg, xwoba, xobp, xiso, exit_velocity_avg, launch_angle_avg, barrel_batted_rate, Unnamed: 15, Team, pitcher_xba, xba_total]
Index: []