In [1162]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup
from __future__ import print_function

import datetime
#imports

# Ideas

Raise error when len does not match before and after merging datasets (means that a player wasn't found -- likely because he is a junior or has two last names, etc.)

# To Do

1. Address last name issue
2. Address issue of list not being equal to 30
    - Really need to add TBD or something for the pitchers who are not listed yet
3. Get pitcher xba onto
4. Deal with doubleheaders

In [1163]:
batters_df = pd.read_csv('../data/individual_batting_stats.csv')
pitchers_df = pd.read_csv('../data/individual_pitching_stats.csv')
misc_batters = pd.read_csv('../data/batters_teams.csv')
misc_pitchers = pd.read_csv('../data/pitchers_teams.csv')

In [1164]:
duplicate_name_check = pitchers_df[['first_name', 'last_name']]

In [1165]:
batters_df[batters_df['last_name'].str.contains(" ")]

,last_name,first_name,player_id,year,b_k_percent,b_bb_percent,batting_avg,xba,xslg,xwoba,xobp,xiso,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 15
5,Cruz Jr.,Nelson,443558,2022,19.7,11.1,0.157,0.242,0.428,0.327,0.329,0.187,89.0,6.1,8.8,NaN
19,Brantley Jr.,Michael,488726,2022,13.0,7.4,0.273,0.318,0.526,0.377,0.369,0.208,89.3,11.4,7.0,NaN
64,Springer III,George,543807,2022,21.8,5.9,0.283,0.275,0.498,0.356,0.339,0.223,90.6,16.6,9.8,NaN
94,Voit III,Luke,572228,2022,31.5,18.5,0.143,0.150,0.271,0.280,0.321,0.121,85.9,19.0,7.7,NaN
139,Bradley Jr.,Jackie,598265,2022,22.8,7.6,0.202,0.231,0.368,0.286,0.290,0.137,89.8,8.2,3.1,NaN
233,Mancini III,Trey,641820,2022,21.1,6.4,0.280,0.311,0.537,0.374,0.352,0.227,89.5,10.2,10.1,NaN
270,De La Cruz,Bryan,650559,2022,24.2,18.2,0.269,0.225,0.365,0.322,0.361,0.140,86.3,9.1,5.3,NaN
279,Mullins II,Cedric,656775,2022,20.0,5.4,0.239,0.264,0.489,0.351,0.332,0.225,90.5,19.7,10.9,NaN
291,Acuna Jr.,Ronald,660670,2022,36.6,9.8,0.278,0.286,0.690,0.436,0.373,0.405,93.0,3.1,28.6,NaN
308,Rivas III,Alfonso,663845,2022,26.3,18.4,0.290,0.211,0.324,0.301,0.356,0.114,87.7,-1.2,4.8,NaN
328,Guerrero Jr.,Vladimir,665489,2022,19.2,10.0,0.286,0.317,0.609,0.413,0.389,0.292,93.2,7.3,13.1,NaN
332,Chisholm Jr.,Jazz,665862,2022,23.0,7.0,0.300,0.299,0.619,0.407,0.353,0.320,91.5,18.9,15.9,NaN
342,Gurriel Jr.,Lourdes,666971,2022,17.8,5.1,0.241,0.253,0.429,0.316,0.304,0.177,91.8,11.9,4.5,NaN
366,Friedl Jr.,TJ,670770,2022,29.7,5.4,0.176,0.205,0.289,0.237,0.247,0.083,88.5,9.0,4.2,NaN
379,Witt Jr.,Bobby,677951,2022,21.0,3.0,0.229,0.216,0.321,0.246,0.247,0.105,88.4,15.1,4.0,NaN

In [1166]:
len(batters_df)

388

In [1167]:
# bat_xbadiff = batters_df[['last_name', 'first_name', 'xbadiff','batting_avg', 'xba']]
#Make a table with just the xBA difference

In [1168]:
# pitch_xbadiff = pitchers_df[['last_name', 'first_name', 'xbadiff', 'batting_avg', 'xba']]
# pitch_xbadiff.sort_values('xba', ascending=False)

# Probable Pitchers

In [1169]:
url = 'https://www.mlb.com/probable-pitchers/2022-05-11'
#URL of where I will get the pitchers' names

In [1170]:
res = requests.get(url)
soup = BeautifulSoup(res.content)
#Making request to the site and storing it in soup

In [1171]:
# pitchers = soup.find_all('div', {'class': 'probable-pitchers__pitcher-name'})

In [1172]:
pitchers = soup.find_all('a', {'class': 'probable-pitchers__pitcher-name-link'})
probable_pitchers = []
for i in pitchers:
    probable_pitchers.append(str(i))
#Finding all of the pitchers' names within that <a> tag
#Using for loop to convert the beautiful soup elements in the list to strings so I can get only the pitcher's name from there

#Important to note that if a pitcher is TBD then he is skipped, so need to figure out how to account for that

In [1173]:
probable_pitchers = [i.split('">')[1] for i in probable_pitchers] 
#Getting only the pitchers' names

In [1174]:
probable_pitchers

['Tylor Megill</a>',
 'Aaron Sanchez</a>',
 'Shane McClanahan</a>',
 'Shohei Ohtani</a>',
 'Zach Logue</a>',
 'Joey Wentz</a>',
 'Nathan Eovaldi</a>',
 'Ian Anderson</a>',
 'Jose Urquidy</a>',
 'Chris Archer</a>',
 'Spenser Watkins</a>',
 'Miles Mikolas</a>',
 'Gabe Speier</a>',
 'Matt Bush</a>',
 'Ryan Pepiot</a>',
 'Dillon Peters</a>',
 'Jose Berrios</a>',
 'Jameson Taillon</a>',
 'Adrian Houser</a>',
 'Vladimir Gutierrez</a>',
 'Bailey Falter</a>',
 'Logan Gilbert</a>',
 'Sandy Alcantara</a>',
 'Merrill Kelly</a>',
 'Chad Kuhl</a>',
 'Alex Cobb</a>',
 'Keegan Thompson</a>',
 'Nick Martinez</a>',
 'Aaron Civale</a>',
 'Vince Velasquez</a>']

In [1175]:
probable_pitchers = [i.split('</a')[0] for i in probable_pitchers] 
#Getting only the pitchers' names part 2

In [1176]:
probable_pitchers = [i.split() for i in probable_pitchers]
#Splitting name into first and last name columns

In [1177]:
len(probable_pitchers)

30

In [1178]:
# probable_pitchers.insert(14, ['Kyle', 'Hendricks'])
# probable_pitchers.insert(28, ['Kris', 'Bubic'])
#Temporary

In [1179]:
len(probable_pitchers)

30

In [1180]:
df_probable_pitchers = pd.DataFrame(probable_pitchers)
#Setting list as Pandas DF

In [1181]:
df_probable_pitchers = df_probable_pitchers.rename(columns={0: "first_name", 1: "last_name"})
#Renaming column

# Get Pitchers' Teams

In [1182]:
new_teams = soup.find_all('span', {'class':['probable-pitchers__team-name probable-pitchers__team-name--away', 'probable-pitchers__team-name probable-pitchers__team-name--home']})
teams_of_probable_pitchers = []
for i in new_teams:
    teams_of_probable_pitchers.append(str(i))
#Finding all of the pitchers' names within that <a> tag
#Using for loop to convert the beautiful soup elements in the list to strings so I can get only the pitcher's name from there

In [1183]:
teams_of_probable_pitchers = [x.strip(' ') for x in teams_of_probable_pitchers]
#Getting only the pitchers' names

In [1184]:
teams_of_probable_pitchers = [i.split('>\n')[1] for i in teams_of_probable_pitchers] 
#Getting only the pitchers' names

In [1185]:
teams_of_probable_pitchers = teams_of_probable_pitchers = [x.strip('                             ') for x in teams_of_probable_pitchers]
#Stripping white space

In [1186]:
teams_of_probable_pitchers = [i.split('\n')[0] for i in teams_of_probable_pitchers]

In [1187]:
len(teams_of_probable_pitchers)

30

In [1188]:
df_probable_pitchers

   first_name   last_name
0       Tylor      Megill
1       Aaron     Sanchez
2       Shane  McClanahan
3      Shohei      Ohtani
4        Zach       Logue
5        Joey       Wentz
6      Nathan     Eovaldi
7         Ian    Anderson
8        Jose     Urquidy
9       Chris      Archer
10    Spenser     Watkins
11      Miles     Mikolas
12       Gabe      Speier
13       Matt        Bush
14       Ryan      Pepiot
15     Dillon      Peters
16       Jose     Berrios
17    Jameson     Taillon
18     Adrian      Houser
19   Vladimir   Gutierrez
20     Bailey      Falter
21      Logan     Gilbert
22      Sandy   Alcantara
23    Merrill       Kelly
24       Chad        Kuhl
25       Alex        Cobb
26     Keegan    Thompson
27       Nick    Martinez
28      Aaron      Civale
29      Vince   Velasquez

In [1189]:
df_probable_pitchers['team'] = teams_of_probable_pitchers
#Putting team on this way, now we just need to change it to the abbreviation

In [1190]:
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Astros', 'HOU', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Nationals', 'WAS', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Giants', 'SF', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Blue Jays', 'TOR', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Angels', 'LAA', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'White Sox', 'CWS', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Guardians', 'CLE', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Athletics', 'OAK', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Twins', 'MIN', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Rays', 'TB', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Mariners', 'SEA', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Marlins', 'MIA', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Padres', 'SD', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Pirates', 'PIT', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Red Sox', 'BOS', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Orioles', 'BAL', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Braves', 'ATL', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Rangers', 'TEX', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Phillies', 'PHI', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Mets', 'NYM', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Yankees', 'NYY', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Royals', 'KC', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Cubs', 'CHC', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Brewers', 'MIL', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Reds', 'CIN', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Rockies', 'COL', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Tigers', 'DET', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Dodgers', 'LAD', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'D-backs', 'ARI', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Cardinals', 'STL', df_probable_pitchers['team'])
#Changing team nickname to abbreviation so it will match the other DF -- Will clean this up in the future

In [1191]:
misc_pitchers = misc_pitchers[['Player', 'Team']]
#All we need from this is their names and the team, because we will merge it with the other df to get the name on there

In [1192]:
misc_pitchers[['first_name', 'last_name']] = misc_pitchers['Player'].str.split(' ', 1, expand=True)
#Separating 'Player' column into two columns for first and last to match probable_pitchers df

In [1193]:
misc_pitchers = misc_pitchers.drop(columns='Player')
#We don't need this full name column anymore

In [1194]:
misc_pitchers = misc_pitchers.rename(columns={"Team": "team"})
#Make this lowercase so it matches team column in probable pitchers

In [1195]:
misc_pitchers = misc_pitchers[['last_name', 'first_name', 'team']]
#reordering columns

# Get Batters' Teams

In [1196]:
misc_batters = misc_batters[['Player', 'Team']]
#All we need from this is their names and the team, because we will merge it with the other df to get the name on there

In [1197]:
misc_batters[['first_name', 'last_name']] = misc_batters['Player'].str.split(' ', 1, expand=True)
#Separating 'Player' column into two columns for first and last to match probable_pitchers df

In [1198]:
misc_batters = misc_batters.drop(columns='Player')
#We don't need this full name column anymore

In [1199]:
misc_batters = misc_batters[['last_name', 'first_name', 'Team']]
#Reordering columns

In [1200]:
len(df_probable_pitchers)

30

In [1201]:
pitchers_df['first_name'] = pitchers_df['first_name'].str.strip()
batters_df['first_name'] = batters_df['first_name'].str.strip()
#Removing empty space in these column entries for example this makes ' Cabrera' => 'Cabrera'

batters_df and pitchers_df front names all have a space in front of them and that's why merge is not working

# Attaching according Team Name to each player in all DFs

The datasets on Baseball Savant do not include the team name with they players, so I will add them in

In [1202]:
df_probable_pitchers = pd.merge(df_probable_pitchers, misc_pitchers, on=['last_name', 'first_name', 'team'], how='left')
pitchers_df = pd.merge(pitchers_df, misc_pitchers, on=['last_name', 'first_name'], how='inner')
batters_df = pd.merge(batters_df, misc_batters, on=['last_name', 'first_name'], how='inner')
#Adding team to all of the players
#Joining probables as a left join so it will include all of the probables without exception -- may make one of their stats
# unavailable if they don't have enough PAs

In [1203]:
# ^^^^ FOR PROBABLE PITCHERS MATCH IT ON TEAM AS WELL. THAT WILL AVOID THE LUIS GARCIA SITUATION

In [1204]:
# pitchers_df.loc[pitchers_df['last_name'] == 'Garcia']
#So somewhere it has duplicated Garcia

In [1205]:
hello = pd.merge(df_probable_pitchers, pitchers_df)
#test

In [1206]:
df_probable_pitchers = pd.merge(df_probable_pitchers, pitchers_df, on=['team', 'last_name', 'first_name'], how='left')
#Adding stats to probable pitchers

#This is what is adding the other Luis Garcia

# Which player to pick for BTS

In [1207]:
pp_xba = df_probable_pitchers[['last_name', 'first_name', 'team', 'batting_avg', 'xba', 'xslg', 'p_bb_percent']]
#How can I compare this to batters df??

In [1208]:
pp_xba.rename(columns= {'xba': 'pitcher_xba'})
#Eventually might move this to another df or merge, unclear

     last_name first_name team  batting_avg  pitcher_xba   xslg  p_bb_percent
0       Megill      Tylor  NYM        0.183        0.228  0.377           6.2
1      Sanchez      Aaron  WAS        0.333        0.290  0.448           5.0
2   McClanahan      Shane   TB        0.195        0.220  0.409           7.0
3       Ohtani     Shohei  LAA        0.214        0.238  0.359           4.6
4        Logue       Zach  OAK        0.240        0.277  0.748          10.7
5        Wentz       Joey  DET          NaN          NaN    NaN           NaN
6      Eovaldi     Nathan  BOS        0.234        0.269  0.504           4.4
7     Anderson        Ian  ATL        0.209        0.226  0.371          14.2
8      Urquidy       Jose  HOU        0.301        0.317  0.624           3.7
9       Archer      Chris  MIN        0.216        0.269  0.552          10.8
10     Watkins    Spenser  BAL        0.247        0.306  0.556          10.3
11     Mikolas      Miles  STL        0.214        0.235  0.370           5.0
12      Speier       Gabe   KC        0.103        0.161  0.232           0.0
13        Bush       Matt  TEX        0.250        0.248  0.445           3.9
14      Pepiot       Ryan  LAD          NaN          NaN    NaN           NaN
15      Peters     Dillon  PIT        0.060        0.179  0.295          15.3
16     Berrios       Jose  TOR        0.301        0.342  0.659           7.4
17     Taillon    Jameson  NYY        0.273        0.252  0.429           1.9
18      Houser     Adrian  MIL        0.222        0.274  0.419           9.9
19   Gutierrez   Vladimir  CIN        0.317        0.279  0.488          15.9
20      Falter     Bailey  PHI        0.286        0.335  0.715           6.5
21     Gilbert      Logan  SEA        0.207        0.260  0.402           8.3
22   Alcantara      Sandy  MIA        0.246        0.229  0.363          11.0
23       Kelly    Merrill  ARI        0.212        0.246  0.424           6.1
24        Kuhl       Chad  COL        0.158        0.233  0.382           8.1
25        Cobb       Alex   SF        0.270        0.148  0.185           8.7
26    Thompson     Keegan  CHC        0.184        0.181  0.279           9.1
27    Martinez       Nick   SD        0.258        0.283  0.529          11.6
28      Civale      Aaron  CLE        0.326        0.268  0.509           6.1
29   Velasquez      Vince  CWS        0.247        0.286  0.581           9.1

One thing I could do is... switch the one column with the next, and then merge it with the batter's df
So for example if Oakland is playing Cleveland, I can switch the pitchers with each other. So Oakland's pitcher will be on Cleveland, and then I will have the pitcher xba to match with the team. Then I can basically set that for every member of the team, and then add that with the hitter xba and see if it meets the condition

In [1209]:
pp_xba.sort_values(by='xba', ascending=False)

     last_name first_name team  batting_avg    xba   xslg  p_bb_percent
16     Berrios       Jose  TOR        0.301  0.342  0.659           7.4
20      Falter     Bailey  PHI        0.286  0.335  0.715           6.5
8      Urquidy       Jose  HOU        0.301  0.317  0.624           3.7
10     Watkins    Spenser  BAL        0.247  0.306  0.556          10.3
1      Sanchez      Aaron  WAS        0.333  0.290  0.448           5.0
29   Velasquez      Vince  CWS        0.247  0.286  0.581           9.1
27    Martinez       Nick   SD        0.258  0.283  0.529          11.6
19   Gutierrez   Vladimir  CIN        0.317  0.279  0.488          15.9
4        Logue       Zach  OAK        0.240  0.277  0.748          10.7
18      Houser     Adrian  MIL        0.222  0.274  0.419           9.9
9       Archer      Chris  MIN        0.216  0.269  0.552          10.8
6      Eovaldi     Nathan  BOS        0.234  0.269  0.504           4.4
28      Civale      Aaron  CLE        0.326  0.268  0.509           6.1
21     Gilbert      Logan  SEA        0.207  0.260  0.402           8.3
17     Taillon    Jameson  NYY        0.273  0.252  0.429           1.9
13        Bush       Matt  TEX        0.250  0.248  0.445           3.9
23       Kelly    Merrill  ARI        0.212  0.246  0.424           6.1
3       Ohtani     Shohei  LAA        0.214  0.238  0.359           4.6
11     Mikolas      Miles  STL        0.214  0.235  0.370           5.0
24        Kuhl       Chad  COL        0.158  0.233  0.382           8.1
22   Alcantara      Sandy  MIA        0.246  0.229  0.363          11.0
0       Megill      Tylor  NYM        0.183  0.228  0.377           6.2
7     Anderson        Ian  ATL        0.209  0.226  0.371          14.2
2   McClanahan      Shane   TB        0.195  0.220  0.409           7.0
26    Thompson     Keegan  CHC        0.184  0.181  0.279           9.1
15      Peters     Dillon  PIT        0.060  0.179  0.295          15.3
12      Speier       Gabe   KC        0.103  0.161  0.232           0.0
25        Cobb       Alex   SF        0.270  0.148  0.185           8.7
5        Wentz       Joey  DET          NaN    NaN    NaN           NaN
14      Pepiot       Ryan  LAD          NaN    NaN    NaN           NaN

In [1210]:
batters_df.loc[batters_df['Team'] == 'CWS']

,last_name,first_name,player_id,year,b_k_percent,b_bb_percent,batting_avg,xba,xslg,xwoba,xobp,xiso,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 15,Team
33,Grandal,Yasmani,518735,2022,18.6,15.7,0.165,0.236,0.423,0.338,0.356,0.187,89.2,13.3,9.0,NaN,CWS
53,Harrison,Josh,543281,2022,14.8,1.6,0.145,0.208,0.385,0.295,0.286,0.178,89.8,18.8,8.7,NaN,CWS
65,Garcia,Leury,544725,2022,20.3,2.7,0.186,0.225,0.426,0.292,0.252,0.201,88.7,6.2,10.5,NaN,CWS
73,Abreu,Jose,547989,2022,18.3,9.6,0.225,0.280,0.566,0.386,0.354,0.287,94.6,8.2,12.2,NaN,CWS
89,Pollock,AJ,572041,2022,23.7,3.4,0.196,0.250,0.494,0.319,0.272,0.244,89.9,16.4,16.3,NaN,CWS
202,McGuire,Reese,624512,2022,17.2,3.4,0.137,0.212,0.340,0.247,0.238,0.129,85.8,13.8,4.3,NaN,CWS
214,Anderson,Tim,641313,2022,10.8,2.0,0.330,0.352,0.641,0.427,0.385,0.289,90.1,9.0,12.8,NaN,CWS
221,Engel,Adam,641553,2022,27.4,6.5,0.211,0.245,0.316,0.277,0.307,0.070,90.4,11.1,0.0,NaN,CWS
258,Jimenez,Eloy,650391,2022,25.6,5.1,0.222,0.234,0.418,0.288,0.268,0.183,92.6,3.0,7.4,NaN,CWS
277,Sheets,Gavin,657757,2022,21.1,5.3,0.211,0.220,0.385,0.283,0.272,0.165,88.3,18.7,10.9,NaN,CWS
310,Mendick,Danny,664901,2022,34.6,7.7,0.217,0.209,0.378,0.280,0.272,0.169,87.3,23.3,6.7,NaN,CWS
342,Burger,Jake,669394,2022,35.1,5.2,0.239,0.205,0.388,0.274,0.248,0.184,90.3,12.6,8.7,NaN,CWS
353,Robert,Luis,673357,2022,14.0,5.8,0.272,0.357,0.697,0.453,0.394,0.340,90.9,7.3,15.9,NaN,CWS
368,Vaughn,Andrew,683734,2022,15.0,8.3,0.283,0.320,0.679,0.448,0.399,0.359,89.2,9.4,13.6,NaN,CWS

In [1211]:
pp_xba['Team'] = " "
#New column to house when I switch the teams with each other
#I'm doing this so I can eventually merge it onto the batters' df with the hitters' team

C:\Users\User\AppData\Local\Temp/ipykernel_7208/1964202557.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'] = " "

In [1212]:
# pp_xba['opposing_team'][0] = pp_xba['team'][1]
# pp_xba['']
#Open to a cleaner way of doing this, but this is what I'll use for now

# Getting Pitcher Stats onto Batter DF

FOR NOW, UNTIL I CLEAN THE BELOW UP A LITTLE MORE AND HAVE IT ITERATE THROUGH AND ADJUST TO THE NUMBER OF ROWS PER DAY, JUST USE THE AMOUNT OF ROWS THAT THE LEN() SHOWS AND COMMENT OUT THE REST

In [1213]:
len(pp_xba)

30

In [1214]:
pp_xba['Team'][0] = pp_xba['team'][1]
pp_xba['Team'][1] = pp_xba['team'][0]
pp_xba['Team'][2] = pp_xba['team'][3]
pp_xba['Team'][3] = pp_xba['team'][2]
pp_xba['Team'][4] = pp_xba['team'][5]
pp_xba['Team'][5] = pp_xba['team'][4]
pp_xba['Team'][6] = pp_xba['team'][7]
pp_xba['Team'][7] = pp_xba['team'][6]
pp_xba['Team'][8] = pp_xba['team'][9]
pp_xba['Team'][9] = pp_xba['team'][8]
pp_xba['Team'][10] = pp_xba['team'][11]
pp_xba['Team'][11] = pp_xba['team'][10]
pp_xba['Team'][12] = pp_xba['team'][13]
pp_xba['Team'][13] = pp_xba['team'][12]
pp_xba['Team'][14] = pp_xba['team'][15]
pp_xba['Team'][15] = pp_xba['team'][14]
pp_xba['Team'][16] = pp_xba['team'][17]
pp_xba['Team'][17] = pp_xba['team'][16]
pp_xba['Team'][18] = pp_xba['team'][19]
pp_xba['Team'][19] = pp_xba['team'][18]
pp_xba['Team'][20] = pp_xba['team'][21]
pp_xba['Team'][21] = pp_xba['team'][20]
pp_xba['Team'][22] = pp_xba['team'][23]
pp_xba['Team'][23] = pp_xba['team'][22]
pp_xba['Team'][24] = pp_xba['team'][25]
pp_xba['Team'][25] = pp_xba['team'][24]
pp_xba['Team'][26] = pp_xba['team'][27]
pp_xba['Team'][27] = pp_xba['team'][26]
pp_xba['Team'][28] = pp_xba['team'][29]
pp_xba['Team'][29] = pp_xba['team'][28]
# pp_xba['Team'][30] = pp_xba['team'][31]
# pp_xba['Team'][31] = pp_xba['team'][30]

C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][0] = pp_xba['team'][1]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][1] = pp_xba['team'][0]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][2] = pp_xba['team'][3]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][3] = pp_xba['team'][2]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][4] = pp_xba['team'][5]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][5] = pp_xba['team'][4]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][6] = pp_xba['team'][7]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][7] = pp_xba['team'][6]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][8] = pp_xba['team'][9]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][9] = pp_xba['team'][8]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][10] = pp_xba['team'][11]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][11] = pp_xba['team'][10]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][12] = pp_xba['team'][13]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][13] = pp_xba['team'][12]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][14] = pp_xba['team'][15]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][15] = pp_xba['team'][14]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][16] = pp_xba['team'][17]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][17] = pp_xba['team'][16]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][18] = pp_xba['team'][19]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][19] = pp_xba['team'][18]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][20] = pp_xba['team'][21]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][21] = pp_xba['team'][20]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][22] = pp_xba['team'][23]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][23] = pp_xba['team'][22]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][24] = pp_xba['team'][25]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][25] = pp_xba['team'][24]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][26] = pp_xba['team'][27]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][27] = pp_xba['team'][26]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][28] = pp_xba['team'][29]
C:\Users\User\AppData\Local\Temp/ipykernel_7208/2011693318.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][29] = pp_xba['team'][28]

In [1215]:
pp_xba = pp_xba.rename(columns={"batting_avg": "pitcher_batting_avg", "xba": "pitcher_xba"})
#Renaming columns for clarity

In [1216]:
# pp_xba = pp_xba.drop([8])
#temporary

In [1217]:
batters_df = pd.merge(batters_df, pp_xba[['Team','pitcher_xba']],on='Team', how='left')
#Getting pitcher data onto batters df

In [1218]:
xba_sum = batters_df['xba'] + batters_df['pitcher_xba']
#Adding sum

In [1219]:
batters_df['xba_total'] = xba_sum
#Adding xba sum into the batters dataframe

# Which Hitters to pick for BTS

Now we need to see

In [1220]:
batters_df['xba_total'].isnull().sum()

26

In [1221]:
gods = batters_df[batters_df['xba_total'] < .450]
gods

,last_name,first_name,player_id,year,b_k_percent,b_bb_percent,batting_avg,xba,xslg,xwoba,xobp,xiso,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 15,Team,pitcher_xba,xba_total
4,Suzuki,Kurt,435559,2022,22.7,11.4,0.179,0.168,0.240,0.231,0.262,0.072,84.6,20.6,0.0,NaN,LAA,0.220,0.388
6,Escobar,Alcides,444876,2022,24.7,5.6,0.220,0.206,0.271,0.244,0.269,0.065,80.9,17.3,1.7,NaN,WAS,0.228,0.434
7,Blackmon,Charlie,453568,2022,18.3,7.3,0.235,0.254,0.423,0.317,0.312,0.169,86.1,13.8,6.2,NaN,COL,0.148,0.402
8,Maldonado,Martin,455117,2022,34.3,12.9,0.085,0.163,0.305,0.273,0.281,0.142,91.8,18.3,8.1,NaN,HOU,0.269,0.432
9,Chirinos,Robinson,455139,2022,32.3,12.3,0.143,0.121,0.201,0.213,0.243,0.081,83.2,16.9,5.7,NaN,BAL,0.235,0.356
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333,Marsh,Brandon,669016,2022,34.0,7.4,0.256,0.222,0.447,0.323,0.303,0.225,90.3,11.4,9.4,NaN,LAA,0.220,0.442
337,Solak,Nick,669256,2022,22.6,9.4,0.200,0.243,0.438,0.349,0.358,0.194,90.6,6.8,6.1,NaN,TEX,0.161,0.404
352,Perdomo,Geraldo,672695,2022,24.7,19.2,0.175,0.196,0.263,0.306,0.372,0.067,86.6,11.3,0.0,NaN,ARI,0.229,0.425
354,Kim,Ha-Seong,673490,2022,22.1,12.8,0.203,0.250,0.483,0.360,0.356,0.234,85.4,24.9,10.9,NaN,SD,0.181,0.431
358,Trejo,Alan,676701,2022,22.2,2.8,0.257,0.286,0.480,0.334,0.306,0.194,88.0,13.9,7.4,NaN,COL,0.148,0.434

In [1222]:
picky = batters_df[(batters_df['xba'] > .300) & (batters_df['pitcher_xba'] > .300) & (batters_df['xba_total'] > .650)]
picky

,last_name,first_name,player_id,year,b_k_percent,b_bb_percent,batting_avg,xba,xslg,xwoba,xobp,xiso,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 15,Team,pitcher_xba,xba_total
35,LeMahieu,DJ,518934,2022,12.6,8.7,0.283,0.311,0.481,0.375,0.385,0.169,89.6,4.4,5.1,NaN,NYY,0.342,0.653
104,Judge,Aaron,592450,2022,28.9,9.6,0.284,0.313,0.720,0.451,0.380,0.407,96.2,12.3,27.5,NaN,NYY,0.342,0.655
218,Crawford,J.P.,641487,2022,13.0,12.2,0.340,0.319,0.471,0.387,0.417,0.152,83.8,9.7,4.8,NaN,SEA,0.335,0.654
259,Torres,Gleyber,650402,2022,16.7,4.4,0.220,0.310,0.603,0.396,0.346,0.292,92.4,17.5,10.0,NaN,NYY,0.342,0.652
301,France,Ty,664034,2022,10.4,7.4,0.311,0.328,0.521,0.391,0.397,0.193,88.6,8.5,5.7,NaN,SEA,0.335,0.663