In [672]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup
from __future__ import print_function


import datetime
#imports

# Ideas

Raise error when len does not match before and after merging datasets (means that a player wasn't found -- likely because he is a junior or has two last names, etc.)

# To Do

1. Address last name issue
2. Address issue of list not being equal to 30
3. Get pitcher xba onto

# To Do but less urgent

1. Add bullpen xBA?

In [673]:
batters_df = pd.read_csv('../data/individual_batting_stats.csv')
pitchers_df = pd.read_csv('../data/individual_pitching_stats.csv')
misc_batters = pd.read_csv('../data/batters_teams.csv')
misc_pitchers = pd.read_csv('../data/pitchers_teams.csv')

In [674]:
duplicate_name_check = pitchers_df[['first_name', 'last_name']]

In [675]:
batters_df[batters_df['last_name'].str.contains(" ")]

,last_name,first_name,player_id,year,b_bb_percent,batting_avg,xba,xslg,woba,xwoba,...,xwobacon,bacon,xbacon,xbadiff,xslgdiff,wobadif,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 22
5,Cruz Jr.,Nelson,443558,2022,11.6,0.160,0.262,0.484,0.234,0.354,...,0.399,0.203,0.334,-0.102,-0.244,-0.120,89.5,8.6,10.2,NaN
18,Brantley Jr.,Michael,488726,2022,7.9,0.290,0.330,0.563,0.341,0.396,...,0.446,0.345,0.393,-0.040,-0.143,-0.055,89.2,11.8,8.5,NaN
60,Springer III,George,543807,2022,5.0,0.288,0.266,0.452,0.379,0.329,...,0.381,0.362,0.336,0.022,0.069,0.050,90.5,17.6,5.2,NaN
87,Voit III,Luke,572228,2022,18.5,0.143,0.150,0.271,0.250,0.280,...,0.287,0.231,0.244,-0.007,-0.104,-0.030,85.9,19.0,7.7,NaN
129,Bradley Jr.,Jackie,598265,2022,10.9,0.161,0.219,0.349,0.232,0.290,...,0.319,0.214,0.292,-0.058,-0.117,-0.058,89.0,8.5,2.3,NaN
207,Mancini III,Trey,641820,2022,7.5,0.236,0.317,0.562,0.280,0.388,...,0.500,0.315,0.430,-0.081,-0.229,-0.108,91.6,9.8,11.1,NaN
243,Mullins II,Cedric,656775,2022,8.2,0.205,0.257,0.489,0.307,0.363,...,0.405,0.268,0.335,-0.052,-0.133,-0.056,89.2,18.8,12.3,NaN
282,Guerrero Jr.,Vladimir,665489,2022,11.4,0.309,0.329,0.672,0.402,0.438,...,0.526,0.382,0.414,-0.020,-0.113,-0.036,91.5,9.4,14.5,NaN
285,Chisholm Jr.,Jazz,665862,2022,8.5,0.308,0.268,0.561,0.436,0.383,...,0.506,0.421,0.397,0.040,0.112,0.053,89.1,14.8,15.8,NaN
295,Gurriel Jr.,Lourdes,666971,2022,3.8,0.274,0.271,0.461,0.322,0.329,...,0.386,0.333,0.341,0.003,-0.036,-0.007,92.3,13.4,5.0,NaN
327,Witt Jr.,Bobby,677951,2022,2.9,0.206,0.200,0.295,0.234,0.224,...,0.285,0.280,0.273,0.006,-0.001,0.010,88.4,15.2,2.0,NaN

In [676]:
len(batters_df)

335

In [677]:
bat_xbadiff = batters_df[['last_name', 'first_name', 'xbadiff','batting_avg', 'xba']]
#Make a table with just the xBA difference

In [678]:
pitch_xbadiff = pitchers_df[['last_name', 'first_name', 'xbadiff', 'batting_avg', 'xba']]
# pitch_xbadiff.sort_values('xba', ascending=False)

# Probable Pitchers

In [679]:
url = 'https://www.mlb.com/probable-pitchers/2022-05-02'
#URL of where I will get the pitchers' names

In [680]:
res = requests.get(url)
soup = BeautifulSoup(res.content)
#Making request to the site and storing it in soup

In [681]:
pitchers = soup.find_all('a', {'class': 'probable-pitchers__pitcher-name-link'})
probable_pitchers = []
for i in pitchers:
    probable_pitchers.append(str(i))
#Finding all of the pitchers' names within that <a> tag
#Using for loop to convert the beautiful soup elements in the list to strings so I can get only the pitcher's name from there

#Important to note that if a pitcher is TBD then he is skipped, so need to figure out how to account for that

In [682]:
probable_pitchers

['<a class="probable-pitchers__pitcher-name-link" href="/player/drew-rasmussen-656876">Drew Rasmussen</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/daulton-jefferies-641726">Daulton Jefferies</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/zack-greinke-425844">Zack Greinke</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/steven-matz-571927">Steven Matz</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/patrick-sandoval-663776">Patrick Sandoval</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/dylan-cease-656302">Dylan Cease</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/zac-gallen-668678">Zac Gallen</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/pablo-lopez-641154">Pablo Lopez</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/chris-paddack-663978">Chris Paddack</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/tyler-wells-669330">Tyler Wells</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/jordan-montgomery-656756">Jordan Montgomery</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/ross-stripling-548389">Ross Stripling</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/max-fried-608331">Max Fried</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/chris-bassitt-605135">Chris Bassitt</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/marco-gonzales-594835">Marco Gonzales</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/jake-odorizzi-543606">Jake Odorizzi</a>']

In [683]:
probable_pitchers = [i.split('">')[1] for i in probable_pitchers] 
#Getting only the pitchers' names

In [684]:
probable_pitchers = [i.split('</a')[0] for i in probable_pitchers] 
#Getting only the pitchers' names part 2

In [685]:
probable_pitchers = [i.split() for i in probable_pitchers]
#Splitting name into first and last name columns

# Temporary

In [686]:
# probable_pitchers.insert(17, ['Taylor, Hearn'])

In [687]:
df_probable_pitchers = pd.DataFrame(probable_pitchers)
#Setting list as Pandas DF

In [688]:
df_probable_pitchers = df_probable_pitchers.rename(columns={0: "first_name", 1: "last_name"})
#Renaming column

# Get Pitchers' Teams

In [689]:
new_teams = soup.find_all('span', {'class':['probable-pitchers__team-name probable-pitchers__team-name--away', 'probable-pitchers__team-name probable-pitchers__team-name--home']})
teams_of_probable_pitchers = []
for i in new_teams:
    teams_of_probable_pitchers.append(str(i))
#Finding all of the pitchers' names within that <a> tag
#Using for loop to convert the beautiful soup elements in the list to strings so I can get only the pitcher's name from there

In [690]:
teams_of_probable_pitchers = [x.strip(' ') for x in teams_of_probable_pitchers]
#Getting only the pitchers' names

In [691]:
teams_of_probable_pitchers = [i.split('>\n')[1] for i in teams_of_probable_pitchers] 
#Getting only the pitchers' names

In [692]:
teams_of_probable_pitchers = teams_of_probable_pitchers = [x.strip('                             ') for x in teams_of_probable_pitchers]

In [693]:
teams_of_probable_pitchers = [i.split('\n')[0] for i in teams_of_probable_pitchers]

In [694]:
df_probable_pitchers['team'] = teams_of_probable_pitchers
#Putting team on this way, now we just need to change it to the abbreviation

In [695]:
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Astros', 'HOU', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Nationals', 'WAS', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Giants', 'SF', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Blue Jays', 'TOR', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Angels', 'LAA', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'White Sox', 'CWS', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Guardians', 'CLE', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Athletics', 'OAK', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Twins', 'MIN', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Rays', 'TB', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Mariners', 'SEA', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Marlins', 'MIA', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Padres', 'SD', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Pirates', 'PIT', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Red Sox', 'BOS', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Orioles', 'BAL', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Braves', 'ATL', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Rangers', 'TEX', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Phillies', 'PHI', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Mets', 'NYM', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Yankees', 'NYY', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Royals', 'KC', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Cubs', 'CHC', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Brewers', 'MIL', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Reds', 'CIN', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Rockies', 'COL', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Tigers', 'DET', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Dodgers', 'LAD', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'D-backs', 'ARI', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Cardinals', 'STL', df_probable_pitchers['team'])
#Changing team nickname to abbreviation so it will match the other DF -- Will clean this up in the future

In [696]:
df_probable_pitchers

   first_name   last_name team
0        Drew   Rasmussen   TB
1     Daulton   Jefferies  OAK
2        Zack     Greinke   KC
3      Steven        Matz  STL
4     Patrick    Sandoval  LAA
5       Dylan       Cease  CWS
6         Zac      Gallen  ARI
7       Pablo       Lopez  MIA
8       Chris     Paddack  MIN
9       Tyler       Wells  BAL
10     Jordan  Montgomery  NYY
11       Ross   Stripling  TOR
12        Max       Fried  ATL
13      Chris     Bassitt  NYM
14      Marco    Gonzales  SEA
15       Jake    Odorizzi  HOU

In [697]:
misc_pitchers = misc_pitchers[['Player', 'Team']]
#All we need from this is their names and the team, because we will merge it with the other df to get the name on there

In [698]:
misc_pitchers[['first_name', 'last_name']] = misc_pitchers['Player'].str.split(' ', 1, expand=True)
#Separating 'Player' column into two columns for first and last to match probable_pitchers df

In [699]:
misc_pitchers = misc_pitchers.drop(columns='Player')
#We don't need this full name column anymore

In [700]:
misc_pitchers = misc_pitchers.rename(columns={"Team": "team"})
#Make this lowercase so it matches team column in probable pitchers

In [701]:
misc_pitchers = misc_pitchers[['last_name', 'first_name', 'team']]
#reordering columns

# Get Batters' Teams

In [702]:
misc_batters = misc_batters[['Player', 'Team']]
#All we need from this is their names and the team, because we will merge it with the other df to get the name on there

In [703]:
misc_batters[['first_name', 'last_name']] = misc_batters['Player'].str.split(' ', 1, expand=True)
#Separating 'Player' column into two columns for first and last to match probable_pitchers df

In [704]:
misc_batters = misc_batters.drop(columns='Player')
#We don't need this full name column anymore

In [705]:
misc_batters = misc_batters[['last_name', 'first_name', 'Team']]
#Reordering columns

In [706]:
len(df_probable_pitchers)

16

In [707]:
pitchers_df['first_name'] = pitchers_df['first_name'].str.strip()
batters_df['first_name'] = batters_df['first_name'].str.strip()
#Removing empty space in these column entries for example this makes ' Cabrera' => 'Cabrera'

batters_df and pitchers_df front names all have a space in front of them and that's why merge is not working

# Attaching according Team Name to each player in all DFs

The datasets on Baseball Savant do not include the team name with they players, so I will add them in

In [708]:
pitchers_df

,last_name,first_name,player_id,year,p_bb_percent,batting_avg,xba,xslg,woba,xwoba,...,xwobacon,bacon,xbacon,xbadiff,xslgdiff,wobadif,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 22
0,Perez,Oliver,424144,2022,4.2,0.444,0.380,0.691,0.448,0.416,...,0.407,0.400,0.347,0.064,-0.024,0.032,88.8,16.0,10.0,NaN
1,Wainwright,Adam,425794,2022,7.7,0.313,0.301,0.507,0.365,0.369,...,0.464,0.419,0.407,0.012,-0.049,-0.004,87.0,9.1,9.7,NaN
2,Greinke,Zack,425844,2022,3.4,0.266,0.338,0.544,0.287,0.403,...,0.415,0.276,0.367,-0.072,-0.202,-0.116,89.6,11.7,5.3,NaN
3,Verlander,Justin,434378,2022,4.3,0.161,0.215,0.389,0.219,0.275,...,0.369,0.233,0.313,-0.054,-0.113,-0.056,88.1,14.5,8.2,NaN
4,Jansen,Kenley,445276,2022,6.9,0.111,0.140,0.238,0.141,0.197,...,0.270,0.188,0.236,-0.029,-0.127,-0.056,85.2,25.4,6.3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,Roberts,Ethan,681799,2022,14.3,0.310,0.312,0.612,0.471,0.439,...,0.558,0.450,0.452,-0.002,0.043,0.032,88.8,14.0,15.0,NaN
488,Warren,Austin,681810,2022,16.1,0.333,0.250,0.414,0.421,0.342,...,0.356,0.381,0.305,0.083,0.169,0.079,90.0,14.6,4.5,NaN
489,Vesia,Alex,681911,2022,4.8,0.200,0.279,0.563,0.224,0.367,...,0.501,0.286,0.399,-0.079,-0.313,-0.143,90.2,17.4,14.3,NaN
490,Brieske,Beau,689225,2022,10.0,0.167,0.295,0.532,0.332,0.381,...,0.415,0.200,0.354,-0.128,-0.032,-0.049,88.2,10.2,13.3,NaN
491,Elder,Bryce,693821,2022,15.9,0.250,0.283,0.517,0.370,0.398,...,0.415,0.311,0.353,-0.033,-0.088,-0.028,86.7,10.6,8.7,NaN

In [709]:
df_probable_pitchers = pd.merge(df_probable_pitchers, misc_pitchers, on=['last_name', 'first_name', 'team'], how='left')
pitchers_df = pd.merge(pitchers_df, misc_pitchers, on=['last_name', 'first_name'], how='inner')
batters_df = pd.merge(batters_df, misc_batters, on=['last_name', 'first_name'], how='inner')
#Adding team to all of the players
#Joining probables as a left join so it will include all of the probables without exception -- may make one of their stats
# unavailable if they don't have enough PAs

In [710]:
# ^^^^ FOR PROBABLE PITCHERS MATCH IT ON TEAM AS WELL. THAT WILL AVOID THE LUIS GARCIA SITUATION

In [711]:
len(df_probable_pitchers)

16

In [712]:
pitchers_df.loc[pitchers_df['last_name'] == 'Garcia']
#So somewhere it has duplicated Garcia

,last_name,first_name,player_id,year,p_bb_percent,batting_avg,xba,xslg,woba,xwoba,...,bacon,xbacon,xbadiff,xslgdiff,wobadif,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 22,team
22,Garcia,Luis,472610,2022,0.0,0.182,0.309,0.405,0.164,0.309,...,0.235,0.400,-0.127,-0.223,-0.145,93.2,0.7,5.9,NaN,HOU
23,Garcia,Luis,472610,2022,0.0,0.182,0.309,0.405,0.164,0.309,...,0.235,0.400,-0.127,-0.223,-0.145,93.2,0.7,5.9,NaN,SD
24,Garcia,Luis,677651,2022,6.6,0.196,0.204,0.440,0.297,0.290,...,0.256,0.265,-0.008,-0.011,0.007,88.6,24.8,14.0,NaN,HOU
25,Garcia,Luis,677651,2022,6.6,0.196,0.204,0.440,0.297,0.290,...,0.256,0.265,-0.008,-0.011,0.007,88.6,24.8,14.0,NaN,SD
89,Garcia,Yimi,554340,2022,9.1,0.214,0.235,0.329,0.264,0.269,...,0.240,0.265,-0.021,-0.008,-0.005,88.4,11.8,4.0,NaN,TOR
183,Garcia,Jarlin,606424,2022,25.0,0.067,0.277,0.527,0.219,0.426,...,0.100,0.415,-0.210,-0.460,-0.207,95.4,11.2,20.0,NaN,SF
415,Garcia,Rony,665621,2022,8.0,0.217,0.291,0.657,0.252,0.414,...,0.278,0.371,-0.074,-0.396,-0.162,89.1,19.7,16.7,NaN,DET

In [713]:
hello = pd.merge(df_probable_pitchers, pitchers_df)

In [714]:
hello

,first_name,last_name,team,player_id,year,p_bb_percent,batting_avg,xba,xslg,woba,...,xwobacon,bacon,xbacon,xbadiff,xslgdiff,wobadif,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 22
0,Drew,Rasmussen,TB,656876,2022,5.4,0.203,0.264,0.505,0.274,...,0.434,0.275,0.357,-0.061,-0.157,-0.072,91.8,12.6,11.8,NaN
1,Daulton,Jefferies,OAK,641726,2022,6.3,0.222,0.265,0.478,0.303,...,0.372,0.267,0.318,-0.043,-0.103,-0.042,89.2,10.0,10.0,NaN
2,Zack,Greinke,KC,425844,2022,3.4,0.266,0.338,0.544,0.287,...,0.415,0.276,0.367,-0.072,-0.202,-0.116,89.6,11.7,5.3,NaN
3,Steven,Matz,STL,571927,2022,6.2,0.329,0.329,0.444,0.357,...,0.473,0.472,0.472,0.000,-0.023,0.005,89.3,8.4,7.5,NaN
4,Patrick,Sandoval,LAA,663776,2022,10.0,0.170,0.185,0.243,0.222,...,0.295,0.273,0.297,-0.015,-0.035,-0.014,88.9,21.8,0.0,NaN
5,Dylan,Cease,CWS,656302,2022,10.9,0.198,0.171,0.236,0.253,...,0.266,0.302,0.261,0.027,0.023,0.027,83.2,9.0,1.9,NaN
6,Zac,Gallen,ARI,668678,2022,7.1,0.118,0.176,0.299,0.174,...,0.275,0.162,0.242,-0.058,-0.142,-0.070,86.5,20.0,5.4,NaN
7,Pablo,Lopez,MIA,641154,2022,4.7,0.160,0.222,0.337,0.190,...,0.331,0.224,0.310,-0.062,-0.127,-0.068,85.9,9.3,8.6,NaN
8,Chris,Paddack,MIN,663978,2022,1.7,0.281,0.219,0.324,0.304,...,0.305,0.356,0.288,0.062,0.062,0.051,87.4,5.6,4.4,NaN
9,Tyler,Wells,BAL,669330,2022,7.0,0.280,0.256,0.526,0.371,...,0.429,0.341,0.332,0.024,-0.026,-0.006,89.7,14.4,14.3,NaN
10,Jordan,Montgomery,NYY,656756,2022,6.1,0.194,0.228,0.354,0.256,...,0.319,0.241,0.295,-0.034,-0.076,-0.042,87.6,11.2,3.4,NaN
11,Ross,Stripling,TOR,548389,2022,6.5,0.228,0.274,0.399,0.253,...,0.356,0.283,0.341,-0.046,-0.118,-0.056,84.1,2.4,6.5,NaN
12,Max,Fried,ATL,608331,2022,1.1,0.233,0.256,0.397,0.247,...,0.364,0.300,0.337,-0.023,-0.108,-0.047,84.3,7.5,5.7,NaN
13,Chris,Bassitt,NYM,605135,2022,7.5,0.179,0.223,0.401,0.249,...,0.379,0.259,0.323,-0.044,-0.127,-0.055,84.1,13.4,8.6,NaN
14,Marco,Gonzales,SEA,594835,2022,6.0,0.279,0.276,0.537,0.387,...,0.435,0.354,0.354,0.003,0.020,0.025,89.6,14.8,10.4,NaN
15,Jake,Odorizzi,HOU,543606,2022,11.6,0.283,0.281,0.419,0.349,...,0.350,0.333,0.331,0.002,-0.036,-0.001,89.2,24.3,3.9,NaN

In [715]:
df_probable_pitchers = pd.merge(df_probable_pitchers, pitchers_df, on=['team', 'last_name', 'first_name' ], how='left')
#Adding stats to probable pitchers

#This is what is adding the other Luis Garcia

In [716]:
df_probable_pitchers

,first_name,last_name,team,player_id,year,p_bb_percent,batting_avg,xba,xslg,woba,...,xwobacon,bacon,xbacon,xbadiff,xslgdiff,wobadif,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 22
0,Drew,Rasmussen,TB,656876,2022,5.4,0.203,0.264,0.505,0.274,...,0.434,0.275,0.357,-0.061,-0.157,-0.072,91.8,12.6,11.8,NaN
1,Daulton,Jefferies,OAK,641726,2022,6.3,0.222,0.265,0.478,0.303,...,0.372,0.267,0.318,-0.043,-0.103,-0.042,89.2,10.0,10.0,NaN
2,Zack,Greinke,KC,425844,2022,3.4,0.266,0.338,0.544,0.287,...,0.415,0.276,0.367,-0.072,-0.202,-0.116,89.6,11.7,5.3,NaN
3,Steven,Matz,STL,571927,2022,6.2,0.329,0.329,0.444,0.357,...,0.473,0.472,0.472,0.000,-0.023,0.005,89.3,8.4,7.5,NaN
4,Patrick,Sandoval,LAA,663776,2022,10.0,0.170,0.185,0.243,0.222,...,0.295,0.273,0.297,-0.015,-0.035,-0.014,88.9,21.8,0.0,NaN
5,Dylan,Cease,CWS,656302,2022,10.9,0.198,0.171,0.236,0.253,...,0.266,0.302,0.261,0.027,0.023,0.027,83.2,9.0,1.9,NaN
6,Zac,Gallen,ARI,668678,2022,7.1,0.118,0.176,0.299,0.174,...,0.275,0.162,0.242,-0.058,-0.142,-0.070,86.5,20.0,5.4,NaN
7,Pablo,Lopez,MIA,641154,2022,4.7,0.160,0.222,0.337,0.190,...,0.331,0.224,0.310,-0.062,-0.127,-0.068,85.9,9.3,8.6,NaN
8,Chris,Paddack,MIN,663978,2022,1.7,0.281,0.219,0.324,0.304,...,0.305,0.356,0.288,0.062,0.062,0.051,87.4,5.6,4.4,NaN
9,Tyler,Wells,BAL,669330,2022,7.0,0.280,0.256,0.526,0.371,...,0.429,0.341,0.332,0.024,-0.026,-0.006,89.7,14.4,14.3,NaN
10,Jordan,Montgomery,NYY,656756,2022,6.1,0.194,0.228,0.354,0.256,...,0.319,0.241,0.295,-0.034,-0.076,-0.042,87.6,11.2,3.4,NaN
11,Ross,Stripling,TOR,548389,2022,6.5,0.228,0.274,0.399,0.253,...,0.356,0.283,0.341,-0.046,-0.118,-0.056,84.1,2.4,6.5,NaN
12,Max,Fried,ATL,608331,2022,1.1,0.233,0.256,0.397,0.247,...,0.364,0.300,0.337,-0.023,-0.108,-0.047,84.3,7.5,5.7,NaN
13,Chris,Bassitt,NYM,605135,2022,7.5,0.179,0.223,0.401,0.249,...,0.379,0.259,0.323,-0.044,-0.127,-0.055,84.1,13.4,8.6,NaN
14,Marco,Gonzales,SEA,594835,2022,6.0,0.279,0.276,0.537,0.387,...,0.435,0.354,0.354,0.003,0.020,0.025,89.6,14.8,10.4,NaN
15,Jake,Odorizzi,HOU,543606,2022,11.6,0.283,0.281,0.419,0.349,...,0.350,0.333,0.331,0.002,-0.036,-0.001,89.2,24.3,3.9,NaN

# Which player to pick for BTS

In [717]:
pp_xba = df_probable_pitchers[['last_name', 'first_name', 'team', 'batting_avg', 'xba', 'p_bb_percent']]
#How can I compare this to batters df??

In [718]:
pp_xba.rename(columns= {'xba': 'pitcher_xba'})
#Eventually might move this to another df or merge, unclear

     last_name first_name team  batting_avg  pitcher_xba  p_bb_percent
0    Rasmussen       Drew   TB        0.203        0.264           5.4
1    Jefferies    Daulton  OAK        0.222        0.265           6.3
2      Greinke       Zack   KC        0.266        0.338           3.4
3         Matz     Steven  STL        0.329        0.329           6.2
4     Sandoval    Patrick  LAA        0.170        0.185          10.0
5        Cease      Dylan  CWS        0.198        0.171          10.9
6       Gallen        Zac  ARI        0.118        0.176           7.1
7        Lopez      Pablo  MIA        0.160        0.222           4.7
8      Paddack      Chris  MIN        0.281        0.219           1.7
9        Wells      Tyler  BAL        0.280        0.256           7.0
10  Montgomery     Jordan  NYY        0.194        0.228           6.1
11   Stripling       Ross  TOR        0.228        0.274           6.5
12       Fried        Max  ATL        0.233        0.256           1.1
13     Bassitt      Chris  NYM        0.179        0.223           7.5
14    Gonzales      Marco  SEA        0.279        0.276           6.0
15    Odorizzi       Jake  HOU        0.283        0.281          11.6

One thing I could do is... switch the one column with the next, and then merge it with the batter's df
So for example if Oakland is playing Cleveland, I can switch the pitchers with each other. So Oakland's pitcher will be on Cleveland, and then I will have the pitcher xba to match with the team. Then I can basically set that for every member of the team, and then add that with the hitter xba and see if it meets the condition

In [719]:
pp_xba.sort_values(by='xba', ascending=False)

     last_name first_name team  batting_avg    xba  p_bb_percent
2      Greinke       Zack   KC        0.266  0.338           3.4
3         Matz     Steven  STL        0.329  0.329           6.2
15    Odorizzi       Jake  HOU        0.283  0.281          11.6
14    Gonzales      Marco  SEA        0.279  0.276           6.0
11   Stripling       Ross  TOR        0.228  0.274           6.5
1    Jefferies    Daulton  OAK        0.222  0.265           6.3
0    Rasmussen       Drew   TB        0.203  0.264           5.4
9        Wells      Tyler  BAL        0.280  0.256           7.0
12       Fried        Max  ATL        0.233  0.256           1.1
10  Montgomery     Jordan  NYY        0.194  0.228           6.1
13     Bassitt      Chris  NYM        0.179  0.223           7.5
7        Lopez      Pablo  MIA        0.160  0.222           4.7
8      Paddack      Chris  MIN        0.281  0.219           1.7
4     Sandoval    Patrick  LAA        0.170  0.185          10.0
6       Gallen        Zac  ARI        0.118  0.176           7.1
5        Cease      Dylan  CWS        0.198  0.171          10.9

In [720]:
batters_df.loc[batters_df['Team'] == 'KC']

,last_name,first_name,player_id,year,b_bb_percent,batting_avg,xba,xslg,woba,xwoba,...,bacon,xbacon,xbadiff,xslgdiff,wobadif,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 22,Team
15,Santana,Carlos,467793,2022,22.6,0.104,0.226,0.438,0.250,0.366,...,0.122,0.265,-0.122,-0.250,-0.116,90.7,16.6,9.8,NaN,KC
36,Perez,Salvador,521692,2022,4.3,0.200,0.211,0.506,0.326,0.324,...,0.295,0.312,-0.011,-0.029,0.002,93.0,22.7,18.2,NaN,KC
104,Merrifield,Whit,593160,2022,4.0,0.127,0.235,0.341,0.147,0.260,...,0.148,0.275,-0.108,-0.186,-0.113,85.9,15.8,0.0,NaN,KC
152,Mondesi,Adalberto,609275,2022,7.4,0.140,0.181,0.259,0.168,0.226,...,0.233,0.302,-0.041,-0.119,-0.058,88.0,7.8,3.3,NaN,KC
194,Dozier,Hunter,641531,2022,3.3,0.241,0.258,0.556,0.330,0.353,...,0.333,0.356,-0.017,-0.090,-0.023,91.7,19.9,19.0,NaN,KC
215,Benintendi,Andrew,643217,2022,7.5,0.393,0.240,0.398,0.411,0.300,...,0.444,0.276,0.153,0.094,0.111,89.5,11.4,5.6,NaN,KC
300,Lopez,Nicky,670032,2022,11.5,0.255,0.222,0.325,0.321,0.303,...,0.295,0.257,0.033,-0.011,0.018,85.5,4.0,2.2,NaN,KC

In [721]:
pp_xba['opposing_team'] = " "
#New column to house when I switch the teams with each other
#I'm doing this so I can eventually merge it onto the batters' df with the hitters' team

C:\Users\User\AppData\Local\Temp/ipykernel_6788/960217120.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['opposing_team'] = " "

In [722]:
# pp_xba['opposing_team'][0] = pp_xba['team'][1]
# pp_xba['']
#Open to a cleaner way of doing this, but this is what I'll use for now

# Getting Pitcher Stats onto Batter DF

FOR NOW, UNTIL I CLEAN THE BELOW UP A LITTLE MORE AND HAVE IT ITERATE THROUGH AND ADJUST TO THE NUMBER OF ROWS PER DAY, JUST USE THE AMOUNT OF ROWS THAT THE LEN() SHOWS AND COMMENT OUT THE REST

In [739]:
len(pp_xba)

16

In [737]:
pp_xba['opposing_team'][0] = pp_xba['team'][1]
pp_xba['opposing_team'][1] = pp_xba['team'][0]
pp_xba['opposing_team'][2] = pp_xba['team'][3]
pp_xba['opposing_team'][3] = pp_xba['team'][2]
pp_xba['opposing_team'][4] = pp_xba['team'][5]
pp_xba['opposing_team'][5] = pp_xba['team'][4]
pp_xba['opposing_team'][6] = pp_xba['team'][7]
pp_xba['opposing_team'][7] = pp_xba['team'][6]
pp_xba['opposing_team'][8] = pp_xba['team'][9]
pp_xba['opposing_team'][9] = pp_xba['team'][8]
pp_xba['opposing_team'][10] = pp_xba['team'][11]
pp_xba['opposing_team'][11] = pp_xba['team'][10]
pp_xba['opposing_team'][12] = pp_xba['team'][13]
pp_xba['opposing_team'][13] = pp_xba['team'][12]
pp_xba['opposing_team'][14] = pp_xba['team'][15]
pp_xba['opposing_team'][15] = pp_xba['team'][14]
# pp_xba['opposing_team'][16] = pp_xba['team'][17]
# pp_xba['opposing_team'][17] = pp_xba['team'][16]
# pp_xba['opposing_team'][18] = pp_xba['team'][19]
# pp_xba['opposing_team'][19] = pp_xba['team'][18]
# pp_xba['opposing_team'][20] = pp_xba['team'][21]
# pp_xba['opposing_team'][21] = pp_xba['team'][20]
# pp_xba['opposing_team'][22] = pp_xba['team'][23]
# pp_xba['opposing_team'][23] = pp_xba['team'][22]
# pp_xba['opposing_team'][24] = pp_xba['team'][25]
# pp_xba['opposing_team'][25] = pp_xba['team'][24]
# pp_xba['opposing_team'][26] = pp_xba['team'][27]
# pp_xba['opposing_team'][27] = pp_xba['team'][26]
# pp_xba['opposing_team'][28] = pp_xba['team'][29]
# pp_xba['opposing_team'][29] = pp_xba['team'][28]

C:\Users\User\AppData\Local\Temp/ipykernel_6788/4020049713.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['opposing_team'][0] = pp_xba['team'][1]
C:\Users\User\AppData\Local\Temp/ipykernel_6788/4020049713.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['opposing_team'][1] = pp_xba['team'][0]
C:\Users\User\AppData\Local\Temp/ipykernel_6788/4020049713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['opposing_team'][2] = pp_xba['team'][3]
C:\Users\User\AppData\Local\Temp/ipykernel_6788/4020049713.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['opposing_team'][3] = pp_xba['team'][2]
C:\Users\User\AppData\Local\Temp/ipykernel_6788/4020049713.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['opposing_team'][4] = pp_xba['team'][5]
C:\Users\User\AppData\Local\Temp/ipykernel_6788/4020049713.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['opposing_team'][5] = pp_xba['team'][4]
C:\Users\User\AppData\Local\Temp/ipykernel_6788/4020049713.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['opposing_team'][6] = pp_xba['team'][7]
C:\Users\User\AppData\Local\Temp/ipykernel_6788/4020049713.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['opposing_team'][7] = pp_xba['team'][6]
C:\Users\User\AppData\Local\Temp/ipykernel_6788/4020049713.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['opposing_team'][8] = pp_xba['team'][9]
C:\Users\User\AppData\Local\Temp/ipykernel_6788/4020049713.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['opposing_team'][9] = pp_xba['team'][8]
C:\Users\User\AppData\Local\Temp/ipykernel_6788/4020049713.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['opposing_team'][10] = pp_xba['team'][11]
C:\Users\User\AppData\Local\Temp/ipykernel_6788/4020049713.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['opposing_team'][11] = pp_xba['team'][10]
C:\Users\User\AppData\Local\Temp/ipykernel_6788/4020049713.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['opposing_team'][12] = pp_xba['team'][13]
C:\Users\User\AppData\Local\Temp/ipykernel_6788/4020049713.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['opposing_team'][13] = pp_xba['team'][12]
C:\Users\User\AppData\Local\Temp/ipykernel_6788/4020049713.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['opposing_team'][14] = pp_xba['team'][15]
C:\Users\User\AppData\Local\Temp/ipykernel_6788/4020049713.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['opposing_team'][15] = pp_xba['team'][14]

In [738]:
pp_xba

     last_name first_name team  batting_avg    xba  p_bb_percent opposing_team
0    Rasmussen       Drew   TB        0.203  0.264           5.4           OAK
1    Jefferies    Daulton  OAK        0.222  0.265           6.3            TB
2      Greinke       Zack   KC        0.266  0.338           3.4           STL
3         Matz     Steven  STL        0.329  0.329           6.2            KC
4     Sandoval    Patrick  LAA        0.170  0.185          10.0           CWS
5        Cease      Dylan  CWS        0.198  0.171          10.9           LAA
6       Gallen        Zac  ARI        0.118  0.176           7.1           MIA
7        Lopez      Pablo  MIA        0.160  0.222           4.7           ARI
8      Paddack      Chris  MIN        0.281  0.219           1.7           BAL
9        Wells      Tyler  BAL        0.280  0.256           7.0           MIN
10  Montgomery     Jordan  NYY        0.194  0.228           6.1           TOR
11   Stripling       Ross  TOR        0.228  0.274           6.5           NYY
12       Fried        Max  ATL        0.233  0.256           1.1           NYM
13     Bassitt      Chris  NYM        0.179  0.223           7.5           ATL
14    Gonzales      Marco  SEA        0.279  0.276           6.0           HOU
15    Odorizzi       Jake  HOU        0.283  0.281          11.6           SEA

# Which Hitters to pick for BTS

Now we need to see