In [105]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup
from __future__ import print_function


import datetime
#imports

# Ideas

Raise error when len does not match before and after merging datasets (means that a player wasn't found -- likely because he is a junior or has two last names, etc.)

# To Do

1. Address last name issue
2. Address issue of list not being equal to 30
    - Really need to add TBD or something for the pitchers who are not listed yet
3. Get pitcher xba onto
4. Deal with doubleheaders

In [106]:
batters_df = pd.read_csv('../data/individual_batting_stats.csv')
pitchers_df = pd.read_csv('../data/individual_pitching_stats.csv')
misc_batters = pd.read_csv('../data/batters_teams.csv')
misc_pitchers = pd.read_csv('../data/pitchers_teams.csv')

In [107]:
duplicate_name_check = pitchers_df[['first_name', 'last_name']]

In [108]:
batters_df[batters_df['last_name'].str.contains(" ")]

,last_name,first_name,player_id,year,b_k_percent,b_bb_percent,batting_avg,xba,xslg,xwoba,xobp,xiso,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 15
5,Cruz Jr.,Nelson,443558,2022,16.7,10.2,0.147,0.247,0.426,0.324,0.327,0.179,89.0,5.8,7.7,NaN
19,Brantley Jr.,Michael,488726,2022,13.0,6.0,0.280,0.325,0.542,0.380,0.366,0.217,89.3,11.0,7.4,NaN
64,Springer III,George,543807,2022,21.7,5.7,0.274,0.270,0.485,0.347,0.331,0.215,90.1,16.6,8.2,NaN
93,Voit III,Luke,572228,2022,31.5,18.5,0.143,0.150,0.271,0.280,0.321,0.121,85.9,19.0,7.7,NaN
136,Bradley Jr.,Jackie,598265,2022,20.7,8.0,0.203,0.238,0.383,0.296,0.300,0.144,90.1,9.2,3.2,NaN
225,Mancini III,Trey,641820,2022,24.0,7.3,0.253,0.306,0.538,0.375,0.354,0.232,89.6,9.7,10.6,NaN
259,De La Cruz,Bryan,650559,2022,24.0,20.0,0.316,0.273,0.457,0.373,0.409,0.184,86.3,8.9,7.1,NaN
267,Mullins II,Cedric,656775,2022,20.7,6.0,0.243,0.264,0.487,0.355,0.340,0.223,90.3,20.3,11.3,NaN
279,Acuna Jr.,Ronald,660670,2022,40.6,6.3,0.207,0.241,0.501,0.343,0.312,0.260,91.8,4.2,18.8,NaN
295,Rivas III,Alfonso,663845,2022,28.1,15.6,0.333,0.236,0.366,0.310,0.355,0.130,89.0,2.3,5.6,NaN
313,Guerrero Jr. Jr.,Vladimir,665489,2022,19.6,10.3,0.290,0.332,0.652,0.435,0.404,0.321,93.7,7.0,14.9,NaN
317,Chisholm Jr.,Jazz,665862,2022,23.0,8.0,0.321,0.300,0.600,0.405,0.362,0.300,91.7,16.1,15.0,NaN
327,Gurriel Jr.,Lourdes,666971,2022,16.8,3.7,0.263,0.264,0.456,0.326,0.306,0.192,92.0,13.4,4.8,NaN
361,Witt Jr.,Bobby,677951,2022,23.0,3.4,0.229,0.210,0.327,0.248,0.246,0.116,89.0,15.5,4.8,NaN

In [109]:
len(batters_df)

370

In [110]:
# bat_xbadiff = batters_df[['last_name', 'first_name', 'xbadiff','batting_avg', 'xba']]
#Make a table with just the xBA difference

In [111]:
# pitch_xbadiff = pitchers_df[['last_name', 'first_name', 'xbadiff', 'batting_avg', 'xba']]
# pitch_xbadiff.sort_values('xba', ascending=False)

# Probable Pitchers

In [112]:
url = 'https://www.mlb.com/probable-pitchers/2022-05-07'
#URL of where I will get the pitchers' names

In [113]:
res = requests.get(url)
soup = BeautifulSoup(res.content)
#Making request to the site and storing it in soup

In [114]:
# pitchers = soup.find_all('div', {'class': 'probable-pitchers__pitcher-name'})

In [115]:
pitchers = soup.find_all('a', {'class': 'probable-pitchers__pitcher-name-link'})
probable_pitchers = []
for i in pitchers:
    probable_pitchers.append(str(i))
#Finding all of the pitchers' names within that <a> tag
#Using for loop to convert the beautiful soup elements in the list to strings so I can get only the pitcher's name from there

#Important to note that if a pitcher is TBD then he is skipped, so need to figure out how to account for that

In [116]:
probable_pitchers = [i.split('">')[1] for i in probable_pitchers] 
#Getting only the pitchers' names

In [117]:
probable_pitchers

['JT Brubaker</a>',
 'Connor Overton</a>',
 'Clayton Kershaw</a>',
 'Drew Smyly</a>',
 'Kevin Gausman</a>',
 'Shane Bieber</a>',
 'Ross Stripling</a>',
 'Triston McKenzie</a>',
 'James Kaprielian</a>',
 'Sonny Gray</a>',
 'Eduardo Rodriguez</a>',
 'Framber Valdez</a>',
 'Max Scherzer</a>',
 'Kyle Gibson</a>',
 'Dylan Cease</a>',
 'Nick Pivetta</a>',
 'Mitch Keller</a>',
 'Robert Dugger</a>',
 'Carlos Hernandez</a>',
 'Jordan Lyles</a>',
 'Steven Matz</a>',
 'Logan Webb</a>',
 'Corbin Burnes</a>',
 'Max Fried</a>',
 'Tyler Anderson</a>',
 'Daniel Norris</a>',
 'Kyle Freeland</a>',
 'Zach Davies</a>',
 'Pablo Lopez</a>',
 'Sean Manaea</a>',
 'Josiah Gray</a>',
 'Michael Lorenzen</a>',
 'Drew Rasmussen</a>',
 'Marco Gonzales</a>',
 'Gerrit Cole</a>']

In [118]:
probable_pitchers = [i.split('</a')[0] for i in probable_pitchers] 
#Getting only the pitchers' names part 2

In [119]:
probable_pitchers = [i.split() for i in probable_pitchers]
#Splitting name into first and last name columns

In [120]:
len(probable_pitchers)

35

In [121]:
probable_pitchers.insert(34, ['Garrett', 'Richards'])
#Temporary

In [122]:
len(probable_pitchers)

36

In [123]:
df_probable_pitchers = pd.DataFrame(probable_pitchers)
#Setting list as Pandas DF

In [124]:
df_probable_pitchers = df_probable_pitchers.rename(columns={0: "first_name", 1: "last_name"})
#Renaming column

# Get Pitchers' Teams

In [125]:
new_teams = soup.find_all('span', {'class':['probable-pitchers__team-name probable-pitchers__team-name--away', 'probable-pitchers__team-name probable-pitchers__team-name--home']})
teams_of_probable_pitchers = []
for i in new_teams:
    teams_of_probable_pitchers.append(str(i))
#Finding all of the pitchers' names within that <a> tag
#Using for loop to convert the beautiful soup elements in the list to strings so I can get only the pitcher's name from there

In [126]:
teams_of_probable_pitchers = [x.strip(' ') for x in teams_of_probable_pitchers]
#Getting only the pitchers' names

In [127]:
teams_of_probable_pitchers = [i.split('>\n')[1] for i in teams_of_probable_pitchers] 
#Getting only the pitchers' names

In [128]:
teams_of_probable_pitchers = teams_of_probable_pitchers = [x.strip('                             ') for x in teams_of_probable_pitchers]
#Stripping white space

In [129]:
teams_of_probable_pitchers = [i.split('\n')[0] for i in teams_of_probable_pitchers]

In [130]:
teams_of_probable_pitchers

['Pirates',
 'Reds',
 'Dodgers',
 'Cubs',
 'Blue Jays',
 'Guardians',
 'Blue Jays',
 'Guardians',
 'Athletics',
 'Twins',
 'Tigers',
 'Astros',
 'Mets',
 'Phillies',
 'White Sox',
 'Red Sox',
 'Pirates',
 'Reds',
 'Royals',
 'Orioles',
 'Cardinals',
 'Giants',
 'Brewers',
 'Braves',
 'Dodgers',
 'Cubs',
 'Rockies',
 'D-backs',
 'Marlins',
 'Padres',
 'Nationals',
 'Angels',
 'Rays',
 'Mariners',
 'Rangers',
 'Yankees']

In [131]:
df_probable_pitchers

   first_name   last_name
0          JT    Brubaker
1      Connor     Overton
2     Clayton     Kershaw
3        Drew       Smyly
4       Kevin     Gausman
5       Shane      Bieber
6        Ross   Stripling
7     Triston    McKenzie
8       James  Kaprielian
9       Sonny        Gray
10    Eduardo   Rodriguez
11    Framber      Valdez
12        Max    Scherzer
13       Kyle      Gibson
14      Dylan       Cease
15       Nick     Pivetta
16      Mitch      Keller
17     Robert      Dugger
18     Carlos   Hernandez
19     Jordan       Lyles
20     Steven        Matz
21      Logan        Webb
22     Corbin      Burnes
23        Max       Fried
24      Tyler    Anderson
25     Daniel      Norris
26       Kyle    Freeland
27       Zach      Davies
28      Pablo       Lopez
29       Sean      Manaea
30     Josiah        Gray
31    Michael    Lorenzen
32       Drew   Rasmussen
33      Marco    Gonzales
34    Garrett    Richards
35     Gerrit        Cole

In [132]:
df_probable_pitchers['team'] = teams_of_probable_pitchers
#Putting team on this way, now we just need to change it to the abbreviation

In [133]:
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Astros', 'HOU', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Nationals', 'WAS', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Giants', 'SF', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Blue Jays', 'TOR', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Angels', 'LAA', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'White Sox', 'CWS', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Guardians', 'CLE', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Athletics', 'OAK', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Twins', 'MIN', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Rays', 'TB', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Mariners', 'SEA', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Marlins', 'MIA', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Padres', 'SD', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Pirates', 'PIT', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Red Sox', 'BOS', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Orioles', 'BAL', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Braves', 'ATL', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Rangers', 'TEX', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Phillies', 'PHI', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Mets', 'NYM', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Yankees', 'NYY', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Royals', 'KC', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Cubs', 'CHC', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Brewers', 'MIL', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Reds', 'CIN', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Rockies', 'COL', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Tigers', 'DET', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Dodgers', 'LAD', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'D-backs', 'ARI', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Cardinals', 'STL', df_probable_pitchers['team'])
#Changing team nickname to abbreviation so it will match the other DF -- Will clean this up in the future

In [134]:
misc_pitchers = misc_pitchers[['Player', 'Team']]
#All we need from this is their names and the team, because we will merge it with the other df to get the name on there

In [135]:
misc_pitchers[['first_name', 'last_name']] = misc_pitchers['Player'].str.split(' ', 1, expand=True)
#Separating 'Player' column into two columns for first and last to match probable_pitchers df

In [136]:
misc_pitchers = misc_pitchers.drop(columns='Player')
#We don't need this full name column anymore

In [137]:
misc_pitchers = misc_pitchers.rename(columns={"Team": "team"})
#Make this lowercase so it matches team column in probable pitchers

In [138]:
misc_pitchers = misc_pitchers[['last_name', 'first_name', 'team']]
#reordering columns

# Get Batters' Teams

In [139]:
misc_batters = misc_batters[['Player', 'Team']]
#All we need from this is their names and the team, because we will merge it with the other df to get the name on there

In [140]:
misc_batters[['first_name', 'last_name']] = misc_batters['Player'].str.split(' ', 1, expand=True)
#Separating 'Player' column into two columns for first and last to match probable_pitchers df

In [141]:
misc_batters = misc_batters.drop(columns='Player')
#We don't need this full name column anymore

In [142]:
misc_batters = misc_batters[['last_name', 'first_name', 'Team']]
#Reordering columns

In [143]:
len(df_probable_pitchers)

36

In [144]:
pitchers_df['first_name'] = pitchers_df['first_name'].str.strip()
batters_df['first_name'] = batters_df['first_name'].str.strip()
#Removing empty space in these column entries for example this makes ' Cabrera' => 'Cabrera'

batters_df and pitchers_df front names all have a space in front of them and that's why merge is not working

# Attaching according Team Name to each player in all DFs

The datasets on Baseball Savant do not include the team name with they players, so I will add them in

In [145]:
pitchers_df

,last_name,first_name,player_id,year,p_k_percent,p_bb_percent,batting_avg,xba,xslg,xwoba,xobp,xiso,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 15
0,Wainwright,Adam,425794,2022,20.0,9.3,0.246,0.257,0.406,0.320,0.326,0.149,85.9,4.9,6.1,NaN
1,Greinke,Zack,425844,2022,6.5,2.8,0.242,0.325,0.536,0.388,0.358,0.211,89.1,13.4,5.3,NaN
2,Verlander,Justin,434378,2022,26.3,3.4,0.171,0.233,0.432,0.295,0.265,0.199,88.3,15.8,8.5,NaN
3,Jansen,Kenley,445276,2022,36.1,5.6,0.118,0.150,0.254,0.199,0.197,0.104,85.9,21.1,4.8,NaN
4,Chavez,Jesse,445926,2022,22.8,3.5,0.327,0.347,0.600,0.408,0.370,0.253,93.4,17.6,14.3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433,Roberts,Ethan,681799,2022,23.7,15.8,0.323,0.314,0.652,0.456,0.440,0.338,89.1,13.8,18.2,NaN
434,Warren,Austin,681810,2022,13.5,13.5,0.267,0.274,0.568,0.392,0.379,0.293,91.8,14.3,11.1,NaN
435,Vesia,Alex,681911,2022,38.5,3.8,0.167,0.233,0.469,0.297,0.253,0.236,90.1,19.2,13.3,NaN
436,Brieske,Beau,689225,2022,14.3,11.1,0.196,0.263,0.580,0.385,0.345,0.317,87.7,21.9,14.9,NaN
437,Elder,Bryce,693821,2022,13.8,16.1,0.254,0.291,0.550,0.410,0.415,0.259,87.8,11.1,8.3,NaN

In [146]:
df_probable_pitchers = pd.merge(df_probable_pitchers, misc_pitchers, on=['last_name', 'first_name', 'team'], how='left')
pitchers_df = pd.merge(pitchers_df, misc_pitchers, on=['last_name', 'first_name'], how='inner')
batters_df = pd.merge(batters_df, misc_batters, on=['last_name', 'first_name'], how='inner')
#Adding team to all of the players
#Joining probables as a left join so it will include all of the probables without exception -- may make one of their stats
# unavailable if they don't have enough PAs

In [147]:
# ^^^^ FOR PROBABLE PITCHERS MATCH IT ON TEAM AS WELL. THAT WILL AVOID THE LUIS GARCIA SITUATION

In [148]:
pitchers_df.loc[pitchers_df['last_name'] == 'Garcia']
#So somewhere it has duplicated Garcia

,last_name,first_name,player_id,year,p_k_percent,p_bb_percent,batting_avg,xba,xslg,xwoba,xobp,xiso,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 15,team
18,Garcia,Luis,472610,2022,17.6,0.0,0.176,0.291,0.381,0.290,0.291,0.090,90.8,1.5,3.6,NaN,HOU
19,Garcia,Luis,472610,2022,17.6,0.0,0.176,0.291,0.381,0.290,0.291,0.090,90.8,1.5,3.6,NaN,SD
20,Garcia,Luis,677651,2022,25.2,6.3,0.176,0.212,0.434,0.296,0.267,0.222,88.5,21.0,10.7,NaN,HOU
21,Garcia,Luis,677651,2022,25.2,6.3,0.176,0.212,0.434,0.296,0.267,0.222,88.5,21.0,10.7,NaN,SD
82,Garcia,Yimi,554340,2022,17.1,7.3,0.222,0.242,0.325,0.266,0.287,0.082,86.6,11.4,3.2,NaN,TOR
169,Garcia,Jarlin,606424,2022,21.2,15.2,0.143,0.270,0.496,0.378,0.381,0.226,90.8,11.6,14.3,NaN,SF
367,Garcia,Rony,665621,2022,20.0,8.0,0.217,0.291,0.657,0.414,0.347,0.367,89.1,19.7,16.7,NaN,DET

In [149]:
hello = pd.merge(df_probable_pitchers, pitchers_df)

In [150]:
df_probable_pitchers = pd.merge(df_probable_pitchers, pitchers_df, on=['team', 'last_name', 'first_name' ], how='left')
#Adding stats to probable pitchers

#This is what is adding the other Luis Garcia

# Which player to pick for BTS

In [151]:
pp_xba = df_probable_pitchers[['last_name', 'first_name', 'team', 'batting_avg', 'xba', 'p_bb_percent']]
#How can I compare this to batters df??

In [152]:
pp_xba.rename(columns= {'xba': 'pitcher_xba'})
#Eventually might move this to another df or merge, unclear

     last_name first_name team  batting_avg  pitcher_xba  p_bb_percent
0     Brubaker         JT  PIT        0.232        0.244          12.8
1      Overton     Connor  CIN          NaN          NaN           NaN
2      Kershaw    Clayton  LAD        0.171        0.194           2.4
3        Smyly       Drew  CHC        0.240        0.240           3.8
4      Gausman      Kevin  TOR        0.256        0.265           0.0
5       Bieber      Shane  CLE        0.208        0.261           5.3
6    Stripling       Ross  TOR        0.253        0.277           5.0
7     McKenzie    Triston  CLE        0.205        0.216           7.4
8   Kaprielian      James  OAK          NaN          NaN           NaN
9         Gray      Sonny  MIN        0.208        0.255          11.1
10   Rodriguez    Eduardo  DET        0.248        0.268           7.2
11      Valdez    Framber  HOU        0.194        0.237          12.6
12    Scherzer        Max  NYM        0.151        0.190           7.7
13      Gibson       Kyle  PHI        0.184        0.213          10.7
14       Cease      Dylan  CWS        0.165        0.155           8.7
15     Pivetta       Nick  BOS        0.305        0.324          13.5
16      Keller      Mitch  PIT        0.278        0.229           6.7
17      Dugger     Robert  CIN          NaN          NaN           NaN
18   Hernandez     Carlos   KC        0.333        0.316          11.9
19       Lyles     Jordan  BAL        0.308        0.292           8.4
20        Matz     Steven  STL        0.296        0.313           4.8
21        Webb      Logan   SF        0.275        0.253           4.8
22      Burnes     Corbin  MIL        0.153        0.197           5.8
23       Fried        Max  ATL        0.221        0.262           0.9
24    Anderson      Tyler  LAD        0.206        0.261           5.7
25      Norris     Daniel  CHC          NaN          NaN           NaN
26    Freeland       Kyle  COL        0.283        0.275           6.0
27      Davies       Zach  ARI        0.235        0.261          11.2
28       Lopez      Pablo  MIA        0.190        0.239           5.7
29      Manaea       Sean   SD        0.193        0.243           9.1
30        Gray     Josiah  WAS        0.215        0.216          13.0
31    Lorenzen    Michael  LAA        0.212        0.239           8.5
32   Rasmussen       Drew   TB        0.176        0.254           5.5
33    Gonzales      Marco  SEA        0.287        0.294           6.3
34    Richards    Garrett  TEX        0.194        0.274          16.2
35        Cole     Gerrit  NYY        0.205        0.250          10.0

One thing I could do is... switch the one column with the next, and then merge it with the batter's df
So for example if Oakland is playing Cleveland, I can switch the pitchers with each other. So Oakland's pitcher will be on Cleveland, and then I will have the pitcher xba to match with the team. Then I can basically set that for every member of the team, and then add that with the hitter xba and see if it meets the condition

In [153]:
pp_xba.sort_values(by='xba', ascending=False)

     last_name first_name team  batting_avg    xba  p_bb_percent
15     Pivetta       Nick  BOS        0.305  0.324          13.5
18   Hernandez     Carlos   KC        0.333  0.316          11.9
20        Matz     Steven  STL        0.296  0.313           4.8
33    Gonzales      Marco  SEA        0.287  0.294           6.3
19       Lyles     Jordan  BAL        0.308  0.292           8.4
6    Stripling       Ross  TOR        0.253  0.277           5.0
26    Freeland       Kyle  COL        0.283  0.275           6.0
34    Richards    Garrett  TEX        0.194  0.274          16.2
10   Rodriguez    Eduardo  DET        0.248  0.268           7.2
4      Gausman      Kevin  TOR        0.256  0.265           0.0
23       Fried        Max  ATL        0.221  0.262           0.9
27      Davies       Zach  ARI        0.235  0.261          11.2
24    Anderson      Tyler  LAD        0.206  0.261           5.7
5       Bieber      Shane  CLE        0.208  0.261           5.3
9         Gray      Sonny  MIN        0.208  0.255          11.1
32   Rasmussen       Drew   TB        0.176  0.254           5.5
21        Webb      Logan   SF        0.275  0.253           4.8
35        Cole     Gerrit  NYY        0.205  0.250          10.0
0     Brubaker         JT  PIT        0.232  0.244          12.8
29      Manaea       Sean   SD        0.193  0.243           9.1
3        Smyly       Drew  CHC        0.240  0.240           3.8
28       Lopez      Pablo  MIA        0.190  0.239           5.7
31    Lorenzen    Michael  LAA        0.212  0.239           8.5
11      Valdez    Framber  HOU        0.194  0.237          12.6
16      Keller      Mitch  PIT        0.278  0.229           6.7
30        Gray     Josiah  WAS        0.215  0.216          13.0
7     McKenzie    Triston  CLE        0.205  0.216           7.4
13      Gibson       Kyle  PHI        0.184  0.213          10.7
22      Burnes     Corbin  MIL        0.153  0.197           5.8
2      Kershaw    Clayton  LAD        0.171  0.194           2.4
12    Scherzer        Max  NYM        0.151  0.190           7.7
14       Cease      Dylan  CWS        0.165  0.155           8.7
1      Overton     Connor  CIN          NaN    NaN           NaN
8   Kaprielian      James  OAK          NaN    NaN           NaN
17      Dugger     Robert  CIN          NaN    NaN           NaN
25      Norris     Daniel  CHC          NaN    NaN           NaN

In [154]:
batters_df.loc[batters_df['Team'] == 'CWS']

,last_name,first_name,player_id,year,b_k_percent,b_bb_percent,batting_avg,xba,xslg,xwoba,xobp,xiso,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 15,Team
33,Grandal,Yasmani,518735,2022,17.2,14.9,0.164,0.236,0.441,0.340,0.350,0.205,88.0,12.4,10.2,NaN,CWS
53,Harrison,Josh,543281,2022,16.4,1.8,0.157,0.219,0.408,0.296,0.276,0.189,90.7,18.5,9.5,NaN,CWS
65,Garcia,Leury,544725,2022,23.0,3.3,0.153,0.228,0.427,0.287,0.253,0.199,88.7,6.5,8.9,NaN,CWS
73,Abreu,Jose,547989,2022,18.0,11.0,0.230,0.275,0.574,0.392,0.361,0.299,94.4,8.5,12.9,NaN,CWS
88,Pollock,AJ,572041,2022,24.5,4.1,0.196,0.240,0.426,0.291,0.266,0.186,90.0,18.8,11.4,NaN,CWS
195,McGuire,Reese,624512,2022,18.4,4.1,0.143,0.222,0.374,0.267,0.252,0.152,87.5,12.5,5.3,NaN,CWS
206,Anderson,Tim,641313,2022,11.0,1.1,0.330,0.342,0.623,0.413,0.364,0.281,90.0,8.7,12.8,NaN,CWS
213,Engel,Adam,641553,2022,22.6,7.5,0.224,0.267,0.348,0.296,0.324,0.081,89.5,11.3,0.0,NaN,CWS
249,Jimenez,Eloy,650391,2022,25.6,5.1,0.222,0.234,0.418,0.288,0.268,0.183,92.6,3.0,7.4,NaN,CWS
266,Sheets,Gavin,657757,2022,20.6,4.4,0.219,0.225,0.387,0.283,0.270,0.163,87.7,17.2,10.0,NaN,CWS
328,Burger,Jake,669394,2022,30.9,4.4,0.254,0.220,0.426,0.291,0.256,0.206,90.1,13.4,9.1,NaN,CWS
339,Robert,Luis,673357,2022,14.1,4.2,0.265,0.361,0.761,0.473,0.388,0.399,92.0,9.5,19.0,NaN,CWS
354,Vaughn,Andrew,683734,2022,15.0,8.3,0.283,0.320,0.679,0.448,0.399,0.359,89.2,9.4,13.6,NaN,CWS

In [155]:
pp_xba['Team'] = " "
#New column to house when I switch the teams with each other
#I'm doing this so I can eventually merge it onto the batters' df with the hitters' team

C:\Users\User\AppData\Local\Temp/ipykernel_11032/1964202557.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'] = " "

In [156]:
# pp_xba['opposing_team'][0] = pp_xba['team'][1]
# pp_xba['']
#Open to a cleaner way of doing this, but this is what I'll use for now

# Getting Pitcher Stats onto Batter DF

FOR NOW, UNTIL I CLEAN THE BELOW UP A LITTLE MORE AND HAVE IT ITERATE THROUGH AND ADJUST TO THE NUMBER OF ROWS PER DAY, JUST USE THE AMOUNT OF ROWS THAT THE LEN() SHOWS AND COMMENT OUT THE REST

In [157]:
len(pp_xba)

36

In [158]:
pp_xba['Team'][0] = pp_xba['team'][1]
pp_xba['Team'][1] = pp_xba['team'][0]
pp_xba['Team'][2] = pp_xba['team'][3]
pp_xba['Team'][3] = pp_xba['team'][2]
pp_xba['Team'][4] = pp_xba['team'][5]
pp_xba['Team'][5] = pp_xba['team'][4]
pp_xba['Team'][6] = pp_xba['team'][7]
pp_xba['Team'][7] = pp_xba['team'][6]
pp_xba['Team'][8] = pp_xba['team'][9]
pp_xba['Team'][9] = pp_xba['team'][8]
pp_xba['Team'][10] = pp_xba['team'][11]
pp_xba['Team'][11] = pp_xba['team'][10]
pp_xba['Team'][12] = pp_xba['team'][13]
pp_xba['Team'][13] = pp_xba['team'][12]
pp_xba['Team'][14] = pp_xba['team'][15]
pp_xba['Team'][15] = pp_xba['team'][14]
pp_xba['Team'][16] = pp_xba['team'][17]
pp_xba['Team'][17] = pp_xba['team'][16]
pp_xba['Team'][18] = pp_xba['team'][19]
pp_xba['Team'][19] = pp_xba['team'][18]
pp_xba['Team'][20] = pp_xba['team'][21]
pp_xba['Team'][21] = pp_xba['team'][20]
pp_xba['Team'][22] = pp_xba['team'][23]
pp_xba['Team'][23] = pp_xba['team'][22]
pp_xba['Team'][24] = pp_xba['team'][25]
pp_xba['Team'][25] = pp_xba['team'][24]
pp_xba['Team'][26] = pp_xba['team'][27]
pp_xba['Team'][27] = pp_xba['team'][26]
pp_xba['Team'][28] = pp_xba['team'][29]
pp_xba['Team'][29] = pp_xba['team'][28]
# pp_xba['Team'][30] = pp_xba['team'][31]
# pp_xba['Team'][31] = pp_xba['team'][30]

C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][0] = pp_xba['team'][1]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][1] = pp_xba['team'][0]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][2] = pp_xba['team'][3]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][3] = pp_xba['team'][2]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][4] = pp_xba['team'][5]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][5] = pp_xba['team'][4]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][6] = pp_xba['team'][7]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][7] = pp_xba['team'][6]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][8] = pp_xba['team'][9]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][9] = pp_xba['team'][8]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][10] = pp_xba['team'][11]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][11] = pp_xba['team'][10]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][12] = pp_xba['team'][13]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][13] = pp_xba['team'][12]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][14] = pp_xba['team'][15]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][15] = pp_xba['team'][14]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][16] = pp_xba['team'][17]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][17] = pp_xba['team'][16]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][18] = pp_xba['team'][19]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][19] = pp_xba['team'][18]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][20] = pp_xba['team'][21]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][21] = pp_xba['team'][20]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][22] = pp_xba['team'][23]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][23] = pp_xba['team'][22]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][24] = pp_xba['team'][25]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][25] = pp_xba['team'][24]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][26] = pp_xba['team'][27]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][27] = pp_xba['team'][26]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][28] = pp_xba['team'][29]
C:\Users\User\AppData\Local\Temp/ipykernel_11032/2011693318.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][29] = pp_xba['team'][28]

In [159]:
pp_xba = pp_xba.rename(columns={"batting_avg": "pitcher_batting_avg", "xba": "pitcher_xba"})

In [160]:
pp_xba = pp_xba.drop([8])
#temporary

In [161]:
batters_df.head()

,last_name,first_name,player_id,year,b_k_percent,b_bb_percent,batting_avg,xba,xslg,xwoba,xobp,xiso,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 15,Team
0,Pujols,Albert,405395,2022,15.9,6.8,0.225,0.227,0.412,0.305,0.297,0.185,87.6,21.4,3.0,NaN,STL
1,Cabrera,Miguel,408234,2022,27.9,7.0,0.269,0.239,0.366,0.294,0.309,0.127,90.9,4.7,7.3,NaN,DET
2,Molina,Yadier,425877,2022,8.8,0.0,0.228,0.220,0.324,0.232,0.220,0.104,87.1,19.4,1.9,NaN,STL
3,Cano,Robinson,429664,2022,25.6,4.7,0.195,0.218,0.359,0.263,0.254,0.141,85.4,4.5,6.7,NaN,NYM
4,Suzuki,Kurt,435559,2022,22.7,11.4,0.179,0.168,0.240,0.231,0.262,0.072,84.6,20.6,0.0,NaN,LAA

In [162]:
batters_df = pd.merge(batters_df, pp_xba[['Team','pitcher_xba']],on='Team', how='left')
#Getting pitcher data onto batters df

In [163]:
xba_sum = batters_df['xba'] + batters_df['pitcher_xba']
#Adding sum

In [164]:
batters_df['xba_total'] = xba_sum

In [165]:
batters_df

,last_name,first_name,player_id,year,b_k_percent,b_bb_percent,batting_avg,xba,xslg,xwoba,xobp,xiso,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 15,Team,pitcher_xba,xba_total
0,Pujols,Albert,405395,2022,15.9,6.8,0.225,0.227,0.412,0.305,0.297,0.185,87.6,21.4,3.0,NaN,STL,0.253,0.480
1,Cabrera,Miguel,408234,2022,27.9,7.0,0.269,0.239,0.366,0.294,0.309,0.127,90.9,4.7,7.3,NaN,DET,0.237,0.476
2,Molina,Yadier,425877,2022,8.8,0.0,0.228,0.220,0.324,0.232,0.220,0.104,87.1,19.4,1.9,NaN,STL,0.253,0.473
3,Cano,Robinson,429664,2022,25.6,4.7,0.195,0.218,0.359,0.263,0.254,0.141,85.4,4.5,6.7,NaN,NYM,0.213,0.431
4,Suzuki,Kurt,435559,2022,22.7,11.4,0.179,0.168,0.240,0.231,0.262,0.072,84.6,20.6,0.0,NaN,LAA,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,Jeffers,Ryan,680777,2022,31.3,11.9,0.220,0.226,0.551,0.362,0.319,0.324,89.6,21.5,18.4,NaN,MIN,NaN,NaN
419,Miller,Owen,680911,2022,20.5,13.7,0.344,0.287,0.438,0.364,0.385,0.151,90.4,7.3,6.3,NaN,CLE,0.265,0.552
420,Miller,Owen,680911,2022,20.5,13.7,0.344,0.287,0.438,0.364,0.385,0.151,90.4,7.3,6.3,NaN,CLE,0.277,0.564
421,Stott,Bryson,681082,2022,32.3,3.2,0.133,0.220,0.386,0.268,0.245,0.167,82.2,9.8,5.0,NaN,PHI,0.190,0.410
422,Vaughn,Andrew,683734,2022,15.0,8.3,0.283,0.320,0.679,0.448,0.399,0.359,89.2,9.4,13.6,NaN,CWS,0.324,0.644

# Which Hitters to pick for BTS

Now we need to see

In [173]:
gods = batters_df[batters_df['xba_total'] > .650]
gods

,last_name,first_name,player_id,year,b_k_percent,b_bb_percent,batting_avg,xba,xslg,xwoba,xobp,xiso,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 15,Team,pitcher_xba,xba_total
124,Pederson,Joc,592626,2022,21.7,2.9,0.277,0.340,0.731,0.463,0.372,0.391,95.2,14.6,21.6,NaN,SF,0.313,0.653
239,Anderson,Tim,641313,2022,11.0,1.1,0.330,0.342,0.623,0.413,0.364,0.281,90.0,8.7,12.8,NaN,CWS,0.324,0.666
311,Olivares,Edward,658668,2022,11.1,5.6,0.364,0.362,0.584,0.423,0.415,0.222,92.7,0.5,6.9,NaN,KC,0.292,0.654
402,Robert,Luis,673357,2022,14.1,4.2,0.265,0.361,0.761,0.473,0.388,0.399,92.0,9.5,19.0,NaN,CWS,0.324,0.685