In [2060]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup
from __future__ import print_function


import datetime
#imports

# Ideas

Raise error when len does not match before and after merging datasets (means that a player wasn't found -- likely because he is a junior or has two last names, etc.)

# To Do

Address last name issue

In [2061]:
batters_df = pd.read_csv('../data/individual_batting_stats.csv')
pitchers_df = pd.read_csv('../data/individual_pitching_stats.csv')
misc_batters = pd.read_csv('../data/batters_teams.csv')
misc_pitchers = pd.read_csv('../data/pitchers_teams.csv')

In [2062]:
pitchers_df.loc[pitchers_df['last_name'] == 'Iglesias']

,last_name,first_name,player_id,year,p_bb_percent,batting_avg,xba,xslg,woba,xwoba,...,xwobacon,bacon,xbacon,xbadiff,xslgdiff,wobadif,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 22
254,Iglesias,Raisel,628452,2022,0.0,0.107,0.134,0.218,0.142,0.15,...,0.248,0.176,0.22,-0.027,-0.004,-0.008,84.5,21.5,5.9,NaN

In [2063]:
batters_df[batters_df['last_name'].str.contains(" ")]

,last_name,first_name,player_id,year,b_bb_percent,batting_avg,xba,xslg,woba,xwoba,...,xwobacon,bacon,xbacon,xbadiff,xslgdiff,wobadif,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 22
5,Cruz Jr.,Nelson,443558,2022,11.6,0.160,0.262,0.484,0.234,0.354,...,0.399,0.203,0.334,-0.102,-0.244,-0.120,89.5,8.6,10.2,NaN
18,Brantley Jr.,Michael,488726,2022,7.9,0.290,0.330,0.563,0.341,0.396,...,0.446,0.345,0.393,-0.040,-0.143,-0.055,89.2,11.8,8.5,NaN
60,Springer III,George,543807,2022,5.0,0.288,0.266,0.452,0.379,0.329,...,0.381,0.362,0.336,0.022,0.069,0.050,90.5,17.6,5.2,NaN
87,Voit III,Luke,572228,2022,18.5,0.143,0.150,0.271,0.250,0.280,...,0.287,0.231,0.244,-0.007,-0.104,-0.030,85.9,19.0,7.7,NaN
129,Bradley Jr.,Jackie,598265,2022,10.9,0.161,0.219,0.349,0.232,0.290,...,0.319,0.214,0.292,-0.058,-0.117,-0.058,89.0,8.5,2.3,NaN
207,Mancini III,Trey,641820,2022,7.5,0.236,0.317,0.562,0.280,0.388,...,0.500,0.315,0.430,-0.081,-0.229,-0.108,91.6,9.8,11.1,NaN
243,Mullins II,Cedric,656775,2022,8.2,0.205,0.257,0.489,0.307,0.363,...,0.405,0.268,0.335,-0.052,-0.133,-0.056,89.2,18.8,12.3,NaN
282,Guerrero Jr.,Vladimir,665489,2022,11.4,0.309,0.329,0.672,0.402,0.438,...,0.526,0.382,0.414,-0.020,-0.113,-0.036,91.5,9.4,14.5,NaN
285,Chisholm Jr.,Jazz,665862,2022,8.5,0.308,0.268,0.561,0.436,0.383,...,0.506,0.421,0.397,0.040,0.112,0.053,89.1,14.8,15.8,NaN
295,Gurriel Jr.,Lourdes,666971,2022,3.8,0.274,0.271,0.461,0.322,0.329,...,0.386,0.333,0.341,0.003,-0.036,-0.007,92.3,13.4,5.0,NaN
327,Witt Jr.,Bobby,677951,2022,2.9,0.206,0.200,0.295,0.234,0.224,...,0.285,0.280,0.273,0.006,-0.001,0.010,88.4,15.2,2.0,NaN

In [2064]:
len(batters_df)

335

In [2065]:
bat_xbadiff = batters_df[['last_name', 'first_name', 'xbadiff','batting_avg', 'xba']]
#Make a table with just the xBA difference

In [2066]:
pitch_xbadiff = pitchers_df[['last_name', 'first_name', 'xbadiff', 'batting_avg', 'xba']]
# pitch_xbadiff.sort_values('xba', ascending=False)

# Probable Pitchers

In [2067]:
url = 'https://www.mlb.com/probable-pitchers/2022-04-30'
#URL of where I will get the pitchers' names

In [2068]:
res = requests.get(url)
soup = BeautifulSoup(res.content)
#Making request to the site and storing it in soup

In [2069]:
pitchers = soup.find_all('a', {'class': 'probable-pitchers__pitcher-name-link'})
probable_pitchers = []
for i in pitchers:
    probable_pitchers.append(str(i))
#Finding all of the pitchers' names within that <a> tag
#Using for loop to convert the beautiful soup elements in the list to strings so I can get only the pitcher's name from there

In [2070]:
probable_pitchers = [i.split('">')[1] for i in probable_pitchers] 
#Getting only the pitchers' names

In [2071]:
probable_pitchers = [i.split('</a')[0] for i in probable_pitchers] 
#Getting only the pitchers' names part 2

In [2072]:
probable_pitchers = [i.split() for i in probable_pitchers]
#Splitting name into first and last name columns

In [2073]:
df_probable_pitchers = pd.DataFrame(probable_pitchers)
#Setting list as Pandas DF

In [2074]:
df_probable_pitchers = df_probable_pitchers.rename(columns={0: "first_name", 1: "last_name"})
#Renaming column

# Get Pitchers' Teams

In [2075]:
misc_pitchers = misc_pitchers[['Player', 'Team']]
#All we need from this is their names and the team, because we will merge it with the other df to get the name on there

In [2076]:
misc_pitchers[['first_name', 'last_name']] = misc_pitchers['Player'].str.split(' ', 1, expand=True)
#Separating 'Player' column into two columns for first and last to match probable_pitchers df

In [2077]:
misc_pitchers = misc_pitchers.drop(columns='Player')
#We don't need this full name column anymore

In [2078]:
misc_pitchers = misc_pitchers[['last_name', 'first_name', 'Team']]
#reordering columns

# Get Batters' Teams

In [2079]:
misc_batters = misc_batters[['Player', 'Team']]
#All we need from this is their names and the team, because we will merge it with the other df to get the name on there

In [2080]:
misc_batters[['first_name', 'last_name']] = misc_batters['Player'].str.split(' ', 1, expand=True)
#Separating 'Player' column into two columns for first and last to match probable_pitchers df

In [2081]:
misc_batters = misc_batters.drop(columns='Player')
#We don't need this full name column anymore

In [2082]:
misc_batters = misc_batters[['last_name', 'first_name', 'Team']]
#Reordering columns

In [2083]:
df_probable_pitchers

   first_name   last_name
0     Merrill       Kelly
1       Miles     Mikolas
2        Luis      Garcia
3        Jose     Berrios
4        Joan        Adon
5       Logan        Webb
6        Jose      Suarez
7       Vince   Velasquez
8       Shane      Bieber
9        Cole       Irvin
10      Chris      Archer
11      Shane  McClanahan
12     Robbie         Ray
13      Jesus     Luzardo
14       Sean      Manaea
15         JT    Brubaker
16     Nathan     Eovaldi
17    Spenser     Watkins
18      Bryce       Elder
19       Dane     Dunning
20       Kyle      Gibson
21    Taijuan      Walker
22     Gerrit        Cole
23     Carlos   Hernandez
24     Justin      Steele
25       Eric       Lauer
26     Connor     Overton
27       Chad        Kuhl
28       Beau     Brieske
29    Clayton     Kershaw

In [2084]:
pitchers_df['first_name'] = pitchers_df['first_name'].str.strip()
batters_df['first_name'] = batters_df['first_name'].str.strip()
#Removing empty space in these column entries for example this makes ' Cabrera' => 'Cabrera'

batters_df and pitchers_df front names all have a space in front of them and that's why merge is not working

# Attaching according Team Name to each player in all DFs

The datasets on Baseball Savant do not include the team name with they players, so I will add them in

In [2085]:
df_probable_pitchers = pd.merge(df_probable_pitchers, misc_pitchers, on=['last_name', 'first_name'], how='left')
pitchers_df = pd.merge(pitchers_df, misc_pitchers, on=['last_name', 'first_name'], how='inner')
batters_df = pd.merge(batters_df, misc_batters, on=['last_name', 'first_name'], how='inner')
#Adding team to all of the players
#Joining probables as a left join so it will include all of the probables without exception -- may make one of their

In [2086]:
len(df_probable_pitchers)

31

In [2087]:
df_probable_pitchers = pd.merge(df_probable_pitchers, pitchers_df, on=['last_name', 'first_name', 'Team'], how='left')

# Which player to pick for BTS

In [2088]:
pp_xba = df_probable_pitchers[['last_name', 'first_name', 'Team', 'batting_avg', 'xba', 'p_bb_percent']]
#How can I compare this to batters df??

In [2089]:
pp_xba.rename(columns= {'xba': 'pitcher_xba'})
#Eventually might move this to another df or merge, unclear

     last_name first_name Team  batting_avg  pitcher_xba  p_bb_percent
0        Kelly    Merrill  ARI        0.244        0.259           7.9
1      Mikolas      Miles  STL        0.205        0.224           4.4
2       Garcia       Luis  HOU        0.182        0.309           0.0
3       Garcia       Luis  HOU        0.196        0.204           6.6
4       Garcia       Luis   SD        0.182        0.309           0.0
5       Garcia       Luis   SD        0.196        0.204           6.6
6      Berrios       Jose  TOR        0.289        0.313           8.2
7         Adon       Joan  WAS        0.282        0.320          11.1
8         Webb      Logan   SF        0.234        0.258           5.1
9       Suarez       Jose  LAA        0.224        0.302          15.5
10   Velasquez      Vince  CWS        0.288        0.312          11.9
11      Bieber      Shane  CLE        0.188        0.245           5.8
12       Irvin       Cole  OAK        0.226        0.296           5.6
13      Archer      Chris  MIN        0.209        0.251          12.2
14  McClanahan      Shane   TB        0.200        0.226           5.8
15         Ray     Robbie  SEA        0.239        0.264           7.8
16     Luzardo      Jesus  MIA        0.204        0.197          11.5
17      Manaea       Sean   SD        0.188        0.238           8.5
18    Brubaker         JT  PIT        0.226        0.224          15.1
19     Eovaldi     Nathan  BOS        0.247        0.271           3.4
20     Watkins    Spenser  BAL        0.184        0.276          12.5
21       Elder      Bryce  ATL        0.250        0.283          15.9
22     Dunning       Dane  TEX        0.293        0.295           9.5
23      Gibson       Kyle  PHI        0.198        0.225           7.8
24      Walker    Taijuan  NYM          NaN          NaN           NaN
25        Cole     Gerrit  NYY        0.203        0.244          10.8
26   Hernandez     Carlos   KC        0.333        0.326           7.7
27      Steele     Justin  CHC        0.276        0.272          14.5
28       Lauer       Eric  MIL        0.210        0.238           6.0
29     Overton     Connor  NaN          NaN          NaN           NaN
30        Kuhl       Chad  COL        0.145        0.188          11.3
31     Brieske       Beau  DET        0.167        0.295          10.0
32     Kershaw    Clayton  LAD        0.167        0.183           0.0

One thing I could do is... switch the one column with the next, and then merge it with the batter's df
So for example if Oakland is playing Cleveland, I can switch the pitchers with each other. So Oakland's pitcher will be on Cleveland, and then I will have the pitcher xba to match with the team. Then I can basically set that for every member of the team, and then add that with the hitter xba and see if it meets the criteria

In [2090]:
batters_df['sanchezium'] = pp_xba['batting_avg']

In [2092]:
# pp_xba.sort_values(by='xba', ascending=False)

In [2093]:
batters_df.loc[batters_df['Team'] == 'CWS']

,last_name,first_name,player_id,year,b_bb_percent,batting_avg,xba,xslg,woba,xwoba,...,xbacon,xbadiff,xslgdiff,wobadif,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 22,Team,sanchezium
30,Grandal,Yasmani,518735,2022,8.6,0.173,0.250,0.506,0.236,0.346,...,0.315,-0.077,-0.237,-0.110,87.5,12.6,14.3,NaN,CWS,0.145
49,Harrison,Josh,543281,2022,2.9,0.094,0.214,0.414,0.156,0.289,...,0.273,-0.120,-0.226,-0.133,92.1,20.3,8.0,NaN,CWS,NaN
61,Garcia,Leury,544725,2022,4.3,0.114,0.211,0.327,0.165,0.249,...,0.273,-0.097,-0.122,-0.084,88.1,6.1,2.9,NaN,CWS,NaN
68,Abreu,Jose,547989,2022,10.0,0.206,0.256,0.576,0.291,0.378,...,0.343,-0.050,-0.227,-0.087,93.8,8.6,14.9,NaN,CWS,NaN
181,McGuire,Reese,624512,2022,6.1,0.167,0.253,0.449,0.191,0.319,...,0.340,-0.086,-0.249,-0.128,86.4,8.1,8.7,NaN,CWS,NaN
189,Anderson,Tim,641313,2022,1.6,0.288,0.310,0.580,0.343,0.382,...,0.374,-0.022,-0.122,-0.039,89.5,9.0,14.3,NaN,CWS,NaN
195,Engel,Adam,641553,2022,11.1,0.188,0.246,0.319,0.239,0.292,...,0.357,-0.058,-0.100,-0.053,89.5,8.0,0.0,NaN,CWS,NaN
228,Jimenez,Eloy,650391,2022,5.1,0.222,0.234,0.418,0.264,0.288,...,0.313,-0.012,-0.085,-0.024,92.6,3.0,7.4,NaN,CWS,NaN
242,Sheets,Gavin,657757,2022,4.3,0.227,0.258,0.423,0.273,0.314,...,0.344,-0.031,-0.105,-0.041,89.5,15.3,9.1,NaN,CWS,NaN
297,Burger,Jake,669394,2022,2.0,0.277,0.256,0.518,0.329,0.328,...,0.354,0.021,-0.071,0.001,90.7,18.2,11.4,NaN,CWS,NaN
307,Robert,Luis,673357,2022,2.2,0.205,0.340,0.724,0.270,0.445,...,0.394,-0.135,-0.338,-0.175,91.3,9.7,15.8,NaN,CWS,NaN
321,Vaughn,Andrew,683734,2022,8.9,0.300,0.320,0.696,0.429,0.450,...,0.381,-0.020,-0.096,-0.021,89.5,11.1,14.3,NaN,CWS,NaN

In [2094]:
# batters_df.loc[batters_df['last_name'] == 'Guererro']
# To fix later

# Which Hitters to pick for BTS

Now we need to see