In [59]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup
from __future__ import print_function

from datetime import date
import datetime
#imports

# Ideas

Raise error when len does not match before and after merging datasets (means that a player wasn't found -- likely because he is a junior or has two last names, etc.)

# To Do

1. Address last name issue
2. Get pitcher xba onto
3. Scrape data instead of downloading CSVs

ON avoiding duplicate names --- maybe could change xba column in pitchers df before I merge, that way any batters with the name Luis Garcia would not have the column and be left out

In [60]:
batters_df = pd.read_csv('../../data/individual_batting_stats.csv')
pitchers_df = pd.read_csv('../../data/individual_pitching_stats.csv')
misc_batters = pd.read_csv('../../data/batters_teams.csv')
misc_pitchers = pd.read_csv('../../data/pitchers_teams.csv')

Pitcher Savant URL

https://baseballsavant.mlb.com/leaderboard/custom?year=2022&type=pitcher&filter=&sort=4&sortDir=asc&min=25&selections=p_total_pa,p_ab,p_total_hits,p_strikeout,p_walk,p_k_percent,p_bb_percent,batting_avg,slg_percent,on_base_percent,xba,xslg,woba,xwoba,xobp,xiso,wobacon,xwobacon,bacon,xbacon,xbadiff,xslgdiff,wobadif,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,meatball_swing_percent,meatball_percent,&chart=false&x=xba&y=xba&r=no&chartType=beeswarm

Batter Savant URL

https://baseballsavant.mlb.com/leaderboard/custom?year=2022&type=batter&filter=&sort=1&sortDir=asc&min=25&selections=b_ab,b_total_pa,b_total_hits,b_strikeout,b_walk,b_k_percent,b_bb_percent,batting_avg,slg_percent,on_base_percent,xba,xslg,woba,xwoba,xobp,xiso,wobacon,xwobacon,bacon,xbacon,xbadiff,xslgdiff,wobadif,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,meatball_swing_percent,meatball_percent,&chart=false&x=xba&y=xba&r=no&chartType=beeswarm

In [61]:
y = batters_df[batters_df['last_name'].str.contains(" ")]
batters_df['last_name'] = [i.split(' ')[0] for i in batters_df['last_name']]
#The teams df does not have Jr., III for example listed on the names so I will cut them off before that so they match

In [62]:
len(batters_df)

445

# Probable Pitchers

In [63]:
d = datetime.datetime.now()
today = d.strftime("%Y-%m-%d")
#Get today's date

In [64]:
url = f'https://www.mlb.com/probable-pitchers/{today}'
#URL of where I will get the pitchers' names

In [65]:
res = requests.get(url)
soup = BeautifulSoup(res.content)
#Making request to the site and storing it in soup

In [66]:
# pitchers = soup.find_all('div', {'class': 'probable-pitchers__pitcher-name'})

In [67]:
pitchers = soup.find_all('div', {'class': 'probable-pitchers__pitcher-name'})
probable_pitchers = []
for i in pitchers:
    probable_pitchers.append(str(i))
#Finding all of the pitchers' names within that <a> tag
#Using for loop to convert the beautiful soup elements in the list to strings so I can get only the pitcher's name from there

In [68]:
probable_pitchers = [i.split('\n')[1] for i in probable_pitchers]
#Getting only the pitchers' names

In [69]:
for i in range(len(probable_pitchers)):
    if 'TBD' in probable_pitchers[i]:
        probable_pitchers[i] = '>TBD</a>'

In [70]:
probable_pitchers

['<a class="probable-pitchers__pitcher-name-link" href="/player/shane-baz-669358">Shane Baz</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/chi-chi-gonzalez-592346">Chi Chi Gonzalez</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/martin-perez-527048">Martin Perez</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/lucas-giolito-608337">Lucas Giolito</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/hunter-greene-668881">Hunter Greene</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/adam-wainwright-425794">Adam Wainwright</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/madison-bumgarner-518516">Madison Bumgarner</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/zack-wheeler-554430">Zack Wheeler</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/eric-lauer-641778">Eric Lauer</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/patrick-corbin-571578">Patrick Corbin</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/tyler-wells-669330">Tyler Wells</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/daniel-lynch-663738">Daniel Lynch</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/frankie-montas-593423">Frankie Montas</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/zach-plesac-668676">Zach Plesac</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/ryan-feltner-663372">Ryan Feltner</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/nick-martinez-607259">Nick Martinez</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/kevin-gausman-592332">Kevin Gausman</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/beau-brieske-689225">Beau Brieske</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/zach-thompson-605507">Zach Thompson</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/charlie-morton-450203">Charlie Morton</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/braxton-garrett-666129">Braxton Garrett</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/framber-valdez-664285">Framber Valdez</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/clayton-kershaw-477132">Clayton Kershaw</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/sam-long-669674">Sam Long</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/matt-swarmer-664161">Matt Swarmer</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/jordan-montgomery-656756">Jordan Montgomery</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/carlos-carrasco-471911">Carlos Carrasco</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/michael-lorenzen-547179">Michael Lorenzen</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/kyle-freeland-607536">Kyle Freeland</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/mackenzie-gore-669022">MacKenzie Gore</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/michael-wacha-608379">Michael Wacha</a>',
 '<a class="probable-pitchers__pitcher-name-link" href="/player/george-kirby-669923">George Kirby</a>']

In [71]:
probable_pitchers = [i.split('</a')[0] for i in probable_pitchers] 
#Getting only the pitchers' names part 2

In [72]:
probable_pitchers = [i.split('>')[1] for i in probable_pitchers]

In [74]:
probable_pitchers = [i.split() for i in probable_pitchers]
#Splitting name into first and last name columns

In [77]:
df_probable_pitchers = pd.DataFrame(probable_pitchers)
#Setting list as Pandas DF

In [78]:
df_probable_pitchers = df_probable_pitchers.rename(columns={0: "first_name", 1: "last_name"})
#Renaming column

# Get Pitchers' Teams

In [79]:
new_teams = soup.find_all('span', {'class':['probable-pitchers__team-name probable-pitchers__team-name--away', 'probable-pitchers__team-name probable-pitchers__team-name--home']})
teams_of_probable_pitchers = []
for i in new_teams:
    teams_of_probable_pitchers.append(str(i))
#Finding all of the pitchers' names within that <a> tag
#Using for loop to convert the beautiful soup elements in the list to strings so I can get only the pitcher's name from there

In [80]:
teams_of_probable_pitchers = [x.strip(' ') for x in teams_of_probable_pitchers]
#Getting only the pitchers' names

In [81]:
teams_of_probable_pitchers = [i.split('>\n')[1] for i in teams_of_probable_pitchers] 
#Getting only the pitchers' names

In [82]:
teams_of_probable_pitchers = teams_of_probable_pitchers = [x.strip('                             ') for x in teams_of_probable_pitchers]
#Stripping white space

In [83]:
teams_of_probable_pitchers = [i.split('\n')[0] for i in teams_of_probable_pitchers]

In [84]:
len(teams_of_probable_pitchers)

32

In [85]:
df_probable_pitchers['team'] = teams_of_probable_pitchers
#Putting team on this way, now we just need to change it to the abbreviation

In [86]:
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Astros', 'HOU', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Nationals', 'WAS', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Giants', 'SF', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Blue Jays', 'TOR', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Angels', 'LAA', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'White Sox', 'CWS', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Guardians', 'CLE', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Athletics', 'OAK', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Twins', 'MIN', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Rays', 'TB', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Mariners', 'SEA', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Marlins', 'MIA', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Padres', 'SD', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Pirates', 'PIT', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Red Sox', 'BOS', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Orioles', 'BAL', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Braves', 'ATL', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Rangers', 'TEX', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Phillies', 'PHI', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Mets', 'NYM', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Yankees', 'NYY', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Royals', 'KC', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Cubs', 'CHC', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Brewers', 'MIL', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Reds', 'CIN', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Rockies', 'COL', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Tigers', 'DET', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Dodgers', 'LAD', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'D-backs', 'ARI', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Cardinals', 'STL', df_probable_pitchers['team'])
#Changing team nickname to abbreviation so it will match the other DF -- Will clean this up in the future

In [87]:
misc_pitchers = misc_pitchers[['Player', 'Team']]
#All we need from this is their names and the team, because we will merge it with the other df to get the name on there

In [88]:
misc_pitchers[['first_name', 'last_name']] = misc_pitchers['Player'].str.split(' ', 1, expand=True)
#Separating 'Player' column into two columns for first and last to match probable_pitchers df

In [89]:
misc_pitchers = misc_pitchers.drop(columns='Player')
#We don't need this full name column anymore

In [90]:
misc_pitchers = misc_pitchers.rename(columns={"Team": "team"})
#Make this lowercase so it matches team column in probable pitchers

In [91]:
misc_pitchers = misc_pitchers[['last_name', 'first_name', 'team']]
#reordering columns

# Get Batters' Teams

In [93]:
misc_batters = misc_batters[['Player', 'Team']]
#All we need from this is their names and the team, because we will merge it with the other df to get the name on there

In [94]:
misc_batters[['first_name', 'last_name']] = misc_batters['Player'].str.split(' ', 1, expand=True)
#Separating 'Player' column into two columns for first and last to match probable_pitchers df

In [95]:
misc_batters = misc_batters.drop(columns='Player')
#We don't need this full name column anymore

In [96]:
misc_batters = misc_batters[['last_name', 'first_name', 'Team']]
#Reordering columns

In [97]:
pitchers_df['first_name'] = pitchers_df['first_name'].str.strip()
batters_df['first_name'] = batters_df['first_name'].str.strip()
#Removing empty space in these column entries for example this makes ' Cabrera' => 'Cabrera'

batters_df and pitchers_df front names all have a space in front of them and that's why merge is not working

# Attaching according Team Name to each player in all DFs

The datasets on Baseball Savant do not include the team name with they players, so I will add them in

In [98]:
misc_pitchers = misc_pitchers.drop(misc_pitchers[misc_pitchers.last_name == 'Garcia'].index & misc_pitchers[misc_pitchers.first_name == 'Luis'].index & misc_pitchers[misc_pitchers.team == 'SD'].index)
#Dropping Padres' Luis Garcia to avoid issue of doubling when Astros' Luis Garcia pitches

C:\Users\User\AppData\Local\Temp/ipykernel_3532/877907739.py:1: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead
  misc_pitchers = misc_pitchers.drop(misc_pitchers[misc_pitchers.last_name == 'Garcia'].index & misc_pitchers[misc_pitchers.first_name == 'Luis'].index & misc_pitchers[misc_pitchers.team == 'SD'].index)

In [99]:
pitchers_df = pitchers_df.drop(pitchers_df[pitchers_df.last_name == 'Garcia'].index & pitchers_df[pitchers_df.first_name == 'Luis'].index & pitchers_df[pitchers_df.player_id == 472610 ].index)

C:\Users\User\AppData\Local\Temp/ipykernel_3532/1932908247.py:1: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead
  pitchers_df = pitchers_df.drop(pitchers_df[pitchers_df.last_name == 'Garcia'].index & pitchers_df[pitchers_df.first_name == 'Luis'].index & pitchers_df[pitchers_df.player_id == 472610 ].index)

In [100]:
df_probable_pitchers = pd.merge(df_probable_pitchers, misc_pitchers, on=['last_name', 'first_name', 'team'], how='left')
pitchers_df = pd.merge(pitchers_df, misc_pitchers, on=['last_name', 'first_name'], how='inner') #issue occurs on this merge
batters_df = pd.merge(batters_df, misc_batters, on=['last_name', 'first_name'], how='inner')
#Adding team to all of the players
#Joining probables as a left join so it will include all of the probables without exception -- may make one of their stats
# unavailable if they don't have enough PAs

In [101]:
df_probable_pitchers = pd.merge(df_probable_pitchers, pitchers_df, on=['team', 'last_name', 'first_name'], how='left')
#Adding stats to probable pitchers

#This is what is adding the other Luis Garcia

# Which player to pick for BTS

In [102]:
pp_xba = df_probable_pitchers[['last_name', 'first_name', 'team', 'batting_avg', 'xba', 'xwoba', 'xslg', 'p_bb_percent']]
#How can I compare this to batters df??

One thing I could do is... switch the one column with the next, and then merge it with the batter's df
So for example if Oakland is playing Cleveland, I can switch the pitchers with each other. So Oakland's pitcher will be on Cleveland, and then I will have the pitcher xba to match with the team. Then I can basically set that for every member of the team, and then add that with the hitter xba and see if it meets the condition

In [103]:
pp_xba.sort_values(by='xba', ascending=False)

     last_name first_name team  batting_avg    xba  xwoba   xslg  p_bb_percent
13      Plesac       Zach  CLE        0.273  0.310  0.390  0.565           6.0
9       Corbin    Patrick  WAS        0.313  0.309  0.389  0.525           9.2
17     Brieske       Beau  DET        0.241  0.299  0.403  0.612           8.4
28    Freeland       Kyle  COL        0.281  0.284  0.359  0.492           7.4
19      Morton    Charlie  ATL        0.274  0.280  0.364  0.471           9.9
11       Lynch     Daniel   KC        0.273  0.277  0.347  0.454          10.1
18    Thompson       Zach  PIT        0.265  0.277  0.347  0.468           8.4
25  Montgomery     Jordan  NYY        0.227  0.274  0.324  0.427           4.2
15    Martinez       Nick   SD        0.253  0.267  0.358  0.482          11.3
26    Carrasco     Carlos  NYM        0.255  0.266  0.311  0.409           5.5
6    Bumgarner    Madison  ARI        0.227  0.261  0.346  0.497           8.0
5   Wainwright       Adam  STL        0.229  0.255  0.321  0.424           8.4
8        Lauer       Eric  MIL        0.214  0.254  0.333  0.468           7.2
16     Gausman      Kevin  TOR        0.250  0.252  0.286  0.402           2.5
21      Valdez    Framber  HOU        0.214  0.249  0.295  0.333           8.6
30       Wacha    Michael  BOS        0.185  0.249  0.324  0.422           8.7
10       Wells      Tyler  BAL        0.239  0.248  0.315  0.441           4.7
23        Long        Sam   SF        0.205  0.247  0.299  0.355          11.8
4       Greene     Hunter  CIN        0.253  0.246  0.354  0.505          10.9
3      Giolito      Lucas  CWS        0.258  0.245  0.335  0.461           9.6
14     Feltner       Ryan  COL        0.222  0.239  0.321  0.453           7.1
27    Lorenzen    Michael  LAA        0.212  0.235  0.315  0.412           9.3
7      Wheeler       Zack  PHI        0.240  0.232  0.281  0.341           6.3
12      Montas    Frankie  OAK        0.208  0.229  0.288  0.385           5.9
22     Kershaw    Clayton  LAD        0.181  0.228  0.268  0.366           2.8
2        Perez     Martin  TEX        0.200  0.225  0.264  0.318           5.8
29        Gore  MacKenzie   SD        0.200  0.224  0.296  0.373           8.9
0          Baz      Shane   TB          NaN    NaN    NaN    NaN           NaN
1          Chi        Chi  MIN          NaN    NaN    NaN    NaN           NaN
20     Garrett    Braxton  MIA          NaN    NaN    NaN    NaN           NaN
24     Swarmer       Matt  CHC          NaN    NaN    NaN    NaN           NaN
31       Kirby     George  SEA          NaN    NaN    NaN    NaN           NaN

In [118]:
batters_df.loc[batters_df['Team'] == 'MIL']

,last_name,first_name,player_id,year,b_ab,b_total_pa,b_total_hits,b_strikeout,b_walk,b_k_percent,...,wobadif,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,meatball_swing_percent,meatball_percent,Unnamed: 32,Team,pitcher_xba,xba_total
12,Cain,Lorenzo,456715,2022,130,141,22,34,8,24.1,...,-0.035,88.4,1.6,0.0,80.6,6.3,NaN,MIL,0.309,0.519
13,McCutchen,Andrew,457705,2022,166,180,34,42,11,23.3,...,-0.069,87.8,12.6,7.1,78.7,8.4,NaN,MIL,0.309,0.569
72,Wong,Kolten,543939,2022,174,203,39,33,21,16.3,...,0.013,86.3,16.1,2.1,74.7,9.1,NaN,MIL,0.309,0.536
86,Narvaez,Omar,553882,2022,106,121,29,27,12,22.3,...,0.038,85.2,18.8,5.1,76.5,7.0,NaN,MIL,0.309,0.546
127,Renfroe,Hunter,592669,2022,143,155,38,39,9,25.2,...,0.016,90.0,16.0,14.0,76.3,6.2,NaN,MIL,0.309,0.545
129,Yelich,Christian,592885,2022,193,222,43,57,25,25.7,...,-0.052,92.1,7.1,12.3,75.8,7.0,NaN,MIL,0.309,0.579
166,Caratini,Victor,605170,2022,65,78,14,17,9,21.8,...,-0.051,88.2,5.0,10.2,62.5,7.0,NaN,MIL,0.309,0.592
178,Peterson,Jace,607054,2022,118,133,28,34,14,25.6,...,0.004,88.7,8.1,8.2,58.5,7.0,NaN,MIL,0.309,0.554
203,Taylor,Tyrone,621438,2022,143,154,34,30,8,19.5,...,-0.026,89.3,17.4,8.8,75.0,5.7,NaN,MIL,0.309,0.579
266,Tellez,Rowdy,642133,2022,180,197,46,44,15,22.3,...,-0.048,89.7,15.3,14.0,70.0,6.4,NaN,MIL,0.309,0.588
273,Adames,Willy,642715,2022,130,148,27,42,17,28.4,...,-0.063,90.4,17.5,17.0,83.3,8.2,NaN,MIL,0.309,0.575
393,Hiura,Keston,669374,2022,76,88,17,41,9,46.6,...,0.017,93.6,17.1,17.1,68.4,5.1,NaN,MIL,0.309,0.511
400,Brosseau,Mike,670712,2022,68,78,18,21,10,26.9,...,0.017,88.5,12.6,6.4,66.7,4.7,NaN,MIL,0.309,0.546

In [105]:
pp_xba['Team'] = " "
#New column to house when I switch the teams with each other
#I'm doing this so I can eventually merge it onto the batters' df with the hitters' team

C:\Users\User\AppData\Local\Temp/ipykernel_3532/1964202557.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'] = " "

# Getting Pitcher Stats onto Batter DF

FOR NOW, UNTIL I CLEAN THE BELOW UP A LITTLE MORE AND HAVE IT ITERATE THROUGH AND ADJUST TO THE NUMBER OF ROWS PER DAY, JUST USE THE AMOUNT OF ROWS THAT THE LEN() SHOWS AND COMMENT OUT THE REST

In [106]:
pp_xba.index = np.arange(1, len(pp_xba) + 1)
#Making index start at 1

In [107]:
len(pp_xba)

32

In [108]:
pp_xba['Team'].iloc[1::2] = pp_xba['team'].iloc[::2]
pp_xba['Team'].iloc[::2] = pp_xba['team'].iloc[1::2]
#Putting odd teams on even teams and vice versa so that 'Team' reflects opposing pitcher

C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [109]:
pp_xba = pp_xba.rename(columns={"batting_avg": "pitcher_batting_avg", "xba": "pitcher_xba"})
#Renaming columns for clarity

In [110]:
batters_df = pd.merge(batters_df, pp_xba[['Team','pitcher_xba']],on='Team', how='left')
#Getting pitcher data onto batters df

In [111]:
xba_sum = batters_df['xba'] + batters_df['pitcher_xba']
#Adding sum

In [112]:
batters_df['xba_total'] = xba_sum
#Adding xba sum into the batters dataframe

# Which Hitters to pick for BTS

# Best Picks for Today

In [113]:
best_picks = batters_df[(batters_df['xba'] > .300) & (batters_df['pitcher_xba'] > .300) & (batters_df['xba_total'] > .650)]
best_picks

Empty DataFrame
Columns: [last_name, first_name, player_id, year, b_ab, b_total_pa, b_total_hits, b_strikeout, b_walk, b_k_percent, b_bb_percent, batting_avg, slg_percent, on_base_percent, xba, xslg, woba, xwoba, xobp, xiso, wobacon, xwobacon, bacon, xbacon, xbadiff, xslgdiff, wobadif, exit_velocity_avg, launch_angle_avg, barrel_batted_rate, meatball_swing_percent, meatball_percent, Unnamed: 32, Team, pitcher_xba, xba_total]
Index: []

[0 rows x 36 columns]

In [114]:
second_best = batters_df[(batters_df['xba'] > .290) & (batters_df['pitcher_xba'] > .290) & (batters_df['xba_total'] > .600)]
second_best

,last_name,first_name,player_id,year,b_ab,b_total_pa,b_total_hits,b_strikeout,b_walk,b_k_percent,...,wobadif,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,meatball_swing_percent,meatball_percent,Unnamed: 32,Team,pitcher_xba,xba_total
405,Kirk,Alejandro,672386,2022,137,158,42,14,19,8.9,...,-0.015,90.1,9.7,8.0,75.0,4.4,NaN,TOR,0.299,0.607

In [115]:
third_best = batters_df[(batters_df['xba'] > .275) & (batters_df['pitcher_xba'] > .275) & (batters_df['xba_total'] > .580)]
third_best.sort_values('xba_total', ascending = False)

,last_name,first_name,player_id,year,b_ab,b_total_pa,b_total_hits,b_strikeout,b_walk,b_k_percent,...,wobadif,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,meatball_swing_percent,meatball_percent,Unnamed: 32,Team,pitcher_xba,xba_total
405,Kirk,Alejandro,672386,2022,137,158,42,14,19,8.9,...,-0.015,90.1,9.7,8.0,75.0,4.4,NaN,TOR,0.299,0.607
171,Arcia,Orlando,606115,2022,47,54,14,14,6,25.9,...,-0.054,93.8,11.0,11.8,85.0,8.9,NaN,ATL,0.277,0.604
259,Mancini,Trey,641820,2022,194,219,60,38,20,17.4,...,-0.044,89.1,12.7,10.8,75.0,7.2,NaN,BAL,0.277,0.600
46,Bethancourt,Christian,542194,2022,97,105,22,22,6,21.0,...,-0.093,90.5,7.2,10.5,80.0,5.7,NaN,OAK,0.310,0.600
331,Mountcastle,Ryan,663624,2022,169,181,43,44,10,24.3,...,-0.079,91.5,15.6,12.7,89.1,6.4,NaN,BAL,0.277,0.596
392,Espinal,Santiago,669289,2022,175,196,48,34,17,17.3,...,-0.017,87.7,13.7,5.6,73.2,7.4,NaN,TOR,0.299,0.595
375,Bichette,Bo,666182,2022,218,231,56,56,13,24.2,...,-0.038,91.7,8.5,9.9,87.1,8.1,NaN,TOR,0.299,0.593
166,Caratini,Victor,605170,2022,65,78,14,17,9,21.8,...,-0.051,88.2,5.0,10.2,62.5,7.0,NaN,MIL,0.309,0.592
280,Jansen,Danny,643376,2022,50,54,13,9,3,16.7,...,-0.029,89.8,23.4,24.4,65.0,9.6,NaN,TOR,0.299,0.592
364,Guerrero,Vladimir,665489,2022,187,215,47,38,23,17.7,...,-0.032,92.7,5.4,10.6,90.2,6.4,NaN,TOR,0.299,0.589
266,Tellez,Rowdy,642133,2022,180,197,46,44,15,22.3,...,-0.048,89.7,15.3,14.0,70.0,6.4,NaN,MIL,0.309,0.588
333,Hayes,Ke'Bryan,663647,2022,177,202,51,39,22,19.3,...,-0.040,91.9,7.1,7.9,62.3,6.4,NaN,PIT,0.280,0.587
119,Gamel,Ben,592325,2022,140,160,36,37,20,23.1,...,-0.042,88.8,9.0,5.8,63.5,7.7,NaN,PIT,0.280,0.586

In [116]:
next_best = batters_df[(batters_df['xba_total'] > .550)]
next_best.sort_values('xba_total', ascending = False)

,last_name,first_name,player_id,year,b_ab,b_total_pa,b_total_hits,b_strikeout,b_walk,b_k_percent,...,wobadif,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,meatball_swing_percent,meatball_percent,Unnamed: 32,Team,pitcher_xba,xba_total
216,Reyes,Victor,622682,2022,24,26,7,4,2,15.4,...,-0.093,90.6,4.1,5.0,37.5,7.0,NaN,DET,0.252,0.661
158,Daza,Yonathan,602074,2022,112,126,38,13,9,10.3,...,-0.028,85.5,4.8,4.0,77.4,6.3,NaN,COL,0.267,0.609
405,Kirk,Alejandro,672386,2022,137,158,42,14,19,8.9,...,-0.015,90.1,9.7,8.0,75.0,4.4,NaN,TOR,0.299,0.607
171,Arcia,Orlando,606115,2022,47,54,14,14,6,25.9,...,-0.054,93.8,11.0,11.8,85.0,8.9,NaN,ATL,0.277,0.604
316,Olivares,Edward,658668,2022,35,38,13,5,2,13.2,...,-0.014,92.7,0.6,6.7,90.0,6.6,NaN,KC,0.248,0.603
259,Mancini,Trey,641820,2022,194,219,60,38,20,17.4,...,-0.044,89.1,12.7,10.8,75.0,7.2,NaN,BAL,0.277,0.600
46,Bethancourt,Christian,542194,2022,97,105,22,22,6,21.0,...,-0.093,90.5,7.2,10.5,80.0,5.7,NaN,OAK,0.310,0.600
331,Mountcastle,Ryan,663624,2022,169,181,43,44,10,24.3,...,-0.079,91.5,15.6,12.7,89.1,6.4,NaN,BAL,0.277,0.596
327,Hoerner,Nico,663538,2022,131,137,38,17,4,12.4,...,-0.029,89.7,9.1,4.4,70.0,6.3,NaN,CHC,0.274,0.595
392,Espinal,Santiago,669289,2022,175,196,48,34,17,17.3,...,-0.017,87.7,13.7,5.6,73.2,7.4,NaN,TOR,0.299,0.595
375,Bichette,Bo,666182,2022,218,231,56,56,13,24.2,...,-0.038,91.7,8.5,9.9,87.1,8.1,NaN,TOR,0.299,0.593
280,Jansen,Danny,643376,2022,50,54,13,9,3,16.7,...,-0.029,89.8,23.4,24.4,65.0,9.6,NaN,TOR,0.299,0.592
166,Caratini,Victor,605170,2022,65,78,14,17,9,21.8,...,-0.051,88.2,5.0,10.2,62.5,7.0,NaN,MIL,0.309,0.592
364,Guerrero,Vladimir,665489,2022,187,215,47,38,23,17.7,...,-0.032,92.7,5.4,10.6,90.2,6.4,NaN,TOR,0.299,0.589
266,Tellez,Rowdy,642133,2022,180,197,46,44,15,22.3,...,-0.048,89.7,15.3,14.0,70.0,6.4,NaN,MIL,0.309,0.588
170,Castro,Harold,605612,2022,102,107,30,19,3,17.8,...,-0.062,89.1,11.1,10.6,69.2,6.5,NaN,DET,0.252,0.588
333,Hayes,Ke'Bryan,663647,2022,177,202,51,39,22,19.3,...,-0.040,91.9,7.1,7.9,62.3,6.4,NaN,PIT,0.280,0.587
119,Gamel,Ben,592325,2022,140,160,36,37,20,23.1,...,-0.042,88.8,9.0,5.8,63.5,7.7,NaN,PIT,0.280,0.586
81,Harper,Bryce,547180,2022,184,206,56,43,17,20.9,...,-0.025,92.7,14.4,16.0,86.4,5.9,NaN,PHI,0.261,0.585
149,Stubbs,Garrett,596117,2022,32,36,11,7,3,19.4,...,0.061,86.9,15.5,7.7,50.0,12.2,NaN,PHI,0.261,0.583
129,Yelich,Christian,592885,2022,193,222,43,57,25,25.7,...,-0.052,92.1,7.1,12.3,75.8,7.0,NaN,MIL,0.309,0.579
62,Hosmer,Eric,543333,2022,184,202,55,32,18,15.8,...,0.004,88.4,3.5,5.3,69.2,6.7,NaN,SD,0.284,0.579
203,Taylor,Tyrone,621438,2022,143,154,34,30,8,19.5,...,-0.026,89.3,17.4,8.8,75.0,5.7,NaN,MIL,0.309,0.579
273,Adames,Willy,642715,2022,130,148,27,42,17,28.4,...,-0.063,90.4,17.5,17.0,83.3,8.2,NaN,MIL,0.309,0.575
101,Piscotty,Stephen,572039,2022,40,47,9,12,6,25.5,...,-0.048,92.5,6.7,3.6,88.9,5.5,NaN,OAK,0.310,0.574
123,Machado,Manny,592518,2022,193,220,66,36,25,16.4,...,0.056,90.6,15.4,5.7,81.3,6.1,NaN,SD,0.284,0.574
174,Hernandez,Teoscar,606192,2022,109,119,25,29,8,24.4,...,-0.056,91.1,7.6,13.8,80.6,7.3,NaN,TOR,0.299,0.571
328,Riley,Austin,663586,2022,210,233,56,62,19,26.6,...,-0.033,93.7,10.9,17.6,78.2,6.5,NaN,ATL,0.277,0.571
13,McCutchen,Andrew,457705,2022,166,180,34,42,11,23.3,...,-0.069,87.8,12.6,7.1,78.7,8.4,NaN,MIL,0.309,0.569
322,Ruiz,Keibert,660688,2022,151,168,39,17,13,10.1,...,-0.064,88.2,12.7,3.7,76.3,6.6,NaN,WAS,0.254,0.568
379,Gurriel,Lourdes,666971,2022,166,185,41,33,14,17.8,...,-0.037,91.2,12.8,3.7,74.5,6.9,NaN,TOR,0.299,0.568
348,France,Ty,664034,2022,209,237,70,28,16,11.8,...,0.008,90.0,8.3,6.0,76.3,6.9,NaN,SEA,0.249,0.566
69,Springer,George,543807,2022,174,200,48,43,16,21.5,...,0.021,89.9,16.8,9.6,81.8,7.2,NaN,TOR,0.299,0.566
159,Daza,Yonathan,602074,2022,112,126,38,13,9,10.3,...,-0.028,85.5,4.8,4.0,77.4,6.3,NaN,COL,0.224,0.566
16,Andrus,Elvis,462101,2022,164,180,40,26,15,14.4,...,-0.001,89.1,13.6,3.6,66.2,9.5,NaN,OAK,0.310,0.565
207,Ward,Taylor,621493,2022,132,158,44,35,26,22.2,...,0.037,89.4,12.9,16.5,72.3,7.1,NaN,LAA,0.266,0.563
357,Bohm,Alec,664761,2022,183,202,46,45,12,22.3,...,-0.078,90.7,8.7,8.3,78.8,8.5,NaN,PHI,0.261,0.562
365,Pache,Cristian,665506,2022,159,170,27,41,10,24.1,...,-0.080,90.5,4.1,5.0,76.7,7.3,NaN,OAK,0.310,0.562
110,Contreras,Willson,575929,2022,160,192,44,39,21,20.3,...,-0.017,93.2,9.5,11.6,74.0,6.9,NaN,CHC,0.274,0.561
125,Pederson,Joc,592626,2022,133,152,36,29,14,19.1,...,-0.062,94.6,11.9,20.8,82.6,7.8,NaN,SF,0.228,0.560
189,Murphy,Tom,608596,2022,33,42,10,13,8,31.0,...,-0.036,94.3,13.4,20.0,70.0,5.5,NaN,SEA,0.249,0.559
359,Brown,Seth,664913,2022,153,170,31,47,15,27.6,...,-0.044,90.6,17.7,11.2,81.8,8.3,NaN,OAK,0.310,0.559
239,Meadows,Austin,640457,2022,101,116,27,14,12,12.1,...,-0.054,87.1,18.5,5.7,62.2,8.0,NaN,DET,0.252,0.558
172,Tapia,Raimel,606132,2022,148,158,36,32,7,20.3,...,-0.035,86.5,5.8,6.8,79.5,6.8,NaN,TOR,0.299,0.558
244,Anderson,Tim,641313,2022,163,173,58,20,6,11.6,...,0.001,88.2,4.2,9.1,74.4,8.0,NaN,CWS,0.225,0.557
36,Freeman,Freddie,518692,2022,206,238,60,32,28,13.4,...,-0.047,90.7,15.1,10.2,82.8,6.4,NaN,LAD,0.247,0.556
324,Contreras,William,661388,2022,67,77,20,20,10,26.0,...,0.050,90.3,6.1,17.0,78.6,4.3,NaN,ATL,0.277,0.555
178,Peterson,Jace,607054,2022,118,133,28,34,14,25.6,...,0.004,88.7,8.1,8.2,58.5,7.0,NaN,MIL,0.309,0.554
295,Castro,Willi,650489,2022,110,120,28,21,5,17.5,...,-0.040,82.2,10.3,2.2,88.6,8.4,NaN,DET,0.252,0.553
241,Pinder,Chad,640461,2022,138,147,34,50,7,34.0,...,-0.003,90.6,11.5,7.8,83.7,9.0,NaN,OAK,0.310,0.553
414,Trejo,Alan,676701,2022,35,36,9,8,1,22.2,...,-0.048,88.0,13.9,7.4,75.0,9.1,NaN,COL,0.267,0.553
160,Urias,Ramon,602104,2022,166,180,38,43,11,23.9,...,-0.049,91.2,9.4,9.5,84.4,6.7,NaN,BAL,0.277,0.552
93,Haniger,Mitch,571745,2022,35,36,7,9,1,25.0,...,-0.096,93.3,24.0,19.2,90.9,7.5,NaN,SEA,0.249,0.552