In [93]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup
from __future__ import print_function

from datetime import date
import datetime
#imports

# Ideas

Raise error when len does not match before and after merging datasets (means that a player wasn't found -- likely because he is a junior or has two last names, etc.)

# To Do

1. Address last name issue
2. Address issue of list not being equal to 30
    - Really need to add TBD or something for the pitchers who are not listed yet
3. Get pitcher xba onto
4. Deal with doubleheaders

In [94]:
batters_df = pd.read_csv('../data/individual_batting_stats.csv')
pitchers_df = pd.read_csv('../data/individual_pitching_stats.csv')
misc_batters = pd.read_csv('../data/batters_teams.csv')
misc_pitchers = pd.read_csv('../data/pitchers_teams.csv')

In [95]:
# duplicate_name_check = pitchers_df[['first_name', 'last_name']]

In [96]:
batters_df[batters_df['last_name'].str.contains(" ")]

,last_name,first_name,player_id,year,b_k_percent,b_bb_percent,batting_avg,xba,xslg,xwoba,xobp,xiso,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 15
5,Cruz Jr.,Nelson,443558,2022,18.2,10.6,0.181,0.264,0.500,0.359,0.344,0.236,90.2,6.9,10.8,NaN
19,Brantley Jr.,Michael,488726,2022,12.3,9.8,0.275,0.318,0.539,0.390,0.385,0.222,89.5,11.5,8.4,NaN
65,Springer III,George,543807,2022,21.4,6.9,0.278,0.273,0.491,0.354,0.340,0.219,90.8,16.2,10.0,NaN
95,Voit III,Luke,572228,2022,30.9,17.6,0.204,0.192,0.370,0.321,0.344,0.179,88.3,20.5,11.8,NaN
140,Bradley Jr.,Jackie,598265,2022,24.8,8.6,0.189,0.224,0.351,0.281,0.291,0.128,90.2,10.0,2.9,NaN
236,Mancini III,Trey,641820,2022,20.5,6.3,0.287,0.309,0.523,0.375,0.361,0.215,90.1,10.8,8.8,NaN
273,De La Cruz,Bryan,650559,2022,23.7,15.8,0.290,0.247,0.377,0.326,0.360,0.130,86.1,10.3,4.3,NaN
282,Mullins II,Cedric,656775,2022,18.9,5.4,0.269,0.262,0.478,0.345,0.328,0.216,90.1,19.4,10.3,NaN
297,Acuna Jr.,Ronald,660670,2022,37.0,13.0,0.282,0.280,0.656,0.432,0.390,0.376,94.0,3.1,27.3,NaN
315,Rivas III,Alfonso,663845,2022,28.0,16.0,0.262,0.223,0.377,0.316,0.350,0.155,87.5,-2.4,7.1,NaN
336,Guerrero Jr.,Vladimir,665489,2022,18.8,9.8,0.284,0.311,0.584,0.405,0.388,0.273,93.0,5.8,11.8,NaN
340,Chisholm Jr.,Jazz,665862,2022,23.9,6.4,0.283,0.293,0.602,0.396,0.343,0.309,91.2,17.9,16.0,NaN
351,Gurriel Jr.,Lourdes,666971,2022,17.7,4.6,0.227,0.249,0.438,0.318,0.302,0.189,91.1,13.8,5.1,NaN
376,Friedl Jr.,TJ,670770,2022,19.6,7.1,0.204,0.230,0.336,0.279,0.294,0.106,88.2,12.4,5.0,NaN
389,Witt Jr.,Bobby,677951,2022,24.6,2.5,0.211,0.203,0.295,0.227,0.230,0.093,87.5,15.8,3.5,NaN

In [97]:
len(batters_df)

399

In [98]:
# bat_xbadiff = batters_df[['last_name', 'first_name', 'xbadiff','batting_avg', 'xba']]
#Make a table with just the xBA difference

In [99]:
# pitch_xbadiff = pitchers_df[['last_name', 'first_name', 'xbadiff', 'batting_avg', 'xba']]
# pitch_xbadiff.sort_values('xba', ascending=False)

# Probable Pitchers

In [100]:
d = datetime.datetime.now()
today = d.strftime("%Y-%m-%d")
#Get today's date

In [101]:
url = f'https://www.mlb.com/probable-pitchers/{today}'
#URL of where I will get the pitchers' names

In [102]:
res = requests.get(url)
soup = BeautifulSoup(res.content)
#Making request to the site and storing it in soup

In [103]:
# pitchers = soup.find_all('div', {'class': 'probable-pitchers__pitcher-name'})

In [104]:
pitchers = soup.find_all('a', {'class': 'probable-pitchers__pitcher-name-link'})
probable_pitchers = []
for i in pitchers:
    probable_pitchers.append(str(i))
#Finding all of the pitchers' names within that <a> tag
#Using for loop to convert the beautiful soup elements in the list to strings so I can get only the pitcher's name from there

#Important to note that if a pitcher is TBD then he is skipped, so need to figure out how to account for that

In [105]:
probable_pitchers = [i.split('">')[1] for i in probable_pitchers] 
#Getting only the pitchers' names

In [106]:
probable_pitchers

['Dylan Cease</a>',
 'Jonathan Heasley</a>',
 'Tyler Gilbert</a>',
 'Ryan Pepiot</a>',
 'Miles Mikolas</a>',
 'Trevor Williams</a>',
 'Steven Matz</a>',
 'Taijuan Walker</a>',
 'Connor Overton</a>',
 'Zach Plesac</a>',
 'Beau Brieske</a>',
 'Shane McClanahan</a>',
 'Joan Adon</a>',
 'Cody Poteet</a>',
 'Mike Clevinger</a>',
 'Jameson Taillon</a>',
 'Spenser Watkins</a>',
 'Logan Gilbert</a>',
 'Jose Berrios</a>',
 'Davis Martin</a>',
 'Brady Singer</a>',
 'Jose Urquidy</a>',
 'Nathan Eovaldi</a>',
 'JT Brubaker</a>',
 'Keegan Thompson</a>',
 'Tucker Davidson</a>',
 'Adrian Houser</a>',
 'Reid Detmers</a>',
 'Taylor Hearn</a>',
 'Alex Cobb</a>',
 'Chad Kuhl</a>',
 'Dylan Bundy</a>',
 'James Kaprielian</a>',
 'Merrill Kelly</a>',
 'Tyler Anderson</a>']

In [107]:
probable_pitchers = [i.split('</a')[0] for i in probable_pitchers] 
#Getting only the pitchers' names part 2

In [108]:
probable_pitchers = [i.split() for i in probable_pitchers]
#Splitting name into first and last name columns

In [109]:
probable_pitchers.insert(15, ['Aaron', 'Nola'])
#Temporary

In [110]:
df_probable_pitchers = pd.DataFrame(probable_pitchers)
#Setting list as Pandas DF

In [111]:
df_probable_pitchers = df_probable_pitchers.rename(columns={0: "first_name", 1: "last_name"})
#Renaming column

# Get Pitchers' Teams

In [112]:
new_teams = soup.find_all('span', {'class':['probable-pitchers__team-name probable-pitchers__team-name--away', 'probable-pitchers__team-name probable-pitchers__team-name--home']})
teams_of_probable_pitchers = []
for i in new_teams:
    teams_of_probable_pitchers.append(str(i))
#Finding all of the pitchers' names within that <a> tag
#Using for loop to convert the beautiful soup elements in the list to strings so I can get only the pitcher's name from there

In [113]:
teams_of_probable_pitchers = [x.strip(' ') for x in teams_of_probable_pitchers]
#Getting only the pitchers' names

In [114]:
teams_of_probable_pitchers = [i.split('>\n')[1] for i in teams_of_probable_pitchers] 
#Getting only the pitchers' names

In [115]:
teams_of_probable_pitchers = teams_of_probable_pitchers = [x.strip('                             ') for x in teams_of_probable_pitchers]
#Stripping white space

In [116]:
teams_of_probable_pitchers = [i.split('\n')[0] for i in teams_of_probable_pitchers]

In [117]:
len(teams_of_probable_pitchers)

36

In [119]:
df_probable_pitchers['team'] = teams_of_probable_pitchers
#Putting team on this way, now we just need to change it to the abbreviation

In [120]:
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Astros', 'HOU', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Nationals', 'WAS', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Giants', 'SF', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Blue Jays', 'TOR', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Angels', 'LAA', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'White Sox', 'CWS', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Guardians', 'CLE', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Athletics', 'OAK', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Twins', 'MIN', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Rays', 'TB', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Mariners', 'SEA', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Marlins', 'MIA', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Padres', 'SD', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Pirates', 'PIT', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Red Sox', 'BOS', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Orioles', 'BAL', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Braves', 'ATL', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Rangers', 'TEX', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Phillies', 'PHI', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Mets', 'NYM', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Yankees', 'NYY', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Royals', 'KC', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Cubs', 'CHC', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Brewers', 'MIL', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Reds', 'CIN', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Rockies', 'COL', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Tigers', 'DET', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Dodgers', 'LAD', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'D-backs', 'ARI', df_probable_pitchers['team'])
df_probable_pitchers['team'] = np.where(df_probable_pitchers['team'] == 'Cardinals', 'STL', df_probable_pitchers['team'])
#Changing team nickname to abbreviation so it will match the other DF -- Will clean this up in the future

In [121]:
misc_pitchers = misc_pitchers[['Player', 'Team']]
#All we need from this is their names and the team, because we will merge it with the other df to get the name on there

In [122]:
misc_pitchers[['first_name', 'last_name']] = misc_pitchers['Player'].str.split(' ', 1, expand=True)
#Separating 'Player' column into two columns for first and last to match probable_pitchers df

In [123]:
misc_pitchers = misc_pitchers.drop(columns='Player')
#We don't need this full name column anymore

In [124]:
misc_pitchers = misc_pitchers.rename(columns={"Team": "team"})
#Make this lowercase so it matches team column in probable pitchers

In [125]:
misc_pitchers = misc_pitchers[['last_name', 'first_name', 'team']]
#reordering columns

# Get Batters' Teams

In [126]:
misc_batters = misc_batters[['Player', 'Team']]
#All we need from this is their names and the team, because we will merge it with the other df to get the name on there

In [127]:
misc_batters[['first_name', 'last_name']] = misc_batters['Player'].str.split(' ', 1, expand=True)
#Separating 'Player' column into two columns for first and last to match probable_pitchers df

In [128]:
misc_batters = misc_batters.drop(columns='Player')
#We don't need this full name column anymore

In [129]:
misc_batters = misc_batters[['last_name', 'first_name', 'Team']]
#Reordering columns

In [130]:
len(df_probable_pitchers)

36

In [131]:
pitchers_df['first_name'] = pitchers_df['first_name'].str.strip()
batters_df['first_name'] = batters_df['first_name'].str.strip()
#Removing empty space in these column entries for example this makes ' Cabrera' => 'Cabrera'

batters_df and pitchers_df front names all have a space in front of them and that's why merge is not working

# Attaching according Team Name to each player in all DFs

The datasets on Baseball Savant do not include the team name with they players, so I will add them in

In [132]:
df_probable_pitchers = pd.merge(df_probable_pitchers, misc_pitchers, on=['last_name', 'first_name', 'team'], how='left')
pitchers_df = pd.merge(pitchers_df, misc_pitchers, on=['last_name', 'first_name'], how='inner')
batters_df = pd.merge(batters_df, misc_batters, on=['last_name', 'first_name'], how='inner')
#Adding team to all of the players
#Joining probables as a left join so it will include all of the probables without exception -- may make one of their stats
# unavailable if they don't have enough PAs

In [133]:
# ^^^^ FOR PROBABLE PITCHERS MATCH IT ON TEAM AS WELL. THAT WILL AVOID THE LUIS GARCIA SITUATION

In [134]:
# pitchers_df.loc[pitchers_df['last_name'] == 'Garcia']
#So somewhere it has duplicated Garcia

In [135]:
hello = pd.merge(df_probable_pitchers, pitchers_df)
#test

In [136]:
df_probable_pitchers = pd.merge(df_probable_pitchers, pitchers_df, on=['team', 'last_name', 'first_name'], how='left')
#Adding stats to probable pitchers

#This is what is adding the other Luis Garcia

# Which player to pick for BTS

In [137]:
pp_xba = df_probable_pitchers[['last_name', 'first_name', 'team', 'batting_avg', 'xba', 'xslg', 'p_bb_percent']]
#How can I compare this to batters df??

In [138]:
pp_xba.rename(columns= {'xba': 'pitcher_xba'})
#Eventually might move this to another df or merge, unclear

     last_name first_name team  batting_avg  pitcher_xba   xslg  p_bb_percent
0        Cease      Dylan  CWS        0.193        0.170  0.287           9.6
1      Heasley   Jonathan   KC          NaN          NaN    NaN           NaN
2      Gilbert      Tyler  ARI        0.161        0.301  0.537           5.9
3       Pepiot       Ryan  LAD          NaN          NaN    NaN           NaN
4      Mikolas      Miles  STL        0.206        0.234  0.357           4.8
5     Williams     Trevor  NYM        0.327        0.287  0.389           3.8
6         Matz     Steven  STL        0.299        0.303  0.482           5.5
7       Walker    Taijuan  NYM        0.215        0.258  0.477           7.1
8      Overton     Connor  CIN          NaN          NaN    NaN           NaN
9       Plesac       Zach  CLE        0.260        0.311  0.578           7.0
10     Brieske       Beau  DET        0.195        0.284  0.567          11.5
11  McClanahan      Shane   TB        0.184        0.201  0.361           6.6
12        Adon       Joan  WAS        0.260        0.293  0.572          15.2
13      Poteet       Cody  MIA        0.161        0.236  0.324          11.1
14   Clevinger       Mike   SD          NaN          NaN    NaN           NaN
15        Nola      Aaron  PHI        0.223        0.210  0.367           4.4
16     Taillon    Jameson  NYY        0.273        0.246  0.425           2.3
17     Watkins    Spenser  BAL        0.279        0.312  0.597          10.2
18     Gilbert      Logan  SEA        0.203        0.251  0.411           9.2
19     Berrios       Jose  TOR        0.292        0.335  0.645           7.0
20      Martin      Davis  CWS          NaN          NaN    NaN           NaN
21      Singer      Brady   KC        0.292        0.241  0.425           3.8
22     Urquidy       Jose  HOU        0.296        0.320  0.631           3.3
23     Eovaldi     Nathan  BOS        0.235        0.271  0.529           4.3
24    Brubaker         JT  PIT        0.218        0.227  0.451          11.8
25    Thompson     Keegan  CHC        0.209        0.208  0.360           9.4
26    Davidson     Tucker  ATL          NaN          NaN    NaN           NaN
27      Houser     Adrian  MIL        0.237        0.267  0.415          11.2
28     Detmers       Reid  LAA        0.165        0.255  0.450           6.7
29       Hearn     Taylor  TEX        0.284        0.293  0.525          11.0
30        Cobb       Alex   SF        0.247        0.157  0.204           9.0
31        Kuhl       Chad  COL        0.189        0.241  0.387           8.8
32       Bundy      Dylan  MIN        0.277        0.261  0.429           4.7
33  Kaprielian      James  OAK          NaN          NaN    NaN           NaN
34       Kelly    Merrill  ARI        0.229        0.253  0.420           6.5
35    Anderson      Tyler  LAD        0.245        0.253  0.482           4.2

In [139]:
#Temporary
# pp_xba = pp_xba.drop([0])
# pp_xba = pp_xba.reset_index(drop=True)

One thing I could do is... switch the one column with the next, and then merge it with the batter's df
So for example if Oakland is playing Cleveland, I can switch the pitchers with each other. So Oakland's pitcher will be on Cleveland, and then I will have the pitcher xba to match with the team. Then I can basically set that for every member of the team, and then add that with the hitter xba and see if it meets the condition

In [140]:
pp_xba.sort_values(by='xba', ascending=False)

     last_name first_name team  batting_avg    xba   xslg  p_bb_percent
19     Berrios       Jose  TOR        0.292  0.335  0.645           7.0
22     Urquidy       Jose  HOU        0.296  0.320  0.631           3.3
17     Watkins    Spenser  BAL        0.279  0.312  0.597          10.2
9       Plesac       Zach  CLE        0.260  0.311  0.578           7.0
6         Matz     Steven  STL        0.299  0.303  0.482           5.5
2      Gilbert      Tyler  ARI        0.161  0.301  0.537           5.9
12        Adon       Joan  WAS        0.260  0.293  0.572          15.2
29       Hearn     Taylor  TEX        0.284  0.293  0.525          11.0
5     Williams     Trevor  NYM        0.327  0.287  0.389           3.8
10     Brieske       Beau  DET        0.195  0.284  0.567          11.5
23     Eovaldi     Nathan  BOS        0.235  0.271  0.529           4.3
27      Houser     Adrian  MIL        0.237  0.267  0.415          11.2
32       Bundy      Dylan  MIN        0.277  0.261  0.429           4.7
7       Walker    Taijuan  NYM        0.215  0.258  0.477           7.1
28     Detmers       Reid  LAA        0.165  0.255  0.450           6.7
34       Kelly    Merrill  ARI        0.229  0.253  0.420           6.5
35    Anderson      Tyler  LAD        0.245  0.253  0.482           4.2
18     Gilbert      Logan  SEA        0.203  0.251  0.411           9.2
16     Taillon    Jameson  NYY        0.273  0.246  0.425           2.3
21      Singer      Brady   KC        0.292  0.241  0.425           3.8
31        Kuhl       Chad  COL        0.189  0.241  0.387           8.8
13      Poteet       Cody  MIA        0.161  0.236  0.324          11.1
4      Mikolas      Miles  STL        0.206  0.234  0.357           4.8
24    Brubaker         JT  PIT        0.218  0.227  0.451          11.8
15        Nola      Aaron  PHI        0.223  0.210  0.367           4.4
25    Thompson     Keegan  CHC        0.209  0.208  0.360           9.4
11  McClanahan      Shane   TB        0.184  0.201  0.361           6.6
0        Cease      Dylan  CWS        0.193  0.170  0.287           9.6
30        Cobb       Alex   SF        0.247  0.157  0.204           9.0
1      Heasley   Jonathan   KC          NaN    NaN    NaN           NaN
3       Pepiot       Ryan  LAD          NaN    NaN    NaN           NaN
8      Overton     Connor  CIN          NaN    NaN    NaN           NaN
14   Clevinger       Mike   SD          NaN    NaN    NaN           NaN
20      Martin      Davis  CWS          NaN    NaN    NaN           NaN
26    Davidson     Tucker  ATL          NaN    NaN    NaN           NaN
33  Kaprielian      James  OAK          NaN    NaN    NaN           NaN

In [159]:
batters_df.loc[batters_df['Team'] == 'TOR']

,last_name,first_name,player_id,year,b_k_percent,b_bb_percent,batting_avg,xba,xslg,xwoba,xobp,xiso,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 15,Team,pitcher_xba,xba_total
175,Zimmer,Bradley,605548,2022,45.2,2.4,0.075,0.112,0.187,0.154,0.154,0.075,85.5,4.4,4.8,NaN,TOR,0.251,0.363
178,Tapia,Raimel,606132,2022,19.2,1.9,0.232,0.280,0.433,0.308,0.292,0.153,87.9,4.6,7.4,NaN,TOR,0.251,0.531
180,Hernandez,Teoscar,606192,2022,38.1,4.8,0.211,0.206,0.349,0.280,0.281,0.144,93.6,0.2,4.5,NaN,TOR,0.251,0.457
238,Biggio,Cavan,624415,2022,35.7,10.7,0.043,0.164,0.241,0.269,0.313,0.077,89.1,19.3,0.0,NaN,TOR,0.251,0.415
261,Collins,Zack,641470,2022,40.3,6.5,0.211,0.207,0.412,0.292,0.271,0.205,93.9,28.0,12.5,NaN,TOR,0.251,0.458
319,Chapman,Matt,656305,2022,28.3,9.4,0.193,0.235,0.454,0.337,0.312,0.220,92.1,22.1,10.1,NaN,TOR,0.251,0.486
395,Bichette,Bo,666182,2022,25.5,4.8,0.246,0.295,0.463,0.339,0.329,0.169,92.0,5.8,7.9,NaN,TOR,0.251,0.546
415,Espinal,Santiago,669289,2022,18.8,9.4,0.269,0.304,0.463,0.362,0.375,0.159,88.3,17.0,7.2,NaN,TOR,0.251,0.555
429,Kirk,Alejandro,672386,2022,8.9,10.9,0.261,0.257,0.402,0.318,0.336,0.145,89.1,8.3,4.9,NaN,TOR,0.251,0.508

In [142]:
pp_xba['Team'] = " "
#New column to house when I switch the teams with each other
#I'm doing this so I can eventually merge it onto the batters' df with the hitters' team

C:\Users\User\AppData\Local\Temp/ipykernel_16224/1964202557.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'] = " "

# Getting Pitcher Stats onto Batter DF

FOR NOW, UNTIL I CLEAN THE BELOW UP A LITTLE MORE AND HAVE IT ITERATE THROUGH AND ADJUST TO THE NUMBER OF ROWS PER DAY, JUST USE THE AMOUNT OF ROWS THAT THE LEN() SHOWS AND COMMENT OUT THE REST

In [143]:
len(pp_xba)

36

In [144]:
pp_xba['Team'][0] = pp_xba['team'][1]
pp_xba['Team'][1] = pp_xba['team'][0]
pp_xba['Team'][2] = pp_xba['team'][3]
pp_xba['Team'][3] = pp_xba['team'][2]
pp_xba['Team'][4] = pp_xba['team'][5]
pp_xba['Team'][5] = pp_xba['team'][4]
pp_xba['Team'][6] = pp_xba['team'][7]
pp_xba['Team'][7] = pp_xba['team'][6]
pp_xba['Team'][8] = pp_xba['team'][9]
pp_xba['Team'][9] = pp_xba['team'][8]
pp_xba['Team'][10] = pp_xba['team'][11]
pp_xba['Team'][11] = pp_xba['team'][10]
pp_xba['Team'][12] = pp_xba['team'][13]
pp_xba['Team'][13] = pp_xba['team'][12]
pp_xba['Team'][14] = pp_xba['team'][15]
pp_xba['Team'][15] = pp_xba['team'][14]
pp_xba['Team'][16] = pp_xba['team'][17]
pp_xba['Team'][17] = pp_xba['team'][16]
pp_xba['Team'][18] = pp_xba['team'][19]
pp_xba['Team'][19] = pp_xba['team'][18]
pp_xba['Team'][20] = pp_xba['team'][21]
pp_xba['Team'][21] = pp_xba['team'][20]
pp_xba['Team'][22] = pp_xba['team'][23]
pp_xba['Team'][23] = pp_xba['team'][22]
pp_xba['Team'][24] = pp_xba['team'][25]
pp_xba['Team'][25] = pp_xba['team'][24]
pp_xba['Team'][26] = pp_xba['team'][27]
pp_xba['Team'][27] = pp_xba['team'][26]
pp_xba['Team'][28] = pp_xba['team'][29]
pp_xba['Team'][29] = pp_xba['team'][28]
pp_xba['Team'][30] = pp_xba['team'][31]
pp_xba['Team'][31] = pp_xba['team'][30]
pp_xba['Team'][32] = pp_xba['team'][33]
pp_xba['Team'][33] = pp_xba['team'][32]
pp_xba['Team'][34] = pp_xba['team'][35]
pp_xba['Team'][35] = pp_xba['team'][34]

C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][0] = pp_xba['team'][1]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][1] = pp_xba['team'][0]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][2] = pp_xba['team'][3]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][3] = pp_xba['team'][2]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][4] = pp_xba['team'][5]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][5] = pp_xba['team'][4]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][6] = pp_xba['team'][7]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][7] = pp_xba['team'][6]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][8] = pp_xba['team'][9]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][9] = pp_xba['team'][8]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][10] = pp_xba['team'][11]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][11] = pp_xba['team'][10]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][12] = pp_xba['team'][13]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][13] = pp_xba['team'][12]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][14] = pp_xba['team'][15]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][15] = pp_xba['team'][14]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][16] = pp_xba['team'][17]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][17] = pp_xba['team'][16]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][18] = pp_xba['team'][19]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][19] = pp_xba['team'][18]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][20] = pp_xba['team'][21]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][21] = pp_xba['team'][20]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][22] = pp_xba['team'][23]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][23] = pp_xba['team'][22]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][24] = pp_xba['team'][25]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][25] = pp_xba['team'][24]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][26] = pp_xba['team'][27]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][27] = pp_xba['team'][26]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][28] = pp_xba['team'][29]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][29] = pp_xba['team'][28]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][30] = pp_xba['team'][31]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][31] = pp_xba['team'][30]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][32] = pp_xba['team'][33]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][33] = pp_xba['team'][32]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][34] = pp_xba['team'][35]
C:\Users\User\AppData\Local\Temp/ipykernel_16224/1528869800.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pp_xba['Team'][35] = pp_xba['team'][34]

In [145]:
pp_xba.head()

  last_name first_name team  batting_avg    xba   xslg  p_bb_percent Team
0     Cease      Dylan  CWS        0.193  0.170  0.287           9.6   KC
1   Heasley   Jonathan   KC          NaN    NaN    NaN           NaN  CWS
2   Gilbert      Tyler  ARI        0.161  0.301  0.537           5.9  LAD
3    Pepiot       Ryan  LAD          NaN    NaN    NaN           NaN  ARI
4   Mikolas      Miles  STL        0.206  0.234  0.357           4.8  NYM

In [146]:
# i = i + 1
# and i - 1 = i
#For odd numbers or something

In [147]:
# pp_xba.loc[0,'Team'] = pp_xba.loc[1,'Team']
# this works

In [148]:
pp_xba.head()

  last_name first_name team  batting_avg    xba   xslg  p_bb_percent Team
0     Cease      Dylan  CWS        0.193  0.170  0.287           9.6   KC
1   Heasley   Jonathan   KC          NaN    NaN    NaN           NaN  CWS
2   Gilbert      Tyler  ARI        0.161  0.301  0.537           5.9  LAD
3    Pepiot       Ryan  LAD          NaN    NaN    NaN           NaN  ARI
4   Mikolas      Miles  STL        0.206  0.234  0.357           4.8  NYM

In [149]:
pp_xba = pp_xba.rename(columns={"batting_avg": "pitcher_batting_avg", "xba": "pitcher_xba"})
#Renaming columns for clarity

In [150]:
# pp_xba = pp_xba.drop([8])
#temporary

In [151]:
batters_df = pd.merge(batters_df, pp_xba[['Team','pitcher_xba']],on='Team', how='left')
#Getting pitcher data onto batters df

In [152]:
xba_sum = batters_df['xba'] + batters_df['pitcher_xba']
#Adding sum

In [153]:
batters_df['xba_total'] = xba_sum
#Adding xba sum into the batters dataframe

# Which Hitters to pick for BTS

# Best Picks for Today

In [154]:
best_picks = batters_df[(batters_df['xba'] > .300) & (batters_df['pitcher_xba'] > .300) & (batters_df['xba_total'] > .650)]
best_picks

,last_name,first_name,player_id,year,b_k_percent,b_bb_percent,batting_avg,xba,xslg,xwoba,xobp,xiso,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 15,Team,pitcher_xba,xba_total
364,France,Ty,664034,2022,9.5,7.4,0.326,0.324,0.504,0.389,0.401,0.18,88.6,6.9,5.2,NaN,SEA,0.335,0.659

In [155]:
second_best = batters_df[(batters_df['xba'] > .290) & (batters_df['pitcher_xba'] > .290) & (batters_df['xba_total'] > .625)]
second_best

,last_name,first_name,player_id,year,b_k_percent,b_bb_percent,batting_avg,xba,xslg,xwoba,xobp,xiso,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 15,Team,pitcher_xba,xba_total
42,Freeman,Freddie,518692,2022,13.0,13.0,0.310,0.327,0.648,0.446,0.424,0.320,91.7,14.4,13.0,NaN,LAD,0.301,0.628
50,Stanton,Giancarlo,519317,2022,29.1,6.3,0.284,0.321,0.661,0.443,0.376,0.340,98.4,11.3,26.8,NaN,NYY,0.312,0.633
100,Haniger,Mitch,571745,2022,25.0,2.8,0.200,0.303,0.645,0.399,0.322,0.342,93.3,24.0,19.2,NaN,SEA,0.335,0.638
127,Judge,Aaron,592450,2022,27.6,10.4,0.305,0.324,0.778,0.478,0.397,0.454,96.7,13.0,29.3,NaN,NYY,0.312,0.636
173,Davis,J.D.,605204,2022,24.2,14.5,0.200,0.325,0.613,0.454,0.447,0.289,94.3,8.9,16.7,NaN,NYM,0.303,0.628
197,Winker,Jesse,608385,2022,13.2,14.0,0.207,0.306,0.455,0.371,0.401,0.149,87.5,14.9,4.0,NaN,SEA,0.335,0.641
198,Murphy,Tom,608596,2022,31.0,19.0,0.303,0.310,0.588,0.437,0.444,0.278,94.3,13.4,20.0,NaN,SEA,0.335,0.645
262,Crawford,J.P.,641487,2022,15.6,10.9,0.330,0.298,0.438,0.365,0.392,0.139,84.0,11.1,4.4,NaN,SEA,0.335,0.633
307,Devers,Rafael,646240,2022,16.5,4.3,0.308,0.307,0.537,0.367,0.337,0.230,93.0,8.4,10.9,NaN,BOS,0.320,0.627
314,Torres,Gleyber,650402,2022,16.2,4.8,0.240,0.326,0.620,0.410,0.362,0.294,93.1,17.5,11.0,NaN,NYY,0.312,0.638
364,France,Ty,664034,2022,9.5,7.4,0.326,0.324,0.504,0.389,0.401,0.180,88.6,6.9,5.2,NaN,SEA,0.335,0.659

In [156]:
third_best = batters_df[(batters_df['xba'] > .275) & (batters_df['pitcher_xba'] > .275) & (batters_df['xba_total'] > .580)]
third_best.sort_values('xba_total', ascending = False)

,last_name,first_name,player_id,year,b_k_percent,b_bb_percent,batting_avg,xba,xslg,xwoba,xobp,xiso,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 15,Team,pitcher_xba,xba_total
233,Ramirez,Harold,623912,2022,11.3,7.0,0.297,0.383,0.564,0.422,0.430,0.181,91.1,1.6,7.0,NaN,TB,0.284,0.667
364,France,Ty,664034,2022,9.5,7.4,0.326,0.324,0.504,0.389,0.401,0.180,88.6,6.9,5.2,NaN,SEA,0.335,0.659
198,Murphy,Tom,608596,2022,31.0,19.0,0.303,0.310,0.588,0.437,0.444,0.278,94.3,13.4,20.0,NaN,SEA,0.335,0.645
197,Winker,Jesse,608385,2022,13.2,14.0,0.207,0.306,0.455,0.371,0.401,0.149,87.5,14.9,4.0,NaN,SEA,0.335,0.641
100,Haniger,Mitch,571745,2022,25.0,2.8,0.200,0.303,0.645,0.399,0.322,0.342,93.3,24.0,19.2,NaN,SEA,0.335,0.638
314,Torres,Gleyber,650402,2022,16.2,4.8,0.240,0.326,0.620,0.410,0.362,0.294,93.1,17.5,11.0,NaN,NYY,0.312,0.638
127,Judge,Aaron,592450,2022,27.6,10.4,0.305,0.324,0.778,0.478,0.397,0.454,96.7,13.0,29.3,NaN,NYY,0.312,0.636
262,Crawford,J.P.,641487,2022,15.6,10.9,0.330,0.298,0.438,0.365,0.392,0.139,84.0,11.1,4.4,NaN,SEA,0.335,0.633
50,Stanton,Giancarlo,519317,2022,29.1,6.3,0.284,0.321,0.661,0.443,0.376,0.340,98.4,11.3,26.8,NaN,NYY,0.312,0.633
173,Davis,J.D.,605204,2022,24.2,14.5,0.200,0.325,0.613,0.454,0.447,0.289,94.3,8.9,16.7,NaN,NYM,0.303,0.628
42,Freeman,Freddie,518692,2022,13.0,13.0,0.310,0.327,0.648,0.446,0.424,0.320,91.7,14.4,13.0,NaN,LAD,0.301,0.628
307,Devers,Rafael,646240,2022,16.5,4.3,0.308,0.307,0.537,0.367,0.337,0.230,93.0,8.4,10.9,NaN,BOS,0.320,0.627
440,Franco,Wander,677551,2022,10.4,3.7,0.295,0.341,0.537,0.384,0.368,0.196,89.8,8.1,6.9,NaN,TB,0.284,0.625
228,Margot,Manuel,622534,2022,13.1,9.1,0.337,0.340,0.505,0.391,0.408,0.164,91.2,16.0,6.6,NaN,TB,0.284,0.624
47,LeMahieu,DJ,518934,2022,13.0,8.9,0.282,0.307,0.489,0.375,0.381,0.182,89.6,6.0,6.4,NaN,NYY,0.312,0.619
30,Martinez,J.D.,502110,2022,26.4,5.7,0.306,0.297,0.566,0.389,0.346,0.269,90.5,10.1,15.5,NaN,BOS,0.320,0.617
239,Frazier,Adam,624428,2022,11.4,10.0,0.264,0.281,0.411,0.335,0.359,0.129,86.3,10.8,1.8,NaN,SEA,0.335,0.616
334,Verdugo,Alex,657077,2022,11.9,6.3,0.219,0.295,0.557,0.360,0.331,0.262,89.3,5.7,9.7,NaN,BOS,0.320,0.615
137,Bogaerts,Xander,593428,2022,22.1,6.9,0.347,0.286,0.438,0.337,0.341,0.152,88.6,6.0,6.5,NaN,BOS,0.320,0.606
85,Trout,Mike,545361,2022,24.0,16.5,0.323,0.313,0.779,0.491,0.438,0.465,92.9,22.5,27.1,NaN,LAA,0.293,0.606
29,Pham,Tommy,502054,2022,24.6,16.2,0.239,0.293,0.540,0.404,0.407,0.247,93.6,6.9,11.7,NaN,CIN,0.311,0.604
220,Ward,Taylor,621493,2022,20.6,18.6,0.361,0.306,0.603,0.437,0.437,0.297,87.8,11.0,14.5,NaN,LAA,0.293,0.599
203,Reynolds,Matt,608703,2022,27.8,19.4,0.310,0.281,0.341,0.351,0.420,0.061,89.6,4.6,0.0,NaN,CIN,0.311,0.592
412,Smith,Will,669257,2022,17.6,12.9,0.260,0.291,0.517,0.389,0.391,0.226,89.8,16.0,8.6,NaN,LAD,0.301,0.592
240,Trevino,Jose,624431,2022,12.5,6.3,0.178,0.278,0.398,0.313,0.323,0.121,86.1,12.8,2.6,NaN,NYY,0.312,0.590
225,Wendle,Joey,621563,2022,11.5,8.0,0.304,0.296,0.410,0.339,0.362,0.114,88.0,0.8,1.4,NaN,MIA,0.293,0.589
185,Nimmo,Brandon,607043,2022,15.9,15.9,0.301,0.286,0.484,0.387,0.407,0.199,91.3,4.8,10.6,NaN,NYM,0.303,0.589
187,Turner,Trea,607208,2022,18.4,8.8,0.273,0.286,0.427,0.342,0.356,0.140,90.6,5.0,5.1,NaN,LAD,0.301,0.587
166,Barnes,Austin,605131,2022,15.4,7.7,0.286,0.286,0.569,0.392,0.359,0.283,91.2,14.9,10.3,NaN,LAD,0.301,0.587
236,Alonso,Pete,624413,2022,21.9,7.5,0.271,0.281,0.559,0.377,0.351,0.278,89.6,16.6,13.1,NaN,NYM,0.303,0.584
301,McNeil,Jeff,643446,2022,11.5,9.0,0.318,0.279,0.415,0.335,0.350,0.136,88.2,10.3,2.1,NaN,NYM,0.303,0.582

In [157]:
gods = batters_df[batters_df['xba_total'] > .625]
gods

,last_name,first_name,player_id,year,b_k_percent,b_bb_percent,batting_avg,xba,xslg,xwoba,xobp,xiso,exit_velocity_avg,launch_angle_avg,barrel_batted_rate,Unnamed: 15,Team,pitcher_xba,xba_total
42,Freeman,Freddie,518692,2022,13.0,13.0,0.310,0.327,0.648,0.446,0.424,0.320,91.7,14.4,13.0,NaN,LAD,0.301,0.628
50,Stanton,Giancarlo,519317,2022,29.1,6.3,0.284,0.321,0.661,0.443,0.376,0.340,98.4,11.3,26.8,NaN,NYY,0.312,0.633
100,Haniger,Mitch,571745,2022,25.0,2.8,0.200,0.303,0.645,0.399,0.322,0.342,93.3,24.0,19.2,NaN,SEA,0.335,0.638
127,Judge,Aaron,592450,2022,27.6,10.4,0.305,0.324,0.778,0.478,0.397,0.454,96.7,13.0,29.3,NaN,NYY,0.312,0.636
173,Davis,J.D.,605204,2022,24.2,14.5,0.200,0.325,0.613,0.454,0.447,0.289,94.3,8.9,16.7,NaN,NYM,0.303,0.628
177,Arcia,Orlando,606115,2022,18.9,13.5,0.355,0.368,0.733,0.476,0.444,0.365,94.3,17.7,16.0,NaN,ATL,0.267,0.635
197,Winker,Jesse,608385,2022,13.2,14.0,0.207,0.306,0.455,0.371,0.401,0.149,87.5,14.9,4.0,NaN,SEA,0.335,0.641
198,Murphy,Tom,608596,2022,31.0,19.0,0.303,0.310,0.588,0.437,0.444,0.278,94.3,13.4,20.0,NaN,SEA,0.335,0.645
233,Ramirez,Harold,623912,2022,11.3,7.0,0.297,0.383,0.564,0.422,0.430,0.181,91.1,1.6,7.0,NaN,TB,0.284,0.667
262,Crawford,J.P.,641487,2022,15.6,10.9,0.330,0.298,0.438,0.365,0.392,0.139,84.0,11.1,4.4,NaN,SEA,0.335,0.633
307,Devers,Rafael,646240,2022,16.5,4.3,0.308,0.307,0.537,0.367,0.337,0.230,93.0,8.4,10.9,NaN,BOS,0.320,0.627
314,Torres,Gleyber,650402,2022,16.2,4.8,0.240,0.326,0.620,0.410,0.362,0.294,93.1,17.5,11.0,NaN,NYY,0.312,0.638
364,France,Ty,664034,2022,9.5,7.4,0.326,0.324,0.504,0.389,0.401,0.180,88.6,6.9,5.2,NaN,SEA,0.335,0.659